deploy/n8n/workflows/00_common_normalize_text_object.json
{
  "id": "d4f093a8e2f74e39",
  "name": "00 Common Normalize Text Object",
  "description": "Template workflow: convert arbitrary source payloads into the shared NormalizedTextObject contract.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1bfd7614-1f7a-4be9-9019-bf0653866b8a",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      title: 'Example source item',\n      canonical_url: 'https://example.com/post',\n      original_id: 'yt:abc123',\n      author: 'OpenAI',\n      published_at: '2026-04-17T09:00:00-04:00',\n      raw_html: '<p>This is the original HTML body.</p>',\n      raw_text: 'This is the original HTML body.',\n      media_type: 'text'\n    }\n  }\n];"
      },
      "id": "c480e656-1cb9-4d74-9d81-a12b1a3b0986",
      "name": "Example Source Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const crypto = require('crypto');\n\nconst stableHash = (value) => crypto.createHash('sha256').update(String(value), 'utf8').digest('hex');\nconst stripHtml = (value = '') => String(value)\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/&amp;/gi, '&')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst canonicalUrl = String($json.canonical_url || '').trim();\nconst sourceType = String($json.source_type || 'manual').trim() || 'manual';\nconst sourceName = String($json.source_name || 'unknown-source').trim() || 'unknown-source';\nconst originalId = String($json.original_id || '').trim();\nconst title = String($json.title || 'untitled').trim() || 'untitled';\nconst author = String($json.author || '').trim();\nconst publishedAt = new Date($json.published_at || Date.now()).toISOString();\nconst ingestedAt = new Date().toISOString();\nconst mediaType = String($json.media_type || 'text').trim() || 'text';\nconst contentHtml = String($json.raw_html || '').trim();\nconst contentText = String($json.raw_text || stripHtml(contentHtml)).trim();\nconst itemKey = canonicalUrl || (sourceType && originalId ? `${sourceType}:${originalId}` : '') || [title, publishedAt, author].filter(Boolean).join('::');\nconst itemId = stableHash(itemKey);\n\nreturn {\n  json: {\n    item_id: itemId,\n    source_type: sourceType,\n    source_name: sourceName,\n    original_id: originalId,\n    canonical_url: canonicalUrl,\n    title,\n    author,\n    published_at: publishedAt,\n    ingested_at: ingestedAt,\n    media_type: mediaType,\n    content_text: contentText,\n    content_html: contentHtml,\n    upstream_task_id: '',\n    upstream_view_token: '',\n    upstream_summary: '',\n    content_hash: `sha256:${stableHash(contentText)}`,\n    score: 0,\n    category: 'pending',\n    tags: ['inbox', 'ai-information-processor'],\n    dedupe_action: 'full_push',\n    status: 'raw',\n    vault_path: ''\n  }\n};"
      },
      "id": "f83e467e-128a-4fab-b507-3017eb4acb84",
      "name": "Normalize Text Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        240
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        {
          "node": "Example Source Payload",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Example Source Payload": {
      "main": [
        {
          "node": "Normalize Text Object",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "83b9cd35-ae50-4cc4-ace9-824a47c62854",
  "tags": []
}
