deploy/n8n/workflows/01_rss_to_obsidian_raw.json
{
  "id": "D3a7Kp9Lm4Qx2Rst",
  "name": "01 RSS to Obsidian Raw Inbox",
  "description": "Template workflow: RSS ingress -> route transcript candidates into 04, send text items through 00 -> 01a -> 03 pre-LLM dedupe, skip LLM for silent duplicates, run 02 -> 04a only when needed, then write Vault before deferred 03b index commit.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a5f9550a-bf22-48c6-a312-5cf700fe8fc1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "1ca63570-4561-453d-a1b0-7162a9ccfd6a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {},
      "id": "bcf94edb-61a0-4232-9c7e-2018c95f8e6d",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        260,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fef5ef5d-6a54-4b73-b35f-7ff9eec7fe0c",
              "name": "rssSourcesJson",
              "value": "={{$env.RSS_SOURCE_URLS_JSON}}",
              "type": "string"
            },
            {
              "id": "8fb75e0a-4105-42bc-9557-0a2c11c242c8",
              "name": "obsidianInboxDir",
              "value": "={{$env.OBSIDIAN_INBOX_DIR}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f102b58-591b-4d18-bce7-5f4f59a94728",
      "name": "Runtime Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const config = $input.first()?.json || {};\nconst rawSourcesJson = (config.rssSourcesJson || '').trim();\nconst fallbackSources = [\n  {\n    feedUrl: 'http://rsshub:1200/xiaoyuzhou/podcast/648b0b641c48983391a63f98?limit=1',\n    sourceName: '42\\u7ae0\\u7ecf',\n    sourceType: 'podcast'\n  }\n];\n\nconst parseOptionalBoolean = (...values) => {\n  for (const value of values) {\n    if (value === true || value === false) {\n      return value;\n    }\n    if (typeof value === 'number' && Number.isFinite(value)) {\n      if (value === 1) {\n        return true;\n      }\n      if (value === 0) {\n        return false;\n      }\n    }\n    if (typeof value === 'string') {\n      const normalized = value.trim().toLowerCase();\n      if (!normalized) {\n        continue;\n      }\n      if (['true', '1', 'yes', 'y', 'on'].includes(normalized)) {\n        return true;\n      }\n      if (['false', '0', 'no', 'n', 'off'].includes(normalized)) {\n        return false;\n      }\n    }\n  }\n  return null;\n};\n\nlet sources = fallbackSources;\nif (rawSourcesJson) {\n  try {\n    const parsed = JSON.parse(rawSourcesJson);\n    if (!Array.isArray(parsed)) {\n      throw new Error('RSS_SOURCE_URLS_JSON must be a JSON array');\n    }\n    sources = parsed;\n  } catch (error) {\n    throw new Error(`RSS_SOURCE_URLS_JSON parse failed: ${error.message}`);\n  }\n}\n\nconst obsidianInboxDir = (config.obsidianInboxDir || '00_Inbox').trim() || '00_Inbox';\n\nreturn sources.map((source, index) => {\n  const feedUrl = (source.feedUrl || source.url || '').trim();\n  if (!feedUrl) {\n    throw new Error(`Source ${index + 1} is missing feedUrl/url`);\n  }\n\n  const transcriptPollIntervalMs = Number(source.transcriptPollIntervalMs || 0);\n  const transcriptMaxPolls = Number(source.transcriptMaxPolls || 0);\n  const useSpeakerRecognition = parseOptionalBoolean(\n    source.useSpeakerRecognition,\n    source.use_speaker_recognition\n  );\n\n  return {\n    json: {\n      feedUrl,\n      sourceName: source.sourceName || source.name || `source-${index + 1}`,\n      sourceType: source.sourceType || 'rss',\n      routeToTranscript: typeof source.routeToTranscript === 'boolean' ? source.routeToTranscript : null,\n      useSpeakerRecognition,\n      transcriptPollIntervalMs: Number.isFinite(transcriptPollIntervalMs) ? transcriptPollIntervalMs : 0,\n      transcriptMaxPolls: Number.isFinite(transcriptMaxPolls) ? transcriptMaxPolls : 0,\n      obsidianInboxDir\n    }\n  };\n});"
      },
      "id": "eb11ad43-31e8-4e95-9b84-a22f16b83b14",
      "name": "Feed Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        210
      ]
    },
    {
      "parameters": {
        "url": "={{$json.feedUrl}}",
        "options": {}
      },
      "id": "38b97ff2-5e43-4a74-8561-976462f79f1a",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "onError": "continueRegularOutput",
      "position": [
        1020,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const metadata = $input.item.json && typeof $input.item.json === 'object' ? $input.item.json : {};\nconst sourceContext = (() => {\n  try {\n    return $('Feed Sources').item.json || {};\n  } catch {\n    return {};\n  }\n})();\n\nconst parseOptionalBoolean = (...values) => {\n  for (const value of values) {\n    if (value === true || value === false) {\n      return value;\n    }\n    if (typeof value === 'number' && Number.isFinite(value)) {\n      if (value === 1) {\n        return true;\n      }\n      if (value === 0) {\n        return false;\n      }\n    }\n    if (typeof value === 'string') {\n      const normalized = value.trim().toLowerCase();\n      if (!normalized) {\n        continue;\n      }\n      if (['true', '1', 'yes', 'y', 'on'].includes(normalized)) {\n        return true;\n      }\n      if (['false', '0', 'no', 'n', 'off'].includes(normalized)) {\n        return false;\n      }\n    }\n  }\n  return null;\n};\n\nconst sourcePayload = {\n  feedUrl: String(sourceContext.feedUrl || '').trim(),\n  sourceName: String(sourceContext.sourceName || '').trim(),\n  sourceType: String(sourceContext.sourceType || 'rss').trim() || 'rss',\n  routeToTranscript: typeof sourceContext.routeToTranscript === 'boolean' ? sourceContext.routeToTranscript : null,\n  useSpeakerRecognition: parseOptionalBoolean(\n    sourceContext.useSpeakerRecognition,\n    sourceContext.use_speaker_recognition\n  ),\n  transcriptPollIntervalMs: Number(sourceContext.transcriptPollIntervalMs || 0) || 0,\n  transcriptMaxPolls: Number(sourceContext.transcriptMaxPolls || 0) || 0,\n  obsidianInboxDir: String(sourceContext.obsidianInboxDir || '00_Inbox').trim() || '00_Inbox'\n};\n\nif (typeof metadata.error === 'string' && metadata.error.trim()) {\n  return {\n    json: {\n      ok: false,\n      stage: 'rss_read',\n      error: metadata.error.trim(),\n      ...sourcePayload\n    }\n  };\n}\n\nreturn {\n  json: {\n    ok: true,\n    ...sourcePayload,\n    ...metadata\n  }\n};"
      },
      "id": "6db9a897-1c06-43f4-b5ea-4ff198dbcc8b",
      "name": "Normalize RSS Read Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const getSourceKey = ({ feedUrl = '', sourceName = '', sourceType = '' } = {}) => {\n  const normalizedFeedUrl = String(feedUrl || '').trim();\n  const normalizedSourceName = String(sourceName || '').trim();\n  const normalizedSourceType = String(sourceType || '').trim();\n  if (normalizedFeedUrl) {\n    return normalizedFeedUrl;\n  }\n  if (normalizedSourceName || normalizedSourceType) {\n    return `${normalizedSourceName}::${normalizedSourceType}`;\n  }\n  return '';\n};\n\nconst parseOptionalBoolean = (...values) => {\n  for (const value of values) {\n    if (value === true || value === false) {\n      return value;\n    }\n    if (typeof value === 'number' && Number.isFinite(value)) {\n      if (value === 1) {\n        return true;\n      }\n      if (value === 0) {\n        return false;\n      }\n    }\n    if (typeof value === 'string') {\n      const normalized = value.trim().toLowerCase();\n      if (!normalized) {\n        continue;\n      }\n      if (['true', '1', 'yes', 'y', 'on'].includes(normalized)) {\n        return true;\n      }\n      if (['false', '0', 'no', 'n', 'off'].includes(normalized)) {\n        return false;\n      }\n    }\n  }\n  return null;\n};\n\nconst createSourceEntry = ({ feedUrl = '', sourceName = '', sourceType = '', routeToTranscript = null, useSpeakerRecognition = null, transcriptPollIntervalMs = 0, transcriptMaxPolls = 0, obsidianInboxDir = '00_Inbox' } = {}) => ({\n  feedUrl: String(feedUrl || '').trim(),\n  sourceName: String(sourceName || '').trim(),\n  sourceType: String(sourceType || '').trim() || 'rss',\n  routeToTranscript: typeof routeToTranscript === 'boolean' ? routeToTranscript : null,\n  useSpeakerRecognition: parseOptionalBoolean(useSpeakerRecognition),\n  transcriptPollIntervalMs: Number(transcriptPollIntervalMs || 0) || 0,\n  transcriptMaxPolls: Number(transcriptMaxPolls || 0) || 0,\n  obsidianInboxDir: String(obsidianInboxDir || '00_Inbox').trim() || '00_Inbox',\n  rss_status: 'success',\n  rss_error: '',\n  rss_items: []\n});\n\nconst groupedBySource = new Map();\ntry {\n  for (const sourceItem of $('Feed Sources').all()) {\n    const sourceData = sourceItem.json && typeof sourceItem.json === 'object' ? sourceItem.json : {};\n    const sourceKey = getSourceKey({\n      feedUrl: sourceData.feedUrl,\n      sourceName: sourceData.sourceName,\n      sourceType: sourceData.sourceType\n    });\n    if (!sourceKey) {\n      continue;\n    }\n    groupedBySource.set(sourceKey, createSourceEntry(sourceData));\n  }\n} catch {}\n\nfor (const item of $input.all()) {\n  const data = item.json && typeof item.json === 'object' ? item.json : {};\n  const sourceKey = getSourceKey({\n    feedUrl: data.feedUrl || data.feed_url,\n    sourceName: data.sourceName || data.source_name,\n    sourceType: data.sourceType || data.source_type\n  });\n  if (!sourceKey) {\n    continue;\n  }\n  const existing = groupedBySource.get(sourceKey) || createSourceEntry(data);\n  if (data.ok === false && String(data.stage || '').trim() === 'rss_read') {\n    existing.rss_status = 'error';\n    existing.rss_error = String(data.error || 'unknown RSS read error').trim() || 'unknown RSS read error';\n    existing.rss_items = [];\n  } else if (data.ok !== false) {\n    existing.rss_items.push(data);\n  }\n  groupedBySource.set(sourceKey, existing);\n}\n\nreturn Array.from(groupedBySource.values()).map((entry) => ({ json: entry }));"
      },
      "id": "4e9aa23b-d974-4cf2-a2b0-bdd72b598261",
      "name": "Group RSS Results By Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "7e31c8adf5d24b70",
          "mode": "list",
          "cachedResultName": "07 Common Source Last Seen Gate"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "5b61fd4e-e99c-404e-a0a7-a96de01b92c5",
      "name": "07 Common Source Last Seen Gate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput",
      "position": [
        1800,
        210
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.should_continue_to_processing || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "ea0b7e26-90c0-46ca-9cb4-f16d701e04e1",
      "name": "Should Continue After Source Last Seen Gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const sourceContext = $json && typeof $json === 'object' ? $json : {};\n\nconst rawHtml = [\n  $json['content:encoded'],\n  $json.content,\n  $json.contentSnippet,\n  $json.summary,\n  $json.description\n].find((value) => typeof value === 'string' && value.trim()) || '';\nconst description = [\n  $json.contentSnippet,\n  $json.summary,\n  $json.description\n].find((value) => typeof value === 'string' && value.trim()) || '';\nconst sourceType = String(sourceContext.sourceType || sourceContext.source_type || 'rss').trim() || 'rss';\nconst canonicalUrl = String($json.link || $json.guid || '').trim();\nconst lowerSourceType = sourceType.toLowerCase();\n\nconst parseOptionalBoolean = (...values) => {\n  for (const value of values) {\n    if (value === true || value === false) {\n      return value;\n    }\n    if (typeof value === 'number' && Number.isFinite(value)) {\n      if (value === 1) {\n        return true;\n      }\n      if (value === 0) {\n        return false;\n      }\n    }\n    if (typeof value === 'string') {\n      const normalized = value.trim().toLowerCase();\n      if (!normalized) {\n        continue;\n      }\n      if (['true', '1', 'yes', 'y', 'on'].includes(normalized)) {\n        return true;\n      }\n      if (['false', '0', 'no', 'n', 'off'].includes(normalized)) {\n        return false;\n      }\n    }\n  }\n  return null;\n};\n\nconst collectEnclosureCandidates = (value) => {\n  if (!value) {\n    return [];\n  }\n  if (typeof value === 'string') {\n    return [{ url: value.trim(), type: '' }].filter((item) => item.url);\n  }\n  if (Array.isArray(value)) {\n    return value.flatMap(collectEnclosureCandidates);\n  }\n  if (typeof value === 'object') {\n    const url = [value.url, value.link, value.href, value.src]\n      .find((candidate) => typeof candidate === 'string' && candidate.trim()) || '';\n    const type = [value.type, value.mimeType]\n      .find((candidate) => typeof candidate === 'string' && candidate.trim()) || '';\n    return url ? [{ url: url.trim(), type: type.trim() }] : [];\n  }\n  return [];\n};\n\nconst enclosureCandidates = collectEnclosureCandidates($json.enclosure);\nconst audioEnclosure = enclosureCandidates.find((item) => /(^audio\\/)|\\.(mp3|m4a|aac|wav|ogg)(\\?|$)/i.test(`${item.type} ${item.url}`));\nconst transcriptSourceUrl = canonicalUrl || String(audioEnclosure?.url || '').trim();\nconst isPodcastSource = ['podcast', 'audio', 'podcast_rss'].includes(lowerSourceType);\nconst isXiaoyuzhouEpisode = /https?:\\/\\/(?:www\\.)?xiaoyuzhoufm\\.com\\/episode\\//i.test(transcriptSourceUrl);\nconst explicitRouteToTranscript = typeof sourceContext.routeToTranscript === 'boolean'\n  ? sourceContext.routeToTranscript\n  : (typeof sourceContext.route_to_transcript === 'boolean' ? sourceContext.route_to_transcript : null);\nconst explicitUseSpeakerRecognition = parseOptionalBoolean(\n  sourceContext.useSpeakerRecognition,\n  sourceContext.use_speaker_recognition\n);\nconst routeToTranscript = explicitRouteToTranscript ?? Boolean(isPodcastSource || isXiaoyuzhouEpisode || audioEnclosure?.url);\nconst transcriptPollIntervalMs = Number(sourceContext.transcriptPollIntervalMs || sourceContext.transcript_poll_interval_ms || 0) || 0;\nconst transcriptMaxPolls = Number(sourceContext.transcriptMaxPolls || sourceContext.transcript_max_polls || 0) || 0;\nconst extraTags = ['raw-ingest'];\nif (routeToTranscript) {\n  extraTags.push('transcript-route');\n}\n\nreturn {\n  json: {\n    source_type: sourceType,\n    feed_url: String(sourceContext.feedUrl || sourceContext.feed_url || '').trim(),\n    source_name: String(sourceContext.sourceName || sourceContext.source_name || sourceContext.name || '').trim(),\n    canonical_url: canonicalUrl,\n    original_id: String($json.guid || $json.id || $json.link || transcriptSourceUrl).trim(),\n    title: (($json.title || '').trim() || 'untitled'),\n    author: (($json.creator || $json.author || '').trim()),\n    published_at: $json.isoDate || $json.pubDate || new Date().toISOString(),\n    media_type: routeToTranscript ? 'audio' : 'text',\n    raw_html: rawHtml,\n    raw_text: '',\n    description,\n    transcript_source_url: transcriptSourceUrl,\n    download_url: String(audioEnclosure?.url || '').trim(),\n    ...(explicitUseSpeakerRecognition == null ? {} : { use_speaker_recognition: explicitUseSpeakerRecognition }),\n    obsidian_inbox_dir: String(sourceContext.obsidianInboxDir || sourceContext.obsidian_inbox_dir || '00_Inbox').trim() || '00_Inbox',\n    extra_tags: extraTags,\n    route_to_transcript: routeToTranscript,\n    is_new_since_last_poll: Boolean(sourceContext.is_new_since_last_poll),\n    source_gate_status: String(sourceContext.source_gate_status || '').trim(),\n    source_item_count: Number(sourceContext.source_item_count || 0) || 0,\n    source_new_item_count: Number(sourceContext.source_new_item_count || 0) || 0,\n    source_sample_titles: Array.isArray(sourceContext.source_sample_titles) ? sourceContext.source_sample_titles.slice(0, 5) : [],\n    source_new_titles: Array.isArray(sourceContext.source_new_titles) ? sourceContext.source_new_titles.slice(0, 5) : [],\n    source_state_path: String(sourceContext.source_state_path || '').trim(),\n    source_key: String(sourceContext.source_key || '').trim(),\n    source_previous_latest_guid: String(sourceContext.source_previous_latest_guid || '').trim(),\n    source_previous_latest_link: String(sourceContext.source_previous_latest_link || '').trim(),\n    source_previous_latest_published_at: String(sourceContext.source_previous_latest_published_at || '').trim(),\n    source_previous_latest_title: String(sourceContext.source_previous_latest_title || '').trim(),\n    source_current_latest_guid: String(sourceContext.source_current_latest_guid || '').trim(),\n    source_current_latest_link: String(sourceContext.source_current_latest_link || '').trim(),\n    source_current_latest_published_at: String(sourceContext.source_current_latest_published_at || '').trim(),\n    source_current_latest_title: String(sourceContext.source_current_latest_title || '').trim(),\n    last_seen_recorded_at: String(sourceContext.last_seen_recorded_at || '').trim(),\n    ...(transcriptPollIntervalMs > 0 ? { poll_interval_ms: transcriptPollIntervalMs } : {}),\n    ...(transcriptMaxPolls > 0 ? { max_polls: transcriptMaxPolls } : {}),\n    upstream_task_id: '',\n    upstream_view_token: '',\n    upstream_summary: '',\n    original_item: $json\n  }\n};"
      },
      "id": "db259336-2d57-4f88-9387-9bc59a1d0dfd",
      "name": "Build Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        210
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.route_to_transcript || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "7ee24c1d-f844-4b39-9a55-c612c2d1d1e1",
      "name": "Route Transcript Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2060,
        20
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "acb525fca8ea4dc4",
          "mode": "list",
          "cachedResultName": "04 Video Transcript Ingest"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e58c7957-2a6e-4d95-99d6-6f8d22c7ef67",
      "name": "04 Video Transcript Ingest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput",
      "position": [
        2320,
        20
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "d4f093a8e2f74e39",
          "mode": "list",
          "cachedResultName": "00 Common Normalize Text Object"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "192f08f6-c943-46df-9afb-abc74b123d87",
      "name": "00 Common Normalize Text Object",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2060,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "c1f91d1d6f5a4bb1",
          "mode": "list",
          "cachedResultName": "01a Rule Prefilter"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "30ce3ae4-910d-437e-a2c3-5d2e020f75f6",
      "name": "01a Rule Prefilter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2320,
        210
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.should_continue_to_qdrant || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "9a72ba3a-a71d-4f60-b34e-3734e20b6056",
      "name": "Should Continue To Qdrant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2580,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "a793499a65e344bc",
          "mode": "list",
          "cachedResultName": "03 Qdrant Gate"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "47be42ab-f7f1-4f56-98ef-68856e3dc0c7",
      "name": "03 Qdrant Gate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2840,
        210
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.should_continue_to_llm || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "f91b2c32-fcf5-4d04-97c9-b9ee3beb3a2f",
      "name": "Should Continue To LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3100,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "828e50ae98c24f31",
          "mode": "list",
          "cachedResultName": "02 Enrich With LLM"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ebad17a2-e7ba-4414-9c37-2b113c549d1d",
      "name": "02 Enrich With LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2840,
        390
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "e7847c3145f4432d",
          "mode": "list",
          "cachedResultName": "04a Action Policy"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ebd33027-92d0-442a-9579-96777543b7f7",
      "name": "04a Action Policy",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3100,
        390
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "5d53f72296534f1c",
          "mode": "list",
          "cachedResultName": "05 Common Vault Writer"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9a55db36-3d7b-4dd8-8e97-67b5f2aa8d20",
      "name": "05 Common Vault Writer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3360,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "9f2a6b8c0d3e4f51",
          "mode": "list",
          "cachedResultName": "09 Feishu Notify"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "a1cd847c-3cb4-4740-a1c7-6835097f638b",
      "name": "09 Feishu Notify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput",
      "position": [
        3620,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "6c65b02be56e4ea2",
          "mode": "list",
          "cachedResultName": "03b Qdrant Commit"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "4edfa440-e200-472f-b1fa-3fd64d00bb56",
      "name": "03b Qdrant Commit",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3880,
        210
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "24507be4-d401-437b-9e97-40ed340167c8",
      "name": "Merge Poll Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4140,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const inputItems = $input.all();\nconst now = new Date();\nconst pad = (value) => String(value).padStart(2, '0');\nconst year = now.getFullYear();\nconst month = pad(now.getMonth() + 1);\nconst day = pad(now.getDate());\nconst hour = pad(now.getHours());\nconst minute = pad(now.getMinutes());\nconst second = pad(now.getSeconds());\nconst tzOffsetMinutes = -now.getTimezoneOffset();\nconst tzSign = tzOffsetMinutes >= 0 ? '+' : '-';\nconst tzHours = pad(Math.floor(Math.abs(tzOffsetMinutes) / 60));\nconst tzMinutes = pad(Math.abs(tzOffsetMinutes) % 60);\nconst isoLike = `${year}-${month}-${day}T${hour}-${minute}-${second}${tzSign}${tzHours}-${tzMinutes}`;\n\nconst safeString = (value) => {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  return String(value).trim();\n};\n\nconst asBooleanOrNull = (value) => {\n  if (typeof value === 'boolean') {\n    return value;\n  }\n  return null;\n};\n\nconst numberOrZero = (value) => {\n  const numericValue = Number(value || 0);\n  return Number.isFinite(numericValue) ? numericValue : 0;\n};\n\nconst arrayOfStrings = (value) => Array.isArray(value)\n  ? value.map((entry) => safeString(entry)).filter(Boolean)\n  : [];\n\nconst getExecutionId = () => {\n  try {\n    if (typeof $execution !== 'undefined') {\n      return safeString($execution.id || $execution.executionId || '');\n    }\n  } catch {}\n  return '';\n};\n\nconst getRunStartedAt = () => {\n  try {\n    if (typeof $execution !== 'undefined') {\n      const value = safeString($execution.startedAt || $execution.startTime || '');\n      if (value) return value;\n    }\n  } catch {}\n  try {\n    const value = $('Schedule Trigger').first()?.json?.timestamp;\n    if (value) return value;\n  } catch {}\n  try {\n    const value = $(\"When clicking 'Execute workflow'\").first()?.json?.startedAt;\n    if (value) return value;\n  } catch {}\n  try {\n    const value = $('When Executed by Another Workflow').first()?.json?.triggered_at;\n    if (value) return value;\n  } catch {}\n  return '';\n};\n\nconst toSafeDate = (value, fallback = now) => {\n  const parsed = new Date(value || '');\n  if (!Number.isNaN(parsed.getTime())) {\n    return parsed;\n  }\n  const fallbackDate = fallback instanceof Date ? fallback : new Date(fallback);\n  return Number.isNaN(fallbackDate.getTime()) ? now : fallbackDate;\n};\n\nconst toIsoLike = (date) => {\n  const safeDate = toSafeDate(date, now);\n  const localYear = safeDate.getFullYear();\n  const localMonth = pad(safeDate.getMonth() + 1);\n  const localDay = pad(safeDate.getDate());\n  const localHour = pad(safeDate.getHours());\n  const localMinute = pad(safeDate.getMinutes());\n  const localSecond = pad(safeDate.getSeconds());\n  const offsetMinutes = -safeDate.getTimezoneOffset();\n  const offsetSign = offsetMinutes >= 0 ? '+' : '-';\n  const offsetHours = pad(Math.floor(Math.abs(offsetMinutes) / 60));\n  const offsetMinutePart = pad(Math.abs(offsetMinutes) % 60);\n  return `${localYear}-${localMonth}-${localDay}T${localHour}-${localMinute}-${localSecond}${offsetSign}${offsetHours}-${offsetMinutePart}`;\n};\n\nconst shouldRouteToTranscript = ({ routeToTranscript = null, sourceType = '', feedUrl = '' } = {}) => {\n  if (typeof routeToTranscript === 'boolean') {\n    return routeToTranscript;\n  }\n  const normalizedSourceType = safeString(sourceType).toLowerCase();\n  if (['podcast', 'audio', 'podcast_rss'].includes(normalizedSourceType)) {\n    return true;\n  }\n  return /https?:\\/\\/(?:www\\.)?xiaoyuzhoufm\\.com\\//i.test(safeString(feedUrl));\n};\n\nconst createSourceEntry = ({ feedUrl = '', sourceName = '', sourceType = '', routeToTranscript = null } = {}) => {\n  const transcriptRequested = shouldRouteToTranscript({ routeToTranscript, sourceType, feedUrl });\n  return {\n    feed_url: safeString(feedUrl),\n    source_name: safeString(sourceName),\n    source_type: safeString(sourceType),\n    rss_status: 'success',\n    rss_error: '',\n    transcript_status: transcriptRequested ? 'pending' : 'not_requested',\n    transcript_error: '',\n    is_new_since_last_poll: false,\n    source_gate_status: 'not_checked',\n    last_seen_state_path: '',\n    last_seen_recorded_at: '',\n    previous_latest_guid: '',\n    previous_latest_link: '',\n    previous_latest_published_at: '',\n    previous_latest_title: '',\n    current_latest_guid: '',\n    current_latest_link: '',\n    current_latest_published_at: '',\n    current_latest_title: '',\n    item_count: 0,\n    new_item_count: 0,\n    wrote_count: 0,\n    wrote_paths: [],\n    qdrant_commit_count: 0,\n    dedupe_actions: [],\n    vault_write_statuses: [],\n    sample_titles: [],\n    new_titles: []\n  };\n};\n\nconst getSourceKey = ({ feedUrl = '', sourceName = '', sourceType = '' } = {}) => {\n  const normalizedFeedUrl = safeString(feedUrl);\n  const normalizedSourceName = safeString(sourceName);\n  const normalizedSourceType = safeString(sourceType);\n  if (normalizedFeedUrl) {\n    return normalizedFeedUrl;\n  }\n  if (normalizedSourceName || normalizedSourceType) {\n    return `${normalizedSourceName}::${normalizedSourceType}`;\n  }\n  return '';\n};\n\nconst readSourceMetadata = (data = {}) => {\n  const originalItem = data.original_item && typeof data.original_item === 'object' ? data.original_item : {};\n  return {\n    feedUrl: safeString(data.feed_url || data.feedUrl || originalItem.feed_url || originalItem.feedUrl || ''),\n    sourceName: safeString(data.source_name || data.sourceName || originalItem.source_name || originalItem.sourceName || ''),\n    sourceType: safeString(data.source_type || data.sourceType || originalItem.source_type || originalItem.sourceType || ''),\n    routeToTranscript: (() => {\n      const topLevel = asBooleanOrNull(data.route_to_transcript ?? data.routeToTranscript);\n      if (topLevel !== null) {\n        return topLevel;\n      }\n      return asBooleanOrNull(originalItem.route_to_transcript ?? originalItem.routeToTranscript);\n    })(),\n    isNewSinceLastPoll: (() => {\n      const topLevel = asBooleanOrNull(data.is_new_since_last_poll);\n      if (topLevel !== null) {\n        return topLevel;\n      }\n      return asBooleanOrNull(originalItem.is_new_since_last_poll);\n    })(),\n    sourceGateStatus: safeString(data.source_gate_status || originalItem.source_gate_status || ''),\n    sourceItemCount: numberOrZero(data.source_item_count || originalItem.source_item_count || 0),\n    sourceNewItemCount: numberOrZero(data.source_new_item_count || originalItem.source_new_item_count || 0),\n    sampleTitles: arrayOfStrings(data.source_sample_titles || originalItem.source_sample_titles || []),\n    newTitles: arrayOfStrings(data.source_new_titles || originalItem.source_new_titles || []),\n    sourceStatePath: safeString(data.source_state_path || originalItem.source_state_path || ''),\n    lastSeenRecordedAt: safeString(data.last_seen_recorded_at || originalItem.last_seen_recorded_at || ''),\n    previousLatestGuid: safeString(data.source_previous_latest_guid || originalItem.source_previous_latest_guid || ''),\n    previousLatestLink: safeString(data.source_previous_latest_link || originalItem.source_previous_latest_link || ''),\n    previousLatestPublishedAt: safeString(data.source_previous_latest_published_at || originalItem.source_previous_latest_published_at || ''),\n    previousLatestTitle: safeString(data.source_previous_latest_title || originalItem.source_previous_latest_title || ''),\n    currentLatestGuid: safeString(data.source_current_latest_guid || originalItem.source_current_latest_guid || ''),\n    currentLatestLink: safeString(data.source_current_latest_link || originalItem.source_current_latest_link || ''),\n    currentLatestPublishedAt: safeString(data.source_current_latest_published_at || originalItem.source_current_latest_published_at || ''),\n    currentLatestTitle: safeString(data.source_current_latest_title || originalItem.source_current_latest_title || '')\n  };\n};\n\nconst items = inputItems;\n\nconst pollBySource = new Map();\ntry {\n  for (const sourceItem of $('Feed Sources').all()) {\n    const sourceData = sourceItem.json && typeof sourceItem.json === 'object' ? sourceItem.json : {};\n    const sourceKey = getSourceKey({\n      feedUrl: sourceData.feedUrl,\n      sourceName: sourceData.sourceName,\n      sourceType: sourceData.sourceType\n    });\n    if (!sourceKey) {\n      continue;\n    }\n    pollBySource.set(\n      sourceKey,\n      createSourceEntry({\n        feedUrl: sourceData.feedUrl,\n        sourceName: sourceData.sourceName,\n        sourceType: sourceData.sourceType,\n        routeToTranscript: sourceData.routeToTranscript\n      })\n    );\n  }\n} catch {}\n\nfor (const item of items) {\n  const data = item.json && typeof item.json === 'object' ? item.json : {};\n  const metadata = readSourceMetadata(data);\n  const sourceKey = getSourceKey(metadata);\n  if (!sourceKey) {\n    continue;\n  }\n  const entry = pollBySource.get(sourceKey) || createSourceEntry(metadata);\n\n  if (metadata.sourceItemCount >= 0) {\n    entry.item_count = Math.max(entry.item_count, metadata.sourceItemCount);\n  }\n  if (metadata.sourceNewItemCount >= 0) {\n    entry.new_item_count = Math.max(entry.new_item_count, metadata.sourceNewItemCount);\n  }\n  if (metadata.isNewSinceLastPoll !== null) {\n    entry.is_new_since_last_poll = metadata.isNewSinceLastPoll;\n  }\n  if (metadata.sourceGateStatus) {\n    entry.source_gate_status = metadata.sourceGateStatus;\n  }\n  if (metadata.sourceStatePath) {\n    entry.last_seen_state_path = metadata.sourceStatePath;\n  }\n  if (metadata.lastSeenRecordedAt) {\n    entry.last_seen_recorded_at = metadata.lastSeenRecordedAt;\n  }\n  entry.previous_latest_guid = metadata.previousLatestGuid || entry.previous_latest_guid;\n  entry.previous_latest_link = metadata.previousLatestLink || entry.previous_latest_link;\n  entry.previous_latest_published_at = metadata.previousLatestPublishedAt || entry.previous_latest_published_at;\n  entry.previous_latest_title = metadata.previousLatestTitle || entry.previous_latest_title;\n  entry.current_latest_guid = metadata.currentLatestGuid || entry.current_latest_guid;\n  entry.current_latest_link = metadata.currentLatestLink || entry.current_latest_link;\n  entry.current_latest_published_at = metadata.currentLatestPublishedAt || entry.current_latest_published_at;\n  entry.current_latest_title = metadata.currentLatestTitle || entry.current_latest_title;\n  if (metadata.sampleTitles.length) {\n    entry.sample_titles = metadata.sampleTitles.slice(0, 5);\n  }\n  if (metadata.newTitles.length) {\n    entry.new_titles = metadata.newTitles.slice(0, 5);\n  }\n\n  if (safeString(data.stage) === 'rss_read') {\n    entry.rss_status = 'error';\n    entry.rss_error = safeString(data.error || 'unknown RSS read error') || 'unknown RSS read error';\n    if (entry.transcript_status === 'pending') {\n      entry.transcript_status = 'not_requested';\n    }\n    pollBySource.set(sourceKey, entry);\n    continue;\n  }\n\n  if (safeString(data.stage) === 'transcript_ingest') {\n    entry.transcript_status = 'error';\n    entry.transcript_error = safeString(data.error || 'unknown transcript ingest error') || 'unknown transcript ingest error';\n    pollBySource.set(sourceKey, entry);\n    continue;\n  }\n\n  if (safeString(data.stage) === 'source_last_seen_gate' && !data.should_continue_to_processing) {\n    if (entry.new_item_count === 0 && entry.transcript_status === 'pending') {\n      entry.transcript_status = 'not_requested';\n    }\n    pollBySource.set(sourceKey, entry);\n    continue;\n  }\n\n  const title = safeString(data.title);\n  if (title && entry.sample_titles.length < 5 && !entry.sample_titles.includes(title)) {\n    entry.sample_titles.push(title);\n  }\n  const shouldMarkTranscriptSuccess = Boolean(\n    shouldRouteToTranscript({\n      routeToTranscript: metadata.routeToTranscript,\n      sourceType: metadata.sourceType || data.source_type,\n      feedUrl: metadata.feedUrl || data.feed_url\n    }) && data.item_id\n  );\n  if (shouldMarkTranscriptSuccess && entry.transcript_status === 'pending') {\n    entry.transcript_status = 'success';\n  }\n  const dedupeAction = safeString(data.dedupe_action || data.dedupeAction || '');\n  if (dedupeAction && !entry.dedupe_actions.includes(dedupeAction)) {\n    entry.dedupe_actions.push(dedupeAction);\n  }\n  const vaultStatus = safeString(data.vault_write_status || data.vault_write || '');\n  if (vaultStatus && !entry.vault_write_statuses.includes(vaultStatus)) {\n    entry.vault_write_statuses.push(vaultStatus);\n  }\n  const vaultPath = safeString(data.vault_path || '');\n  if (vaultStatus === 'written' && vaultPath) {\n    entry.wrote_count += 1;\n    if (!entry.wrote_paths.includes(vaultPath)) {\n      entry.wrote_paths.push(vaultPath);\n    }\n  }\n  const qdrantOp = safeString(data.qdrant_operation || '');\n  if (qdrantOp === 'written' || qdrantOp === 'upserted' || qdrantOp === 'pending') {\n    entry.qdrant_commit_count += 1;\n  }\n  pollBySource.set(sourceKey, entry);\n}\n\nconst sources = Array.from(pollBySource.values()).map((entry) => ({\n  ...entry,\n  transcript_status: entry.new_item_count === 0 && entry.transcript_status === 'pending'\n    ? 'not_requested'\n    : entry.transcript_status,\n  wrote_paths: entry.wrote_paths.slice(0, 20),\n  dedupe_actions: entry.dedupe_actions.slice(0, 10),\n  vault_write_statuses: entry.vault_write_statuses.slice(0, 10),\n  sample_titles: entry.sample_titles.slice(0, 5),\n  new_titles: entry.new_titles.slice(0, 5)\n}));\nconst runStartedAt = getRunStartedAt() || now.toISOString();\nconst executionId = getExecutionId();\nconst summary = {\n  run_started_at: runStartedAt,\n  run_finished_at: now.toISOString(),\n  execution_id: executionId,\n  workflow: '01 RSS to Obsidian Raw Inbox',\n  workflow_id: 'D3a7Kp9Lm4Qx2Rst',\n  source_count: sources.length,\n  success_source_count: sources.filter((entry) => entry.rss_status === 'success').length,\n  failed_source_count: sources.filter((entry) => entry.rss_status === 'error').length,\n  new_source_count: sources.filter((entry) => entry.is_new_since_last_poll).length,\n  transcript_failed_source_count: sources.filter((entry) => entry.transcript_status === 'error').length,\n  items_seen: sources.reduce((sum, entry) => sum + entry.item_count, 0),\n  items_selected_for_processing: sources.reduce((sum, entry) => sum + entry.new_item_count, 0),\n  items_written: sources.reduce((sum, entry) => sum + entry.wrote_count, 0),\n  poll_runs_version: 4,\n  sources\n};\nconst summaryDate = toSafeDate(runStartedAt, now);\nconst summaryYear = summaryDate.getFullYear();\nconst summaryMonth = pad(summaryDate.getMonth() + 1);\nconst stableNameToken = executionId ? `execution-${executionId}` : toIsoLike(summaryDate);\nconst relativePath = `poll_runs/${summaryYear}/${summaryMonth}/${stableNameToken}_01_rss_to_obsidian_raw.json`;\n\nconst uniqueStrings = (...groups) => {\n  const values = [];\n  const seen = new Set();\n  for (const group of groups) {\n    for (const value of Array.isArray(group) ? group : []) {\n      const text = safeString(value);\n      if (text && !seen.has(text)) {\n        seen.add(text);\n        values.push(text);\n      }\n    }\n  }\n  return values;\n};\n\nconst sourceStatusRank = { error: 4, success: 3, pending: 2, not_requested: 1, not_checked: 0, '': 0 };\nconst preferStatus = (left = '', right = '') => {\n  const leftText = safeString(left);\n  const rightText = safeString(right);\n  return (sourceStatusRank[rightText] || 0) > (sourceStatusRank[leftText] || 0) ? rightText : leftText;\n};\n\nconst mergeSourceEntries = (left, right) => {\n  const base = createSourceEntry(left || right || {});\n  const merged = { ...base, ...(left || {}), ...(right || {}) };\n  const wrotePaths = uniqueStrings(left?.wrote_paths, right?.wrote_paths);\n  merged.rss_status = preferStatus(left?.rss_status, right?.rss_status) || 'success';\n  merged.transcript_status = preferStatus(left?.transcript_status, right?.transcript_status) || 'not_requested';\n  merged.rss_error = safeString(right?.rss_error || left?.rss_error || '');\n  merged.transcript_error = safeString(right?.transcript_error || left?.transcript_error || '');\n  merged.is_new_since_last_poll = Boolean(left?.is_new_since_last_poll || right?.is_new_since_last_poll);\n  merged.item_count = Math.max(numberOrZero(left?.item_count), numberOrZero(right?.item_count));\n  merged.new_item_count = Math.max(numberOrZero(left?.new_item_count), numberOrZero(right?.new_item_count));\n  merged.wrote_paths = wrotePaths.slice(0, 20);\n  merged.wrote_count = wrotePaths.length;\n  merged.qdrant_commit_count = Math.max(numberOrZero(left?.qdrant_commit_count), numberOrZero(right?.qdrant_commit_count));\n  merged.dedupe_actions = uniqueStrings(left?.dedupe_actions, right?.dedupe_actions).slice(0, 10);\n  merged.vault_write_statuses = uniqueStrings(left?.vault_write_statuses, right?.vault_write_statuses).slice(0, 10);\n  merged.sample_titles = uniqueStrings(left?.sample_titles, right?.sample_titles).slice(0, 5);\n  merged.new_titles = uniqueStrings(left?.new_titles, right?.new_titles).slice(0, 5);\n  return merged;\n};\n\nconst recomputeSummaryTotals = (value) => {\n  const mergedSources = Array.isArray(value.sources) ? value.sources : [];\n  return {\n    ...value,\n    source_count: mergedSources.length,\n    success_source_count: mergedSources.filter((entry) => entry.rss_status === 'success').length,\n    failed_source_count: mergedSources.filter((entry) => entry.rss_status === 'error').length,\n    new_source_count: mergedSources.filter((entry) => entry.is_new_since_last_poll).length,\n    transcript_failed_source_count: mergedSources.filter((entry) => entry.transcript_status === 'error').length,\n    items_seen: mergedSources.reduce((sum, entry) => sum + numberOrZero(entry.item_count), 0),\n    items_selected_for_processing: mergedSources.reduce((sum, entry) => sum + numberOrZero(entry.new_item_count), 0),\n    items_written: mergedSources.reduce((sum, entry) => sum + numberOrZero(entry.wrote_count), 0)\n  };\n};\n\nconst mergeSummaries = (previous, current) => {\n  if (!previous || typeof previous !== 'object' || !Array.isArray(previous.sources)) {\n    return current;\n  }\n  const sourceMap = new Map();\n  for (const source of previous.sources) {\n    const sourceKey = getSourceKey({ feedUrl: source.feed_url, sourceName: source.source_name, sourceType: source.source_type });\n    if (sourceKey) sourceMap.set(sourceKey, source);\n  }\n  for (const source of current.sources) {\n    const sourceKey = getSourceKey({ feedUrl: source.feed_url, sourceName: source.source_name, sourceType: source.source_type });\n    if (!sourceKey) continue;\n    sourceMap.set(sourceKey, mergeSourceEntries(sourceMap.get(sourceKey), source));\n  }\n  const merged = {\n    ...previous,\n    ...current,\n    run_started_at: previous.run_started_at || current.run_started_at,\n    run_finished_at: current.run_finished_at,\n    execution_id: current.execution_id || previous.execution_id || '',\n    sources: Array.from(sourceMap.values())\n  };\n  return recomputeSummaryTotals(merged);\n};\n\nconst readExistingSummary = () => {\n  try {\n    const fs = require('fs');\n    const absolutePath = `/home/node/.n8n-files/${relativePath}`;\n    if (!fs.existsSync(absolutePath)) {\n      return null;\n    }\n    return JSON.parse(fs.readFileSync(absolutePath, 'utf8'));\n  } catch {\n    return null;\n  }\n};\n\nconst summaryForWrite = mergeSummaries(readExistingSummary(), summary);\n\nreturn {\n  json: {\n    ...summaryForWrite,\n    poll_summary_relative_path: relativePath,\n    poll_summary_host_path: `deploy/data/n8n/storage/${relativePath}`\n  },\n  binary: {\n    data: {\n      data: Buffer.from(JSON.stringify(summaryForWrite, null, 2), 'utf8').toString('base64'),\n      mimeType: 'application/json',\n      fileName: `${stableNameToken}_01_rss_to_obsidian_raw.json`,\n      fileExtension: 'json'\n    }\n  }\n};"
      },
      "id": "a8fb9086-3d69-440b-9465-c09f3b481629",
      "name": "Build Poll Run Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        210
      ]
    },
    {
      "parameters": {
        "fileName": "={{'/home/node/.n8n-files/' + $json.poll_summary_relative_path}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "78a373a4-cab7-42c4-bb49-fa5b0efbb215",
      "name": "Write Poll Run Summary",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        4660,
        210
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runtime Config": {
      "main": [
        [
          {
            "node": "Feed Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed Sources": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Normalize RSS Read Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Read Result": {
      "main": [
        [
          {
            "node": "Group RSS Results By Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group RSS Results By Source": {
      "main": [
        [
          {
            "node": "07 Common Source Last Seen Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 Common Source Last Seen Gate": {
      "main": [
        [
          {
            "node": "Should Continue After Source Last Seen Gate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Continue After Source Last Seen Gate?": {
      "main": [
        [
          {
            "node": "Build Normalize Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Poll Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Normalize Input": {
      "main": [
        [
          {
            "node": "Route Transcript Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Transcript Candidates": {
      "main": [
        [
          {
            "node": "04 Video Transcript Ingest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "00 Common Normalize Text Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Video Transcript Ingest": {
      "main": [
        [
          {
            "node": "00 Common Normalize Text Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 Common Normalize Text Object": {
      "main": [
        [
          {
            "node": "01a Rule Prefilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01a Rule Prefilter": {
      "main": [
        [
          {
            "node": "Should Continue To Qdrant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Continue To Qdrant?": {
      "main": [
        [
          {
            "node": "03 Qdrant Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05 Common Vault Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Qdrant Gate": {
      "main": [
        [
          {
            "node": "Should Continue To LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Continue To LLM?": {
      "main": [
        [
          {
            "node": "02 Enrich With LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "05 Common Vault Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Enrich With LLM": {
      "main": [
        [
          {
            "node": "04a Action Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04a Action Policy": {
      "main": [
        [
          {
            "node": "05 Common Vault Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 Common Vault Writer": {
      "main": [
        [
          {
            "node": "09 Feishu Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03b Qdrant Commit": {
      "main": [
        [
          {
            "node": "Merge Poll Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Poll Results": {
      "main": [
        [
          {
            "node": "Build Poll Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Poll Run Summary": {
      "main": [
        [
          {
            "node": "Write Poll Run Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 Feishu Notify": {
      "main": [
        [
          {
            "node": "03b Qdrant Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1fd114cf-619b-44de-aac4-2f5f9e02771c",
  "tags": []
}
