deploy/n8n/workflows/01_rss_to_obsidian_raw.json
{
  "id": "D3a7Kp9Lm4Qx2Rst",
  "name": "01 RSS to Obsidian Raw Inbox",
  "description": "Template workflow: RSS ingress -> NormalizedTextObject -> 02 enrich sub-workflow -> 03 Qdrant gate -> Obsidian inbox writer.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a5f9550a-bf22-48c6-a312-5cf700fe8fc1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "1ca63570-4561-453d-a1b0-7162a9ccfd6a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fef5ef5d-6a54-4b73-b35f-7ff9eec7fe0c",
              "name": "rssSourcesJson",
              "value": "={{$env.RSS_SOURCE_URLS_JSON}}",
              "type": "string"
            },
            {
              "id": "8fb75e0a-4105-42bc-9557-0a2c11c242c8",
              "name": "obsidianInboxDir",
              "value": "={{$env.OBSIDIAN_INBOX_DIR}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f102b58-591b-4d18-bce7-5f4f59a94728",
      "name": "Runtime Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const config = $input.first()?.json || {};\nconst rawSourcesJson = (config.rssSourcesJson || '').trim();\nconst fallbackSources = [\n  {\n    feedUrl: 'http://rsshub:1200/xiaoyuzhou/podcast/648b0b641c48983391a63f98',\n    sourceName: '42章经',\n    sourceType: 'podcast'\n  }\n];\n\nlet sources = fallbackSources;\nif (rawSourcesJson) {\n  try {\n    const parsed = JSON.parse(rawSourcesJson);\n    if (!Array.isArray(parsed)) {\n      throw new Error('RSS_SOURCE_URLS_JSON must be a JSON array');\n    }\n    sources = parsed;\n  } catch (error) {\n    throw new Error(`RSS_SOURCE_URLS_JSON parse failed: ${error.message}`);\n  }\n}\n\nconst obsidianInboxDir = (config.obsidianInboxDir || '00_Inbox/AI_Information_Processor').trim() || '00_Inbox/AI_Information_Processor';\n\nreturn sources.map((source, index) => {\n  const feedUrl = (source.feedUrl || source.url || '').trim();\n  if (!feedUrl) {\n    throw new Error(`Source ${index + 1} is missing feedUrl/url`);\n  }\n\n  return {\n    json: {\n      feedUrl,\n      sourceName: source.sourceName || source.name || `source-${index + 1}`,\n      sourceType: source.sourceType || 'rss',\n      obsidianInboxDir\n    }\n  };\n});"
      },
      "id": "eb11ad43-31e8-4e95-9b84-a22f16b83b14",
      "name": "Feed Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        210
      ]
    },
    {
      "parameters": {
        "url": "={{$json.feedUrl}}",
        "options": {}
      },
      "id": "38b97ff2-5e43-4a74-8561-976462f79f1a",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1020,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const rightRotate = (value, amount) => (value >>> amount) | (value << (32 - amount));\n\nconst sha256 = (value = '') => {\n  const utf8 = unescape(encodeURIComponent(String(value)));\n  const maxWord = 2 ** 32;\n  const words = [];\n  const asciiBitLength = utf8.length * 8;\n  const hash = [];\n  const k = [];\n  const isComposite = {};\n\n  for (let candidate = 2; k.length < 64; candidate += 1) {\n    if (!isComposite[candidate]) {\n      for (let multiple = candidate * candidate; multiple < 512; multiple += candidate) {\n        isComposite[multiple] = true;\n      }\n      if (hash.length < 8) {\n        hash.push((Math.sqrt(candidate) * maxWord) | 0);\n      }\n      k.push((candidate ** (1 / 3) * maxWord) | 0);\n    }\n  }\n\n  let message = `${utf8}\\x80`;\n  while ((message.length % 64) !== 56) {\n    message += '\\x00';\n  }\n\n  for (let i = 0; i < message.length; i += 1) {\n    words[i >> 2] |= message.charCodeAt(i) << ((3 - (i % 4)) * 8);\n  }\n\n  words.push((asciiBitLength / maxWord) | 0);\n  words.push(asciiBitLength);\n\n  for (let j = 0; j < words.length; j += 16) {\n    const w = words.slice(j, j + 16);\n    const workingHash = hash.slice();\n\n    for (let i = 0; i < 64; i += 1) {\n      const w15 = w[i - 15];\n      const w2 = w[i - 2];\n      const sigma0 = i < 16 ? 0 : (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3));\n      const sigma1 = i < 16 ? 0 : (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10));\n      w[i] = i < 16 ? w[i] : (((w[i - 16] + sigma0) | 0) + ((w[i - 7] + sigma1) | 0)) | 0;\n\n      const [a, b, c, d, e, f, g, h] = workingHash;\n      const sum1 = rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25);\n      const choice = (e & f) ^ (~e & g);\n      const temp1 = (((((h + sum1) | 0) + choice) | 0) + k[i] + w[i]) | 0;\n      const sum0 = rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22);\n      const majority = (a & b) ^ (a & c) ^ (b & c);\n      const temp2 = (sum0 + majority) | 0;\n\n      workingHash[0] = (temp1 + temp2) | 0;\n      workingHash[1] = a;\n      workingHash[2] = b;\n      workingHash[3] = c;\n      workingHash[4] = (d + temp1) | 0;\n      workingHash[5] = e;\n      workingHash[6] = f;\n      workingHash[7] = g;\n    }\n\n    for (let i = 0; i < 8; i += 1) {\n      hash[i] = (hash[i] + workingHash[i]) | 0;\n    }\n  }\n\n  return hash.slice(0, 8).map((valuePart) => (valuePart >>> 0).toString(16).padStart(8, '0')).join('');\n};\n\nconst slugify = (value = '') => String(value)\n  .normalize('NFKD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-zA-Z0-9\\u4e00-\\u9fa5]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .toLowerCase();\n\nconst stripHtml = (value = '') => String(value)\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/&amp;/gi, '&')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst stableHash = (value) => sha256(String(value));\n\nconst sourceContext = (() => {\n  try {\n    return $('Feed Sources').item.json || {};\n  } catch {\n    return {};\n  }\n})();\n\nconst title = (($json.title || '').trim() || 'untitled');\nconst canonicalUrl = String($json.link || $json.guid || '').trim();\nconst publishedAtRaw = $json.isoDate || $json.pubDate || new Date().toISOString();\nconst publishedAt = new Date(publishedAtRaw).toISOString();\nconst ingestedAt = new Date().toISOString();\nconst rawHtml = [\n  $json['content:encoded'],\n  $json.content,\n  $json.contentSnippet,\n  $json.summary,\n  $json.description\n].find((value) => typeof value === 'string' && value.trim()) || '';\nconst contentText = stripHtml(rawHtml);\nconst author = (($json.creator || $json.author || '').trim());\nconst sourceType = (sourceContext.sourceType || 'rss').trim() || 'rss';\nconst sourceName = (sourceContext.sourceName || sourceContext.name || '').trim();\nconst originalId = String($json.guid || $json.id || $json.link || '').trim();\nconst mediaType = 'text';\n\nlet sourceHost = 'unknown-source';\nconst hostMatch = canonicalUrl.match(/^https?:\\/\\/([^\\/?#]+)/i);\nif (hostMatch?.[1]) {\n  sourceHost = hostMatch[1].replace(/^www\\./i, '');\n}\n\nconst itemKey = canonicalUrl\n  || (sourceType && originalId ? `${sourceType}:${originalId}` : '')\n  || [title, publishedAt, author].filter(Boolean).join('::');\nconst itemId = stableHash(itemKey);\nconst contentHash = `sha256:${stableHash(contentText)}`;\nconst tags = [\n  'inbox',\n  'ai-information-processor',\n  'raw-ingest',\n  slugify(sourceHost),\n  slugify(sourceName),\n  slugify(sourceType)\n].filter(Boolean);\n\nreturn {\n  json: {\n    item_id: itemId,\n    source_type: sourceType,\n    source_name: sourceName || sourceHost || 'unknown-source',\n    source_host: sourceHost,\n    original_id: originalId,\n    canonical_url: canonicalUrl,\n    title,\n    author,\n    published_at: publishedAt,\n    ingested_at: ingestedAt,\n    media_type: mediaType,\n    content_text: contentText,\n    content_html: rawHtml,\n    upstream_task_id: '',\n    upstream_view_token: '',\n    upstream_summary: '',\n    content_hash: contentHash,\n    score: 0,\n    category: 'pending',\n    tags,\n    dedupe_action: 'full_push',\n    status: 'raw',\n    vault_path: '',\n    obsidianInboxDir: sourceContext.obsidianInboxDir || $json.obsidianInboxDir || '00_Inbox/AI_Information_Processor',\n    original_item: $json\n  }\n};"
      },
      "id": "a559b962-d95f-4ad4-a478-e8ff1ef941d2",
      "name": "Normalize Article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "828e50ae98c24f31",
          "mode": "list",
          "cachedResultName": "02 Enrich With LLM"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "ebad17a2-e7ba-4414-9c37-2b113c549d1d",
      "name": "02 Enrich With LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1540,
        210
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "a793499a65e344bc",
          "mode": "list",
          "cachedResultName": "03 Qdrant Gate"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "47be42ab-f7f1-4f56-98ef-68856e3dc0c7",
      "name": "03 Qdrant Gate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1800,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const slugify = (value = '') => String(value)\n  .normalize('NFKD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-zA-Z0-9\\u4e00-\\u9fa5]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .toLowerCase();\n\nconst yamlEscape = (value = '') => String(value)\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"');\n\nconst yamlBlock = (key, value = '') => {\n  const normalized = String(value || '').replace(/\\r\\n/g, '\\n').trim();\n  if (!normalized) {\n    return '';\n  }\n  const indented = normalized\n    .split('\\n')\n    .map((line) => `  ${line}`)\n    .join('\\n');\n  return `${key}: |-\\n${indented}\\n`;\n};\n\nconst inboxDir = ($json.obsidianInboxDir || '00_Inbox/AI_Information_Processor').trim() || '00_Inbox/AI_Information_Processor';\nconst dateForFile = new Date($json.published_at || Date.now());\nconst yyyy = dateForFile.getFullYear();\nconst mm = String(dateForFile.getMonth() + 1).padStart(2, '0');\nconst dd = String(dateForFile.getDate()).padStart(2, '0');\nconst datePrefix = `${yyyy}-${mm}-${dd}`;\nconst sourceType = slugify($json.source_type || 'rss') || 'rss';\nconst itemIdShort = String($json.item_id || 'unknown').slice(0, 10);\nconst titleSlug = slugify($json.title).slice(0, 80) || 'untitled';\nconst fileBaseName = `${datePrefix}_${sourceType}_${itemIdShort}_${titleSlug}`;\nconst relativeFilePath = `${inboxDir}/${fileBaseName}.md`;\nconst summary = String($json.summary || '').trim();\nconst reason = String($json.reason || '').trim();\nconst excerpt = (summary || ($json.content_text || '').slice(0, 280)).trim();\nconst dedupeAction = String($json.dedupe_action || 'full_push').trim() || 'full_push';\nconst notificationMode = String($json.notification_mode || '').trim();\nconst matchedPayload = $json.matched_payload && typeof $json.matched_payload === 'object' ? $json.matched_payload : null;\nconst matchedScore = Number($json.matched_score || 0);\nconst matchedTitle = matchedPayload ? String(matchedPayload.title || '').trim() : '';\nconst matchedItemId = matchedPayload ? String(matchedPayload.item_id || '').trim() : '';\nconst matchedCanonicalUrl = matchedPayload ? String(matchedPayload.canonical_url || '').trim() : '';\nconst tags = Array.isArray($json.tags) && $json.tags.length\n  ? $json.tags.filter(Boolean)\n  : ['inbox', 'ai-information-processor'];\nconst normalizedTags = [...new Set([...tags, `dedupe-${dedupeAction}`].filter(Boolean))];\nconst tagLines = normalizedTags.map((tag) => `  - ${tag}`).join('\\n');\nconst authorLine = $json.author ? `author: \\\"${yamlEscape($json.author)}\\\"\\n` : '';\nconst originalIdLine = $json.original_id ? `original_id: \\\"${yamlEscape($json.original_id)}\\\"\\n` : '';\nconst sourceHostLine = $json.source_host ? `source_host: \\\"${yamlEscape($json.source_host)}\\\"\\n` : '';\nconst enrichedAtLine = $json.enriched_at ? `enriched_at: \\\"${yamlEscape($json.enriched_at)}\\\"\\n` : '';\nconst notificationModeLine = notificationMode ? `notification_mode: \\\"${yamlEscape(notificationMode)}\\\"\\n` : '';\nconst matchedScoreLine = Number.isFinite(matchedScore) && matchedScore > 0 ? `matched_score: ${matchedScore}\\n` : '';\nconst matchedItemIdLine = matchedItemId ? `matched_item_id: \\\"${yamlEscape(matchedItemId)}\\\"\\n` : '';\nconst matchedCanonicalUrlLine = matchedCanonicalUrl ? `matched_canonical_url: \\\"${yamlEscape(matchedCanonicalUrl)}\\\"\\n` : '';\nconst matchedSameItemLine = $json.matched_same_item ? 'matched_same_item: true\\n' : '';\nconst summaryLine = yamlBlock('summary', summary);\nconst reasonLine = yamlBlock('reason', reason);\nconst summarySection = summary ? `## Summary\\n\\n${summary}\\n\\n` : '';\nconst reasonSection = reason ? `## Reason\\n\\n${reason}\\n\\n` : '';\nconst dedupeLines = matchedPayload ? [\n  `- Action: ${dedupeAction}`,\n  `- Notification Mode: ${notificationMode || 'n/a'}`,\n  Number.isFinite(matchedScore) && matchedScore > 0 ? `- Matched Score: ${matchedScore.toFixed(4)}` : '',\n  matchedItemId ? `- Matched Item ID: ${matchedItemId}` : '',\n  matchedTitle ? `- Matched Title: ${matchedTitle}` : '',\n  matchedCanonicalUrl ? `- Matched Canonical URL: ${matchedCanonicalUrl}` : '',\n  $json.matched_same_item ? '- Same Item ID Match: true' : ''\n].filter(Boolean).join('\\n') : '';\nconst dedupeSection = dedupeLines ? `## Dedupe Context\\n\\n${dedupeLines}\\n\\n` : '';\nconst canonicalUrl = $json.canonical_url || '';\nconst workflowName = $json.enriched_at ? 'rss-to-obsidian-mainline-qdrant' : 'rss-to-obsidian-raw';\nconst markdown = `---\\ntitle: \\\"${yamlEscape($json.title)}\\\"\\nitem_id: \\\"${yamlEscape($json.item_id)}\\\"\\nsource_type: \\\"${yamlEscape($json.source_type)}\\\"\\nsource_name: \\\"${yamlEscape($json.source_name)}\\\"\\n${sourceHostLine}${originalIdLine}canonical_url: \\\"${yamlEscape(canonicalUrl)}\\\"\\npublished_at: \\\"${yamlEscape($json.published_at)}\\\"\\ningested_at: \\\"${yamlEscape($json.ingested_at)}\\\"\\n${enrichedAtLine}media_type: \\\"${yamlEscape($json.media_type)}\\\"\\ncontent_hash: \\\"${yamlEscape($json.content_hash)}\\\"\\nworkflow: \\\"${workflowName}\\\"\\nscore: ${Number($json.score || 0)}\\ncategory: \\\"${yamlEscape($json.category || 'pending')}\\\"\\ndedupe_action: \\\"${yamlEscape(dedupeAction)}\\\"\\nstatus: \\\"${yamlEscape($json.status || 'raw')}\\\"\\n${notificationModeLine}${matchedScoreLine}${matchedItemIdLine}${matchedCanonicalUrlLine}${matchedSameItemLine}${authorLine}${summaryLine}${reasonLine}tags:\\n${tagLines}\\n---\\n\\n# ${$json.title}\\n\\n> Source Name: ${$json.source_name || 'unknown-source'}\\n> Canonical URL: ${canonicalUrl || 'N/A'}\\n\\n## Excerpt\\n\\n${excerpt || 'No text excerpt extracted.'}\\n\\n${summarySection}${reasonSection}${dedupeSection}## Raw Content\\n\\n${$json.content_text || 'No text content extracted from this feed item.'}\\n`;\n\nreturn {\n  json: {\n    ...$json,\n    fileBaseName,\n    relativeFilePath,\n    vault_path: relativeFilePath,\n    vault_write: 'written'\n  },\n  binary: {\n    data: {\n      data: Buffer.from(markdown, 'utf8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `${fileBaseName}.md`,\n      fileExtension: 'md'\n    }\n  }\n};"
      },
      "id": "ceb0e5d2-bd1c-4731-9db4-3a9f4ccfe60f",
      "name": "Build Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return $input.all()\n  .filter((item) => Boolean(item.json?.should_write_to_vault))\n  .map((item) => ({\n    json: item.json,\n    binary: item.binary\n  }));"
      },
      "id": "261c2164-0622-441e-b5eb-c65abf84f5d3",
      "name": "Should Write To Vault",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        210
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return {\n  json: {\n    ...$json,\n    vault_write: 'skipped',\n    relativeFilePath: $json.vault_path || ''\n  }\n};"
      },
      "id": "3eb72950-1f2d-40aa-8ccb-31ffd3ef0a6f",
      "name": "Skip Vault Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        300
      ]
    },
    {
      "parameters": {
        "fileName": "={{'/vault/' + $json.relativeFilePath}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "14ba2b32-f344-4567-aef7-e89e60f59d7f",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2580,
        120
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Runtime Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runtime Config": {
      "main": [
        [
          {
            "node": "Feed Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feed Sources": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Normalize Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Article": {
      "main": [
        [
          {
            "node": "02 Enrich With LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Enrich With LLM": {
      "main": [
        [
          {
            "node": "03 Qdrant Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Qdrant Gate": {
      "main": [
        [
          {
            "node": "Should Write To Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Write To Vault": {
      "main": [
        [
          {
            "node": "Build Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2041a5ce-ae53-4ec8-b68c-f134f6a72cfb",
  "tags": []
}
