deploy/n8n/workflows/01a_rule_prefilter.json
{
  "id": "c1f91d1d6f5a4bb1",
  "name": "01a Rule Prefilter",
  "description": "Runnable sub-workflow: apply cheap deterministic checks, derive event_fingerprint_text for vector lookup, and short-circuit items that are too short for reliable Qdrant and LLM processing.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a4a405bb-6004-4420-8f55-6fc16e3a988a",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a9c7da81-9195-4391-97b0-b8d32b643572",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c4f86c6bfe17f0f3d5c21d7839ed4f3d8fbf35bc7f7f5ec34f7a1',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      title: 'Example normalized item before Qdrant gating',\n      content_text: 'This example item already passed 00_common_normalize_text_object and is about to enter the cheap deterministic prefilter before vector search.',\n      upstream_summary: '',\n      dedupe_action: 'full_push',\n      status: 'raw'\n    }\n  }\n];"
      },
      "id": "d591b26a-d35b-4dcc-9f98-27125ee920e9",
      "name": "Example Normalized Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const requiredFields = ['item_id', 'source_type', 'source_name', 'title', 'content_text'];\nconst missingFields = requiredFields.filter((field) => !String($json[field] || '').trim());\nif (missingFields.length) {\n  throw new Error(`NormalizedTextObject missing required fields: ${missingFields.join(', ')}`);\n}\n\nconst normalizeMultiline = (value = '') => String(value)\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/\\u0000/g, '')\n  .replace(/[ \\t]+\\n/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst normalizeSingleLine = (value = '') => normalizeMultiline(value)\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst buildLabeledBlock = (label, value = '', multiline = false) => {\n  const normalized = multiline ? normalizeMultiline(value) : normalizeSingleLine(value);\n  return normalized ? `${label}:\\n${normalized}` : '';\n};\n\nconst uniqueSegments = (segments) => {\n  const seen = new Set();\n  const result = [];\n  for (const segment of segments) {\n    const normalized = normalizeMultiline(segment);\n    if (!normalized || seen.has(normalized)) {\n      continue;\n    }\n    seen.add(normalized);\n    result.push(normalized);\n  }\n  return result;\n};\n\nconst buildContentSegments = (text, budget) => {\n  const normalized = normalizeMultiline(text);\n  if (!normalized || budget <= 0) {\n    return [];\n  }\n  if (normalized.length <= budget) {\n    return [normalized];\n  }\n\n  const segmentBudget = Math.max(120, Math.floor(budget / 3));\n  const middleStart = Math.max(0, Math.floor((normalized.length - segmentBudget) / 2));\n  const tailStart = Math.max(0, normalized.length - segmentBudget);\n\n  return uniqueSegments([\n    normalized.slice(0, segmentBudget),\n    normalized.slice(middleStart, middleStart + segmentBudget),\n    normalized.slice(tailStart, tailStart + segmentBudget)\n  ]);\n};\n\nconst contentText = normalizeMultiline($json.content_text || '');\nconst upstreamSummary = normalizeMultiline($json.upstream_summary || '');\nconst title = normalizeSingleLine($json.title || '');\nconst sourceName = normalizeSingleLine($json.source_name || '');\nconst sourceType = normalizeSingleLine($json.source_type || '');\nconst sourceHost = normalizeSingleLine($json.source_host || '');\nconst author = normalizeSingleLine($json.author || '');\nconst publishedAt = normalizeSingleLine($json.published_at || '');\nconst mediaType = normalizeSingleLine($json.media_type || '');\nconst canonicalUrl = normalizeSingleLine($json.canonical_url || '');\nconst eventFingerprintMaxChars = Math.max(200, Number($env.EMBEDDING_INPUT_MAX_CHARS || 8000));\nconst eventFingerprintMinChars = Math.max(40, Number($env.QDRANT_SEARCH_MIN_CHARS || 80));\n\nconst metadataBlocks = [\n  buildLabeledBlock('Title', title),\n  buildLabeledBlock('Source Name', sourceName),\n  buildLabeledBlock('Source Type', sourceType),\n  buildLabeledBlock('Source Host', sourceHost),\n  buildLabeledBlock('Author', author),\n  buildLabeledBlock('Published At', publishedAt),\n  buildLabeledBlock('Media Type', mediaType),\n  buildLabeledBlock('Canonical URL', canonicalUrl),\n  buildLabeledBlock('Upstream Summary', upstreamSummary.slice(0, Math.min(1200, eventFingerprintMaxChars)), true)\n].filter(Boolean);\n\nlet eventFingerprintText = metadataBlocks.join('\\n\\n');\nconst remainingBudget = Math.max(0, eventFingerprintMaxChars - eventFingerprintText.length - (eventFingerprintText ? 2 : 0));\nconst contentLabels = ['Content Head', 'Content Middle', 'Content Tail'];\nconst contentBlocks = buildContentSegments(contentText, remainingBudget)\n  .map((segment, index) => buildLabeledBlock(contentLabels[Math.min(index, contentLabels.length - 1)] || `Content Segment ${index + 1}`, segment, true))\n  .filter(Boolean);\n\neventFingerprintText = [...metadataBlocks, ...contentBlocks]\n  .filter(Boolean)\n  .join('\\n\\n')\n  .slice(0, eventFingerprintMaxChars);\n\nconst shouldContinueToQdrant = eventFingerprintText.length >= eventFingerprintMinChars;\nconst prefilterReason = shouldContinueToQdrant\n  ? ''\n  : `event_fingerprint_text shorter than ${eventFingerprintMinChars} chars after deterministic prefilter`;\n\nreturn {\n  json: {\n    ...$json,\n    content_text: contentText,\n    event_fingerprint_text: eventFingerprintText,\n    event_fingerprint_chars: eventFingerprintText.length,\n    prefilter_action: shouldContinueToQdrant ? 'pass' : 'skip',\n    prefilter_reason: prefilterReason,\n    should_continue_to_qdrant: shouldContinueToQdrant,\n    dedupe_action: shouldContinueToQdrant ? String($json.dedupe_action || 'full_push').trim() || 'full_push' : 'silent',\n    notification_mode: shouldContinueToQdrant ? String($json.notification_mode || '').trim() : 'silent',\n    should_write_to_vault: shouldContinueToQdrant ? $json.should_write_to_vault : false,\n    should_notify: shouldContinueToQdrant ? $json.should_notify : false,\n    should_upsert_qdrant: shouldContinueToQdrant ? $json.should_upsert_qdrant : false,\n    should_continue_to_llm: shouldContinueToQdrant ? true : false,\n    status: shouldContinueToQdrant ? String($json.status || 'raw').trim() || 'raw' : 'deduped',\n    qdrant_operation: shouldContinueToQdrant ? String($json.qdrant_operation || 'skipped').trim() || 'skipped' : 'skipped',\n    qdrant_upsert_response: null\n  }\n};"
      },
      "id": "27758f16-3b9c-40f8-8f46-9f52f49b5531",
      "name": "Apply Prefilter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Normalized Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Apply Prefilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Normalized Item": {
      "main": [
        [
          {
            "node": "Apply Prefilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f6fcd479-bb6e-402a-b51c-2cab2def5b01",
  "tags": []
}
