deploy/n8n/workflows/02_enrich_with_llm.json
{
  "id": "828e50ae98c24f31",
  "name": "02 Enrich With LLM",
  "description": "Runnable template and callable sub-workflow: validate a NormalizedTextObject, call an OpenAI-compatible chat completions API, and merge score/category/tags/summary/reason back onto the same object.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "81e7020a-6dd8-4485-8126-1c863746c65b",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        240
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "362d59bb-d7c0-453a-b499-2f61446ad502",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      canonical_url: 'https://example.com/post',\n      title: 'Example normalized item',\n      author: 'OpenAI',\n      published_at: '2026-04-17T09:00:00-04:00',\n      ingested_at: '2026-04-17T09:05:00-04:00',\n      media_type: 'text',\n      content_text: 'Normalized plain text content for scoring and summary. The article explains why stable object contracts, idempotent IDs, and a single Obsidian write target are required before the project adds more ingestion paths.',\n      content_hash: 'sha256:example',\n      upstream_summary: '',\n      tags: ['inbox', 'ai-information-processor'],\n      dedupe_action: 'full_push',\n      status: 'raw'\n    }\n  }\n];"
      },
      "id": "6515eba8-013c-4352-8497-b93a1cc323dd",
      "name": "Example Normalized Text Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const requiredFields = ['item_id', 'source_type', 'source_name', 'title', 'content_text'];\nconst missingFields = requiredFields.filter((field) => !String($json[field] || '').trim());\nif (missingFields.length) {\n  throw new Error(`NormalizedTextObject missing required fields: ${missingFields.join(', ')}`);\n}\n\nconst llmBaseUrl = String($env.LLM_BASE_URL || '').trim().replace(/\\/+$/, '');\nconst llmModel = String($env.LLM_MODEL || '').trim();\nconst llmApiKey = String($env.LLM_API_KEY || '').trim();\n\nif (!llmBaseUrl) {\n  throw new Error('LLM_BASE_URL is required for 02_enrich_with_llm');\n}\nif (!llmModel) {\n  throw new Error('LLM_MODEL is required for 02_enrich_with_llm');\n}\nif (!llmApiKey) {\n  throw new Error('LLM_API_KEY is required for 02_enrich_with_llm');\n}\n\nconst contentText = String($json.content_text || '').trim();\nif (contentText.length < 40) {\n  throw new Error('content_text is too short for reliable enrichment; expected at least 40 characters');\n}\n\nreturn {\n  json: {\n    ...$json,\n    content_text: contentText,\n    llm_base_url: llmBaseUrl,\n    llm_model: llmModel,\n    existing_tags: Array.isArray($json.tags) ? $json.tags.filter(Boolean) : []\n  }\n};"
      },
      "id": "c50d95f5-3b75-4d69-82e7-ea9daea2dd18",
      "name": "Validate Normalized Text Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const systemPrompt = [\n  'You are the enrichment layer of AIInformationProcessor.',\n  'Return JSON only.',\n  'Evaluate the item and return exactly these keys: score, category, tags, summary, reason.',\n  'score must be a number between 0 and 1.',\n  'category must be a short stable label.',\n  'tags must be an array of concise lowercase strings.',\n  'summary must be the final summary used by the mainline pipeline, not a copy of upstream_summary.',\n  'reason must explain why the item is valuable, niche, redundant, or low-value.',\n  'Use content_text as the primary source of truth. upstream_summary is optional context only.'\n].join('\\n');\n\nconst userPayload = {\n  item_id: $json.item_id,\n  source_type: $json.source_type,\n  source_name: $json.source_name,\n  title: $json.title,\n  author: $json.author || '',\n  canonical_url: $json.canonical_url || '',\n  published_at: $json.published_at || '',\n  existing_tags: $json.existing_tags || [],\n  upstream_summary: $json.upstream_summary || '',\n  content_text: $json.content_text\n};\n\nreturn {\n  json: {\n    ...$json,\n    llm_endpoint: `${$json.llm_base_url}/chat/completions`,\n    llm_request: {\n      model: $json.llm_model,\n      temperature: 0.2,\n      response_format: {\n        type: 'json_object'\n      },\n      messages: [\n        {\n          role: 'system',\n          content: systemPrompt\n        },\n        {\n          role: 'user',\n          content: JSON.stringify(userPayload, null, 2)\n        }\n      ]\n    }\n  }\n};"
      },
      "id": "10de7a55-15f0-45ce-a60c-25f77317b87b",
      "name": "Build LLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.llm_endpoint}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.LLM_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llm_request) }}",
        "options": {}
      },
      "id": "411cf499-2f86-4c6f-ab6f-e57a8188e253",
      "name": "Call LLM Enrichment API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const original = $('Build LLM Request').item.json || {};\nconst rawContent = $json?.choices?.[0]?.message?.content;\nif (!rawContent || typeof rawContent !== 'string') {\n  throw new Error('LLM response did not include choices[0].message.content');\n}\n\nconst stripCodeFence = (value) => String(value)\n  .trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(stripCodeFence(rawContent));\n} catch (error) {\n  throw new Error(`Failed to parse LLM JSON response: ${error.message}`);\n}\n\nconst numericScore = Number(parsed.score);\nif (!Number.isFinite(numericScore)) {\n  throw new Error('LLM response score must be numeric');\n}\nconst score = Math.max(0, Math.min(1, numericScore));\nconst category = String(parsed.category || '').trim();\nconst summary = String(parsed.summary || '').trim();\nconst reason = String(parsed.reason || '').trim();\nif (!category) {\n  throw new Error('LLM response category must be non-empty');\n}\nif (!summary) {\n  throw new Error('LLM response summary must be non-empty');\n}\nif (!reason) {\n  throw new Error('LLM response reason must be non-empty');\n}\n\nconst normalizedTags = Array.isArray(parsed.tags)\n  ? parsed.tags\n  : typeof parsed.tags === 'string'\n    ? parsed.tags.split(',')\n    : [];\nconst mergedTags = [...new Set([\n  ...((Array.isArray(original.existing_tags) ? original.existing_tags : []).map((tag) => String(tag).trim()).filter(Boolean)),\n  ...normalizedTags.map((tag) => String(tag).trim().toLowerCase()).filter(Boolean)\n])];\n\nreturn {\n  json: {\n    ...original,\n    score,\n    category,\n    tags: mergedTags,\n    summary,\n    reason,\n    enriched_at: new Date().toISOString(),\n    status: 'enriched'\n  }\n};"
      },
      "id": "affb788f-d002-4d09-922a-f9895df8cf31",
      "name": "Parse And Merge Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        240
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Normalized Text Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Validate Normalized Text Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Normalized Text Object": {
      "main": [
        [
          {
            "node": "Validate Normalized Text Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Normalized Text Object": {
      "main": [
        [
          {
            "node": "Build LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Request": {
      "main": [
        [
          {
            "node": "Call LLM Enrichment API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM Enrichment API": {
      "main": [
        [
          {
            "node": "Parse And Merge Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "48bbd55b-3356-4d18-8296-a4af08d46e78",
  "tags": []
}
