deploy/n8n/workflows/02_enrich_with_llm.json
{
  "id": "828e50ae98c24f31",
  "name": "02 Enrich With LLM",
  "description": "Template workflow: define the shared JSON contract for score, category, tags and summary enrichment.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "81e7020a-6dd8-4485-8126-1c863746c65b",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      canonical_url: 'https://example.com/post',\n      title: 'Example normalized item',\n      author: 'OpenAI',\n      published_at: '2026-04-17T09:00:00-04:00',\n      ingested_at: '2026-04-17T09:05:00-04:00',\n      media_type: 'text',\n      content_text: 'Normalized plain text content for scoring and summary.',\n      content_hash: 'sha256:example',\n      tags: ['inbox', 'ai-information-processor'],\n      dedupe_action: 'full_push',\n      status: 'raw'\n    }\n  }\n];"
      },
      "id": "6515eba8-013c-4352-8497-b93a1cc323dd",
      "name": "Example Normalized Text Object",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const systemPrompt = [\n  'You are the enrichment layer of AIInformationProcessor.',\n  'Return JSON only.',\n  'The JSON schema must be: {\"score\": number, \"category\": string, \"tags\": string[], \"summary\": string, \"reason\": string}.',\n  'Use content_text as the only source of truth for analysis.'\n].join('\\n');\n\nreturn {\n  json: {\n    ...$json,\n    llm_request: {\n      model: $env.LLM_MODEL || 'set-in-env',\n      response_format: 'json_object',\n      system_prompt: systemPrompt,\n      user_payload: {\n        title: $json.title,\n        source_name: $json.source_name,\n        content_text: $json.content_text\n      }\n    }\n  }\n};"
      },
      "id": "10de7a55-15f0-45ce-a60c-25f77317b87b",
      "name": "Build LLM Request Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const enrichment = {\n  score: 0.82,\n  category: 'AI Infra',\n  tags: ['openai', 'model-release'],\n  summary: 'Example final summary produced by the main enrichment layer.',\n  reason: 'Example reason showing why the item is worth keeping.'\n};\n\nreturn {\n  json: {\n    ...$json,\n    ...enrichment,\n    tags: [...new Set([...(Array.isArray($json.tags) ? $json.tags : []), ...enrichment.tags])],\n    status: 'enriched'\n  }\n};"
      },
      "id": "affb788f-d002-4d09-922a-f9895df8cf31",
      "name": "Apply Example Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        {
          "node": "Example Normalized Text Object",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Example Normalized Text Object": {
      "main": [
        {
          "node": "Build LLM Request Schema",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Build LLM Request Schema": {
      "main": [
        {
          "node": "Apply Example Enrichment",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "48bbd55b-3356-4d18-8296-a4af08d46e78",
  "tags": []
}
