deploy/n8n/workflows/02_enrich_with_llm.json
{
    "id": "828e50ae98c24f31",
    "name": "02 Enrich With LLM",
    "description": "Runnable template and callable sub-workflow: validate a NormalizedTextObject, consume optional nearest-match context from the pre-LLM Qdrant stage, call an OpenAI-compatible chat completions API, and merge compatibility score/category/tags/summary/reason plus structured scoring fields back onto the same object.",
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "id": "81e7020a-6dd8-4485-8126-1c863746c65b",
            "name": "When clicking 'Execute workflow'",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                260,
                240
            ]
        },
        {
            "parameters": {
                "inputSource": "passthrough"
            },
            "id": "362d59bb-d7c0-453a-b499-2f61446ad502",
            "name": "When Executed by Another Workflow",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                260,
                420
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "language": "javaScript",
                "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      canonical_url: 'https://example.com/post',\n      title: 'Example normalized item',\n      author: 'OpenAI',\n      published_at: '2026-04-17T09:00:00-04:00',\n      ingested_at: '2026-04-17T09:05:00-04:00',\n      media_type: 'text',\n      content_text: 'Normalized plain text content for scoring and summary. The article explains why stable object contracts, idempotent IDs, and a single Obsidian write target are required before the project adds more ingestion paths.',\n      privacy_level: 'public',\n      external_llm_allowed: true,\n      content_hash: 'sha256:example',\n      upstream_summary: '',\n      tags: ['inbox', 'ai-information-processor'],\n      dedupe_action: 'full_push',\n      status: 'raw'\n    }\n  }\n];"
            },
            "id": "6515eba8-013c-4352-8497-b93a1cc323dd",
            "name": "Example Normalized Text Object",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                520,
                240
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "language": "javaScript",
                "jsCode": "const requiredFields = ['item_id', 'source_type', 'source_name', 'title', 'content_text'];\nconst missingFields = requiredFields.filter((field) => !String($json[field] || '').trim());\nif (missingFields.length) {\n  throw new Error(`NormalizedTextObject missing required fields: ${missingFields.join(', ')}`);\n}\n\nconst upstreamScoreScale = $json.score_scale;\nif (upstreamScoreScale !== undefined && Number(upstreamScoreScale) !== 100) {\n  throw new Error('02_enrich_with_llm requires score_scale=100 before enrichment');\n}\n\nconst contentText = String($json.content_text || '').trim();\nif (contentText.length < 40) {\n  throw new Error('content_text is too short for reliable enrichment; expected at least 40 characters');\n}\n\nreturn {\n  json: {\n    ...$json,\n    content_text: contentText,\n    existing_tags: Array.isArray($json.tags) ? $json.tags.filter(Boolean) : [],\n    score_scale: 100,\n    model_profile: 'scoring_default',\n    prompt_version: 'scoring_v1',\n    rubric_version: 'personal_info_processor_v1'\n  }\n};"
            },
            "id": "c50d95f5-3b75-4d69-82e7-ea9daea2dd18",
            "name": "Validate Normalized Text Object",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                780,
                240
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "language": "javaScript",
                "jsCode": "const normalizePrivacyLevel = (value) => {\n  const normalized = String(value || 'public').trim().toLowerCase();\n  return ['public', 'semi_private', 'private', 'sensitive'].includes(normalized)\n    ? normalized\n    : 'public';\n};\n\nconst privacyLevel = normalizePrivacyLevel($json.privacy_level || 'public');\nconst externalLlmAllowed = $json.external_llm_allowed === undefined\n  ? !['private', 'sensitive'].includes(privacyLevel)\n  : Boolean($json.external_llm_allowed);\n\nif (externalLlmAllowed !== true || ['private', 'sensitive'].includes(privacyLevel)) {\n  throw new Error(`02_enrich_with_llm blocked external LLM for privacy_level=${privacyLevel}`);\n}\n\nreturn {\n  json: {\n    ...$json,\n    privacy_level: privacyLevel,\n    external_llm_allowed: externalLlmAllowed\n  }\n};"
            },
            "id": "61546831-c15b-47be-9297-0b6cf8386830",
            "name": "Guard Privacy Before External LLM",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1040,
                240
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "language": "javaScript",
                "jsCode": "const llmBaseUrl = String($env.LLM_BASE_URL || '').trim().replace(/\\/+$/, '');\nconst llmModel = String($env.LLM_MODEL || '').trim();\nconst llmApiKey = String($env.LLM_API_KEY || '').trim();\n\nif (!llmBaseUrl) {\n  throw new Error('LLM_BASE_URL is required for 02_enrich_with_llm');\n}\nif (!llmModel) {\n  throw new Error('LLM_MODEL is required for 02_enrich_with_llm');\n}\nif (!llmApiKey) {\n  throw new Error('LLM_API_KEY is required for 02_enrich_with_llm');\n}\n\nconst llmProvider = String($env.LLM_PROVIDER || '').trim() || (\n  /deepseek/i.test(llmModel)\n    ? 'deepseek'\n    : /gpt|openai/i.test(llmModel) || /openai/i.test(llmBaseUrl)\n      ? 'openai'\n      : 'openai-compatible'\n);\n\nconst systemPrompt = [\n  'You are the enrichment layer of AIInformationProcessor.',\n  'Return JSON only.',\n  'Keep category as a short stable English label.',\n  'tags must be an array of concise lowercase strings.',\n  'All narrative fields must be written in Simplified Chinese.',\n  'Return exactly these top-level keys: category, tags, summary, reason, note_quick_take, note_why_useful, note_key_points, note_claims, note_action_items, ai_score, score_dimensions.',\n  'summary must be a concise Chinese summary for audit and search, ideally 80 to 220 Chinese characters.',\n  'reason must explain in Chinese why the item is valuable, niche, redundant, or low-value, ideally 40 to 160 Chinese characters.',\n  'note_quick_take must be one Chinese sentence used in the section 一句话判断.',\n  'note_why_useful must be 1 to 3 Chinese sentences explaining why this matters to the user and to a personal knowledge system.',\n  'note_key_points must be an array of 2 to 4 objects.',\n  'Each note_key_points item must have keys: heading, bullets.',\n  'note_key_points[].heading must be a short Chinese heading.',\n  'note_key_points[].bullets must be an array of 1 to 3 concise Chinese bullet strings.',\n  'note_claims must be an array of 0 to 3 objects with keys: claim, claim_type, evidence_anchor, system_relation.',\n  'claim_type should be a short Chinese label such as 方法论, 经验判断, 事实判断, or 观察.',\n  'evidence_anchor should cite the source location in a compact form such as transcript chunk 03.',\n  'system_relation should explain in Chinese how the claim connects to the user system, retrieval, scoring, clustering, or workflow decisions.',\n  'note_action_items must be an array of 0 to 4 concise Chinese action strings.',\n  'Use empty arrays instead of fabricating unsupported claims or action items.',\n  'Do not output markdown code fences, explanations, or any extra keys.',\n  'summary must be the final summary used by the pipeline, not a copy of upstream_summary.',\n  'reason must focus on decision value, not generic praise.',\n  'ai_score must be an object with keys: keep_score, notify_score, reference_score, action_score, confidence, decision_hint.',\n  'keep_score, notify_score, reference_score, and action_score must be integers between 0 and 100.',\n  'confidence must be a number between 0 and 1.',\n  'decision_hint must be one of: keep_full, keep_reference, review, skip.',\n  'score_dimensions must be an object with keys: personal_relevance, information_density, novelty, actionability, long_term_value, source_quality, penalty.',\n  'score_dimensions.personal_relevance must be an integer between 0 and 25.',\n  'score_dimensions.information_density must be an integer between 0 and 20.',\n  'score_dimensions.novelty must be an integer between 0 and 20.',\n  'score_dimensions.actionability must be an integer between 0 and 15.',\n  'score_dimensions.long_term_value must be an integer between 0 and 15.',\n  'score_dimensions.source_quality must be an integer between 0 and 5.',\n  'score_dimensions.penalty must be an integer between -20 and 0.',\n  'Do not return a top-level score.',\n  'ai_score.keep_score is advisory only; the parser will recompute the canonical keep_score from score_dimensions.',\n  'Use content_text as the primary source of truth. upstream_summary is optional context only.',\n  'If nearest_match is present, use it to judge novelty and incremental value instead of treating novelty as a free-floating opinion.',\n  'High similarity should reduce novelty unless the new item clearly adds new facts, structure, or actionability.',\n  'The workflow fixes score_scale at 100 and derives top-level score as keep_score divided by score_scale.'\n].join('\\n');\n\nconst matchedPayload = $json.matched_payload && typeof $json.matched_payload === 'object' ? $json.matched_payload : null;\nconst nearestMatch = matchedPayload ? {\n  matched_score: Number($json.matched_score || 0),\n  item_id: String(matchedPayload.item_id || '').trim(),\n  title: String(matchedPayload.title || '').trim(),\n  category: String(matchedPayload.category || '').trim(),\n  summary: String(matchedPayload.summary || '').trim(),\n  tags: Array.isArray(matchedPayload.tags) ? matchedPayload.tags : []\n} : null;\n\nconst userPayload = {\n  item_id: $json.item_id,\n  source_type: $json.source_type,\n  source_name: $json.source_name,\n  title: $json.title,\n  author: $json.author || '',\n  canonical_url: $json.canonical_url || '',\n  published_at: $json.published_at || '',\n  dedupe_action: $json.dedupe_action || 'full_push',\n  existing_tags: $json.existing_tags || [],\n  upstream_summary: $json.upstream_summary || '',\n  nearest_match: nearestMatch,\n  preferred_language: 'zh-CN',\n  target_note_shape: {\n    style: 'reader-facing knowledge note',\n    sections: ['一句话判断', '为什么对我有用', '关键观点', '可沉淀 Claims', '可能的行动项']\n  },\n  score_scale: 100,\n  rubric_version: $json.rubric_version,\n  scoring_rubric: {\n    personal_relevance: { min: 0, max: 25 },\n    information_density: { min: 0, max: 20 },\n    novelty: { min: 0, max: 20 },\n    actionability: { min: 0, max: 15 },\n    long_term_value: { min: 0, max: 15 },\n    source_quality: { min: 0, max: 5 },\n    penalty: { min: -20, max: 0 }\n  },\n  content_text: $json.content_text\n};\n\nreturn {\n  json: {\n    ...$json,\n    prompt_version: String($json.prompt_version || 'scoring_v2_cn_note').trim() || 'scoring_v2_cn_note',\n    note_view_version: String($json.note_view_version || 'zh_reader_v1').trim() || 'zh_reader_v1',\n    llm_base_url: llmBaseUrl,\n    llm_model: llmModel,\n    llm_provider: llmProvider,\n    llm_endpoint: `${llmBaseUrl}/chat/completions`,\n    llm_request: {\n      model: llmModel,\n      temperature: 0.1,\n      response_format: {\n        type: 'json_object'\n      },\n      messages: [\n        {\n          role: 'system',\n          content: systemPrompt\n        },\n        {\n          role: 'user',\n          content: JSON.stringify(userPayload, null, 2)\n        }\n      ]\n    }\n  }\n};\n"
            },
            "id": "10de7a55-15f0-45ce-a60c-25f77317b87b",
            "name": "Build LLM Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1300,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$json.llm_endpoint}}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{'Bearer ' + $env.LLM_API_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.llm_request) }}",
                "options": {}
            },
            "id": "411cf499-2f86-4c6f-ab6f-e57a8188e253",
            "name": "Call LLM Enrichment API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 3000,
            "position": [
                1560,
                240
            ]
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "language": "javaScript",
                "jsCode": "const original = $('Build LLM Request').item.json || {};\nconst rawContent = $json?.choices?.[0]?.message?.content;\nif (!rawContent || typeof rawContent !== 'string') {\n  throw new Error('LLM response did not include choices[0].message.content');\n}\n\nconst stripCodeFence = (value) => String(value)\n  .trim()\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(stripCodeFence(rawContent));\n} catch (error) {\n  throw new Error(`Failed to parse LLM JSON response: ${error.message}`);\n}\n\nconst normalizeMultiline = (value = '') => String(value ?? '')\n  .replace(/\\r\\n/g, '\\n')\n  .replace(/\\u0000/g, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst normalizeSingleLine = (value = '') => normalizeMultiline(value)\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst extractQuickTake = (value = '') => {\n  const normalized = normalizeSingleLine(value);\n  if (!normalized) {\n    return '';\n  }\n  const sentenceMatch = normalized.match(/^.{1,140}?[。！？!?](?=\\s|$)/);\n  if (sentenceMatch?.[0]) {\n    return sentenceMatch[0].trim();\n  }\n  return normalized.length <= 140 ? normalized : `${normalized.slice(0, 137).trim()}...`;\n};\n\nconst toClampedInt = (value, min, max, fieldName) => {\n  const numericValue = Math.round(Number(value));\n  if (!Number.isFinite(numericValue)) {\n    throw new Error(`LLM response ${fieldName} must be numeric`);\n  }\n  return Math.max(min, Math.min(max, numericValue));\n};\n\nconst toClampedFloat = (value, min, max, fieldName) => {\n  const numericValue = Number(value);\n  if (!Number.isFinite(numericValue)) {\n    throw new Error(`LLM response ${fieldName} must be numeric`);\n  }\n  return Math.max(min, Math.min(max, numericValue));\n};\n\nconst toStringArray = (value) => {\n  if (Array.isArray(value)) {\n    return value;\n  }\n  if (typeof value === 'string') {\n    return value.split(/[\\n,]+/);\n  }\n  return [];\n};\n\nconst normalizeKeyPoints = (value) => {\n  const rawItems = Array.isArray(value) ? value : [];\n  const normalized = [];\n\n  for (const rawItem of rawItems) {\n    if (normalized.length >= 4) {\n      break;\n    }\n\n    if (typeof rawItem === 'string') {\n      const text = normalizeSingleLine(rawItem);\n      if (!text) {\n        continue;\n      }\n      normalized.push({\n        heading: text.slice(0, 60),\n        bullets: [text]\n      });\n      continue;\n    }\n\n    if (!rawItem || typeof rawItem !== 'object') {\n      continue;\n    }\n\n    const heading = normalizeSingleLine(\n      rawItem.heading\n      || rawItem.title\n      || rawItem.label\n      || rawItem.point\n      || ''\n    ).slice(0, 60);\n    const bulletCandidates = Array.isArray(rawItem.bullets)\n      ? rawItem.bullets\n      : Array.isArray(rawItem.points)\n        ? rawItem.points\n        : toStringArray(rawItem.bullets || rawItem.summary || rawItem.text || '');\n    const bullets = bulletCandidates\n      .map((entry) => normalizeSingleLine(entry))\n      .filter(Boolean)\n      .slice(0, 3);\n\n    if (!heading && !bullets.length) {\n      continue;\n    }\n\n    normalized.push({\n      heading: heading || bullets[0].slice(0, 60),\n      bullets: bullets.length ? bullets : [heading]\n    });\n  }\n\n  return normalized;\n};\n\nconst normalizeClaims = (value) => {\n  const rawItems = Array.isArray(value) ? value : [];\n  const normalized = [];\n\n  for (const rawItem of rawItems) {\n    if (normalized.length >= 3) {\n      break;\n    }\n\n    if (typeof rawItem === 'string') {\n      const claim = normalizeSingleLine(rawItem);\n      if (!claim) {\n        continue;\n      }\n      normalized.push({\n        claim,\n        claim_type: '',\n        evidence_anchor: '',\n        system_relation: ''\n      });\n      continue;\n    }\n\n    if (!rawItem || typeof rawItem !== 'object') {\n      continue;\n    }\n\n    const claim = normalizeSingleLine(rawItem.claim || rawItem.statement || rawItem.summary || '');\n    if (!claim) {\n      continue;\n    }\n\n    normalized.push({\n      claim,\n      claim_type: normalizeSingleLine(rawItem.claim_type || rawItem.type || ''),\n      evidence_anchor: normalizeSingleLine(rawItem.evidence_anchor || rawItem.evidence || rawItem.anchor || ''),\n      system_relation: normalizeSingleLine(rawItem.system_relation || rawItem.relation || '')\n    });\n  }\n\n  return normalized;\n};\n\nconst normalizeActionItems = (value) => toStringArray(value)\n  .map((entry) => normalizeSingleLine(entry))\n  .filter(Boolean)\n  .slice(0, 4);\n\nconst category = normalizeSingleLine(parsed.category || '');\nconst summary = normalizeMultiline(parsed.summary || '');\nconst reason = normalizeMultiline(parsed.reason || '');\nif (!category) {\n  throw new Error('LLM response category must be non-empty');\n}\nif (!summary) {\n  throw new Error('LLM response summary must be non-empty');\n}\nif (!reason) {\n  throw new Error('LLM response reason must be non-empty');\n}\n\nconst parsedDimensions = parsed.score_dimensions && typeof parsed.score_dimensions === 'object'\n  ? parsed.score_dimensions\n  : parsed.dimensions && typeof parsed.dimensions === 'object'\n    ? parsed.dimensions\n    : null;\nif (!parsedDimensions) {\n  throw new Error('LLM response score_dimensions must be an object');\n}\n\nconst scoreDimensions = {\n  personal_relevance: toClampedInt(parsedDimensions.personal_relevance, 0, 25, 'score_dimensions.personal_relevance'),\n  information_density: toClampedInt(parsedDimensions.information_density, 0, 20, 'score_dimensions.information_density'),\n  novelty: toClampedInt(parsedDimensions.novelty, 0, 20, 'score_dimensions.novelty'),\n  actionability: toClampedInt(parsedDimensions.actionability, 0, 15, 'score_dimensions.actionability'),\n  long_term_value: toClampedInt(parsedDimensions.long_term_value, 0, 15, 'score_dimensions.long_term_value'),\n  source_quality: toClampedInt(parsedDimensions.source_quality, 0, 5, 'score_dimensions.source_quality'),\n  penalty: toClampedInt(parsedDimensions.penalty, -20, 0, 'score_dimensions.penalty')\n};\n\nconst upstreamScoreScale = Math.round(Number(original.score_scale ?? 100));\nif (!Number.isFinite(upstreamScoreScale) || upstreamScoreScale !== 100) {\n  throw new Error('02_enrich_with_llm requires score_scale=100 after request preparation');\n}\nconst scoreScale = 100;\nconst keepScore = Math.max(0, Math.min(scoreScale,\n  scoreDimensions.personal_relevance\n  + scoreDimensions.information_density\n  + scoreDimensions.novelty\n  + scoreDimensions.actionability\n  + scoreDimensions.long_term_value\n  + scoreDimensions.source_quality\n  + scoreDimensions.penalty\n));\n\nconst parsedAiScore = parsed.ai_score && typeof parsed.ai_score === 'object' ? parsed.ai_score : {};\nconst decisionHint = normalizeSingleLine(parsedAiScore.decision_hint || '') || 'review';\nif (!['keep_full', 'keep_reference', 'review', 'skip'].includes(decisionHint)) {\n  throw new Error('LLM response ai_score.decision_hint must be one of keep_full, keep_reference, review, skip');\n}\n\nconst aiScore = {\n  keep_score: keepScore,\n  notify_score: toClampedInt(parsedAiScore.notify_score ?? keepScore, 0, 100, 'ai_score.notify_score'),\n  reference_score: toClampedInt(parsedAiScore.reference_score ?? keepScore, 0, 100, 'ai_score.reference_score'),\n  action_score: toClampedInt(parsedAiScore.action_score ?? 0, 0, 100, 'ai_score.action_score'),\n  confidence: Number(toClampedFloat(parsedAiScore.confidence ?? 0.7, 0, 1, 'ai_score.confidence').toFixed(4)),\n  decision_hint: decisionHint\n};\n\nconst normalizedScore = Number((keepScore / scoreScale).toFixed(4));\nlet score = Number.isFinite(Number(original.score))\n  ? Number(toClampedFloat(original.score, 0, 1, 'score').toFixed(4))\n  : normalizedScore;\nif (Math.abs(normalizedScore - score) > 0.001) {\n  score = normalizedScore;\n}\n\nconst normalizedTags = Array.isArray(parsed.tags)\n  ? parsed.tags\n  : typeof parsed.tags === 'string'\n    ? parsed.tags.split(',')\n    : [];\nconst mergedTags = [...new Set([\n  ...((Array.isArray(original.existing_tags) ? original.existing_tags : []).map((tag) => String(tag).trim()).filter(Boolean)),\n  ...normalizedTags.map((tag) => String(tag).trim().toLowerCase()).filter(Boolean)\n])];\n\nconst noteQuickTake = normalizeMultiline(parsed.note_quick_take || parsed.quick_take || '');\nconst noteWhyUseful = normalizeMultiline(parsed.note_why_useful || parsed.why_useful || '');\nconst noteKeyPoints = normalizeKeyPoints(parsed.note_key_points || parsed.key_points);\nconst noteClaims = normalizeClaims(parsed.note_claims || parsed.claims);\nconst noteActionItems = normalizeActionItems(parsed.note_action_items || parsed.action_items);\n\nconst quickTake = noteQuickTake || extractQuickTake(summary) || extractQuickTake(reason);\nconst whyUseful = noteWhyUseful || reason || summary;\nconst keyPoints = noteKeyPoints.length\n  ? noteKeyPoints\n  : summary\n    ? [{ heading: '内容概览', bullets: [normalizeSingleLine(summary)] }]\n    : [];\n\nconst scoredAt = new Date().toISOString();\nconst aiMeta = {\n  model_profile: String(original.model_profile || 'scoring_default'),\n  provider: String(original.llm_provider || 'openai-compatible'),\n  model: String(original.llm_model || '').trim(),\n  prompt_version: String(original.prompt_version || 'scoring_v2_cn_note'),\n  rubric_version: String(original.rubric_version || 'personal_info_processor_v1'),\n  input_chars: String(original.content_text || '').length,\n  scored_at: scoredAt\n};\n\nreturn {\n  json: {\n    ...original,\n    score,\n    score_scale: scoreScale,\n    category,\n    tags: mergedTags,\n    summary,\n    reason,\n    note_view_version: String(original.note_view_version || 'zh_reader_v1').trim() || 'zh_reader_v1',\n    note_quick_take: quickTake,\n    note_why_useful: whyUseful,\n    note_key_points: keyPoints,\n    note_claims: noteClaims,\n    note_action_items: noteActionItems,\n    ai_score: aiScore,\n    score_dimensions: scoreDimensions,\n    ai_meta: aiMeta,\n    enriched_at: scoredAt,\n    status: 'enriched'\n  }\n};\n"
            },
            "id": "affb788f-d002-4d09-922a-f9895df8cf31",
            "name": "Parse And Merge Enrichment",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1820,
                240
            ]
        }
    ],
    "connections": {
        "When clicking 'Execute workflow'": {
            "main": [
                [
                    {
                        "node": "Example Normalized Text Object",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When Executed by Another Workflow": {
            "main": [
                [
                    {
                        "node": "Validate Normalized Text Object",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Example Normalized Text Object": {
            "main": [
                [
                    {
                        "node": "Validate Normalized Text Object",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Normalized Text Object": {
            "main": [
                [
                    {
                        "node": "Guard Privacy Before External LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guard Privacy Before External LLM": {
            "main": [
                [
                    {
                        "node": "Build LLM Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build LLM Request": {
            "main": [
                [
                    {
                        "node": "Call LLM Enrichment API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call LLM Enrichment API": {
            "main": [
                [
                    {
                        "node": "Parse And Merge Enrichment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "8d67a05d-c092-4b6b-9efa-20649a38c50a",
    "tags": []
}
