deploy/n8n/workflows/03_qdrant_gate.json
{
  "id": "a793499a65e344bc",
  "name": "03 Qdrant Gate",
  "description": "Runnable template workflow: call an OpenAI-compatible embeddings API, search Qdrant for the nearest match, compute the three-way dedupe action, and upsert only when the item is not a silent duplicate.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "5fdd0eff-5818-4e9c-83cc-c14abd64c420",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c4f86c6bfe17f0f3d5c21d7839ed4f3d8fbf35bc7f7f5ec34f7a1',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      canonical_url: 'https://example.com/post',\n      title: 'Example enriched item',\n      author: 'OpenAI',\n      published_at: '2026-04-17T09:00:00-04:00',\n      ingested_at: '2026-04-17T09:05:00-04:00',\n      media_type: 'text',\n      content_text: 'Normalized plain text content for vector search. The item explains why AIInformationProcessor should establish a stable text-object contract before adding more ingestion paths.',\n      content_hash: 'sha256:example',\n      score: 0.82,\n      category: 'AI Infra',\n      summary: 'A concise final summary that represents the mainline enrichment result.',\n      reason: 'The item matters because it defines the contract and sequencing needed before the project expands.',\n      tags: ['inbox', 'ai-information-processor', 'openai'],\n      dedupe_action: 'full_push',\n      status: 'enriched'\n    }\n  }\n];"
      },
      "id": "1ac5c46d-dace-4d4b-bce3-6978be3a3b8f",
      "name": "Example Enriched Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const requiredFields = ['item_id', 'source_type', 'source_name', 'title', 'content_text', 'summary'];\nconst missingFields = requiredFields.filter((field) => !String($json[field] || '').trim());\nif (missingFields.length) {\n  throw new Error(`Enriched item missing required fields: ${missingFields.join(', ')}`);\n}\n\nconst embeddingBaseUrl = String($env.EMBEDDING_BASE_URL || '').trim().replace(/\\/+$/, '');\nconst embeddingModel = String($env.EMBEDDING_MODEL || '').trim();\nconst embeddingApiKey = String($env.EMBEDDING_API_KEY || '').trim();\nconst qdrantCollection = String($env.QDRANT_COLLECTION || 'article_embeddings').trim() || 'article_embeddings';\nconst qdrantVectorSize = Number($env.QDRANT_VECTOR_SIZE || 0);\n\nif (!embeddingBaseUrl) {\n  throw new Error('EMBEDDING_BASE_URL is required for 03_qdrant_gate');\n}\nif (!embeddingModel) {\n  throw new Error('EMBEDDING_MODEL is required for 03_qdrant_gate');\n}\nif (!embeddingApiKey) {\n  throw new Error('EMBEDDING_API_KEY is required for 03_qdrant_gate');\n}\nif (!Number.isInteger(qdrantVectorSize) || qdrantVectorSize <= 0) {\n  throw new Error('QDRANT_VECTOR_SIZE must be a positive integer');\n}\n\nconst embeddingInput = [\n  String($json.title || '').trim(),\n  String($json.summary || '').trim(),\n  String($json.content_text || '').trim()\n].filter(Boolean).join('\\n\\n').slice(0, 12000);\n\nif (embeddingInput.length < 80) {\n  throw new Error('Embedding input is too short for reliable dedupe; expected at least 80 characters after normalization');\n}\n\nreturn {\n  json: {\n    ...$json,\n    embedding_base_url: embeddingBaseUrl,\n    embedding_model: embeddingModel,\n    qdrant_base_url: 'http://qdrant:6333',\n    qdrant_collection: qdrantCollection,\n    qdrant_vector_size: qdrantVectorSize,\n    embedding_input: embeddingInput\n  }\n};"
      },
      "id": "50233033-8262-4376-a1a9-9e994a32ac6a",
      "name": "Validate Gate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return {\n  json: {\n    ...$json,\n    embedding_endpoint: `${$json.embedding_base_url}/embeddings`,\n    embedding_request: {\n      model: $json.embedding_model,\n      input: $json.embedding_input\n    }\n  }\n};"
      },
      "id": "43de6981-8f89-4aef-904f-4242b0c8ef33",
      "name": "Build Embedding Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.embedding_endpoint}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.EMBEDDING_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.embedding_request) }}",
        "options": {}
      },
      "id": "291bd405-133f-4f25-8640-393731c6885b",
      "name": "Call Embedding API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const original = $('Build Embedding Request').item.json || {};\nconst embedding = $json?.data?.[0]?.embedding;\nif (!Array.isArray(embedding)) {\n  throw new Error('Embedding response did not include data[0].embedding');\n}\nif (embedding.length !== Number(original.qdrant_vector_size)) {\n  throw new Error(`Embedding vector length ${embedding.length} does not match QDRANT_VECTOR_SIZE ${original.qdrant_vector_size}`);\n}\n\nreturn {\n  json: {\n    ...original,\n    embedding,\n    qdrant_search_endpoint: `${original.qdrant_base_url}/collections/${encodeURIComponent(original.qdrant_collection)}/points/search`,\n    qdrant_search_payload: {\n      vector: embedding,\n      limit: 1,\n      with_payload: true\n    }\n  }\n};"
      },
      "id": "6f6b40b9-2e7f-46ac-b070-149681be4938",
      "name": "Build Qdrant Search Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.qdrant_search_endpoint}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.qdrant_search_payload) }}",
        "options": {}
      },
      "id": "6d6ac0dd-b8c4-4cb8-88d9-2fd319277ea3",
      "name": "Qdrant Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const original = $('Build Qdrant Search Request').item.json || {};\nconst matches = Array.isArray($json?.result)\n  ? $json.result\n  : Array.isArray($json)\n    ? $json\n    : [];\nconst match = matches[0] || null;\n\nlet dedupeAction = 'full_push';\nlet notificationMode = 'full';\nlet shouldWriteToVault = true;\nlet shouldNotify = true;\nlet shouldUpsertQdrant = true;\n\nif (match && match.score >= 0.97) {\n  dedupeAction = 'silent';\n  notificationMode = 'silent';\n  shouldWriteToVault = false;\n  shouldNotify = false;\n  shouldUpsertQdrant = false;\n} else if (match && match.score >= 0.85) {\n  dedupeAction = 'diff_push';\n  notificationMode = 'incremental';\n}\n\nreturn {\n  json: {\n    ...original,\n    dedupe_action: dedupeAction,\n    notification_mode: notificationMode,\n    should_write_to_vault: shouldWriteToVault,\n    should_notify: shouldNotify,\n    should_upsert_qdrant: shouldUpsertQdrant,\n    matched_payload: match?.payload || null,\n    matched_score: Number(match?.score || 0),\n    status: dedupeAction === 'silent' ? 'deduped' : original.status\n  }\n};"
      },
      "id": "a7fafd3e-ef12-480e-b9c0-c9222adf57c7",
      "name": "Decide Dedupe Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const toDeterministicUuid = (value) => {\n  const hex = String(value || '').toLowerCase().replace(/[^0-9a-f]/g, '');\n  const padded = (hex + '00000000000000000000000000000000').slice(0, 32);\n  return `${padded.slice(0, 8)}-${padded.slice(8, 12)}-${padded.slice(12, 16)}-${padded.slice(16, 20)}-${padded.slice(20, 32)}`;\n};\n\nconst qdrantPointId = toDeterministicUuid($json.item_id);\n\nreturn {\n  json: {\n    ...$json,\n    qdrant_point_id: qdrantPointId,\n    qdrant_upsert_endpoint: `${$json.qdrant_base_url}/collections/${encodeURIComponent($json.qdrant_collection)}/points`,\n    qdrant_upsert_payload: {\n      points: [\n        {\n          id: qdrantPointId,\n          vector: $json.embedding,\n          payload: {\n            item_id: $json.item_id,\n            source_type: $json.source_type,\n            source_name: $json.source_name,\n            title: $json.title,\n            canonical_url: $json.canonical_url,\n            published_at: $json.published_at,\n            score: $json.score,\n            category: $json.category,\n            summary: $json.summary,\n            dedupe_action: $json.dedupe_action,\n            matched_score: $json.matched_score,\n            tags: $json.tags,\n            content_hash: $json.content_hash\n          }\n        }\n      ]\n    }\n  }\n};"
      },
      "id": "cff43ca0-35dc-436f-a85a-adf1b903e251",
      "name": "Build Qdrant Upsert Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.dedupe_action}}",
              "operation": "notEqual",
              "value2": "silent"
            }
          ]
        },
        "options": {}
      },
      "id": "573d0358-4731-413c-a03d-377c37f6de0d",
      "name": "Should Upsert To Qdrant",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        240
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.qdrant_upsert_endpoint}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.qdrant_upsert_payload) }}",
        "options": {}
      },
      "id": "88257c26-8807-4766-a58f-7f386368ad9b",
      "name": "Qdrant Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const original = $('Build Qdrant Upsert Payload').item.json || {};\nreturn {\n  json: {\n    ...original,\n    qdrant_operation: 'upserted',\n    qdrant_upsert_response: $json\n  }\n};"
      },
      "id": "e0194f74-b879-4830-bf14-b0fd067eb34b",
      "name": "Finalize Upsert Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return {\n  json: {\n    ...$json,\n    qdrant_operation: 'skipped',\n    qdrant_upsert_response: null\n  }\n};"
      },
      "id": "bc095544-8e75-4d54-aa0a-8fa4775c3266",
      "name": "Skip Qdrant Upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        320
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Enriched Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Enriched Item": {
      "main": [
        [
          {
            "node": "Validate Gate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Gate Input": {
      "main": [
        [
          {
            "node": "Build Embedding Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Embedding Request": {
      "main": [
        [
          {
            "node": "Call Embedding API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Embedding API": {
      "main": [
        [
          {
            "node": "Build Qdrant Search Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qdrant Search Request": {
      "main": [
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "Decide Dedupe Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Dedupe Action": {
      "main": [
        [
          {
            "node": "Build Qdrant Upsert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Qdrant Upsert Payload": {
      "main": [
        [
          {
            "node": "Should Upsert To Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Upsert To Qdrant": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Finalize Upsert Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "96d9c3cd-7641-4806-8e0b-a907bd9329b5",
  "tags": []
}
