deploy/n8n/workflows/04_video_transcript_ingest.json
{
  "id": "acb525fca8ea4dc4",
  "name": "04 Video Transcript Ingest",
  "description": "Runnable transcript adapter: submit a media URL to VideoTranscriptAPI, poll task completion over HTTP nodes, clean the transcript payload, and return a NormalizedTextObject-compatible ingress input. VideoTranscriptAPI summary/cache/LLM outputs are treated only as upstream context via upstream_summary or transcript_service_meta. This workflow does not run scoring, dedupe, action policy, or Vault writing.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a089c8af-8f77-4707-9840-0b6e470aa2e1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        180
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d1fd76f2-0a91-4289-a89a-d77839c8a3f1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      transcript_source_url: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',\n      source_name: 'Video Transcript API smoke',\n      source_type: 'transcript',\n      media_type: 'video',\n      use_speaker_recognition: false,\n      published_at: new Date().toISOString(),\n      obsidian_inbox_dir: '00_Inbox/AI_Information_Processor'\n    }\n  }\n];"
      },
      "id": "53c35a87-d018-4470-b16a-3c219a38cc52",
      "name": "Example Transcript Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const sourceUrl = String($json.transcript_source_url || $json.url || '').trim();\nif (!sourceUrl) {\n  throw new Error('transcript_source_url is required for 04_video_transcript_ingest');\n}\n\nconst baseUrl = String($env.VIDEO_TRANSCRIPT_BASE_URL || '').trim().replace(/\\/+$/, '');\nconst apiKey = String($env.VIDEO_TRANSCRIPT_API_KEY || '').trim();\nif (!baseUrl) {\n  throw new Error('VIDEO_TRANSCRIPT_BASE_URL is required for 04_video_transcript_ingest');\n}\nif (!apiKey) {\n  throw new Error('VIDEO_TRANSCRIPT_API_KEY is required for 04_video_transcript_ingest');\n}\n\nconst metadataOverride = {};\nfor (const [sourceKey, targetKey] of [\n  ['title', 'title'],\n  ['author', 'author'],\n  ['description', 'description']\n]) {\n  const value = String($json[sourceKey] || '').trim();\n  if (value) {\n    metadataOverride[targetKey] = value;\n  }\n}\n\nconst requestBody = {\n  url: sourceUrl,\n  use_speaker_recognition: Boolean($json.use_speaker_recognition),\n};\n\nconst downloadUrl = String($json.download_url || '').trim();\nif (downloadUrl) {\n  requestBody.download_url = downloadUrl;\n}\n\nconst wechatWebhook = String($json.wechat_webhook || '').trim();\nif (wechatWebhook) {\n  requestBody.wechat_webhook = wechatWebhook;\n}\n\nif (Object.keys(metadataOverride).length) {\n  requestBody.metadata_override = metadataOverride;\n}\n\nreturn {\n  json: {\n    ...$json,\n    transcript_source_url: sourceUrl,\n    transcript_api: {\n      base_url: baseUrl,\n      api_key: apiKey,\n      submit_url: `${baseUrl}/api/transcribe`,\n      request_body: requestBody,\n      poll_interval_ms: Math.max(1000, Number($json.poll_interval_ms || 3000)),\n      max_polls: Math.max(1, Number($json.max_polls || 40))\n    }\n  }\n};"
      },
      "id": "8d427074-e6b9-450a-8798-d0b6cc608fcf",
      "name": "Build Transcript API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.transcript_api.submit_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.transcript_api.api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.transcript_api.request_body) }}",
        "options": {}
      },
      "id": "0ff8c82d-dcc2-4b3b-a4e7-4ed53baef645",
      "name": "Submit Transcript Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const requestItem = $('Build Transcript API Request').item.json || {};\nconst submitResponse = $json || {};\nconst transcriptApi = requestItem.transcript_api || {};\nconst baseUrl = String(transcriptApi.base_url || '').replace(/\\/+$/, '');\nconst apiKey = String(transcriptApi.api_key || '').trim();\nconst taskId = String(submitResponse?.data?.task_id || '').trim();\nconst viewToken = String(submitResponse?.data?.view_token || '').trim();\n\nif (!baseUrl || !apiKey) {\n  throw new Error('Transcript API connection info is missing after submission');\n}\nif (!taskId || !viewToken) {\n  throw new Error(`Transcript API submit response missing task_id/view_token: ${JSON.stringify(submitResponse)}`);\n}\n\nreturn {\n  json: {\n    ...requestItem,\n    submit_response: submitResponse,\n    upstream_task_id: taskId,\n    upstream_view_token: viewToken,\n    poll_attempt: 0,\n    poll_state: 'pending',\n    task_status_url: `${baseUrl}/api/task/${encodeURIComponent(taskId)}`,\n    transcript_exports: {\n      calibrated: `${baseUrl}/view/${viewToken}?raw=calibrated`,\n      transcript: `${baseUrl}/view/${viewToken}?raw=transcript`,\n      summary: `${baseUrl}/view/${viewToken}?raw=summary`\n    }\n  }\n};"
      },
      "id": "98a3ca8f-4245-41f0-8b02-7ec6b988db53",
      "name": "Build Transcript Poll Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "if (!String($json.task_status_url || '').trim()) {\n  throw new Error('task_status_url is required before polling Transcript API task status');\n}\n\nreturn {\n  json: {\n    ...$json\n  }\n};"
      },
      "id": "544565b4-0ac3-4b25-a17a-99b174f51098",
      "name": "Prepare Transcript Task Status Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.task_status_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.transcript_api.api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9f980fee-f771-49b6-ad44-8c56a33194e8",
      "name": "Fetch Transcript Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const context = $('Prepare Transcript Task Status Request').item.json || {};\nconst taskStatus = $json || {};\nconst maxPolls = Math.max(1, Number(context.transcript_api?.max_polls || 40));\nconst nextAttempt = Number(context.poll_attempt || 0) + 1;\nconst responseCode = Number(taskStatus.code || 0);\n\nif (!Number.isFinite(responseCode)) {\n  throw new Error(`Transcript API task status returned a non-numeric code: ${JSON.stringify(taskStatus)}`);\n}\n\nif (responseCode === 202) {\n  if (nextAttempt >= maxPolls) {\n    throw new Error(`Transcript API task ${context.upstream_task_id || 'unknown'} did not finish within ${maxPolls} polls`);\n  }\n\n  return {\n    json: {\n      ...context,\n      poll_attempt: nextAttempt,\n      poll_state: 'pending',\n      transcript_status: String(taskStatus.message || '').trim()\n    }\n  };\n}\n\nif (responseCode >= 500) {\n  throw new Error(`Transcript API task ${context.upstream_task_id || 'unknown'} failed: ${taskStatus.message || 'unknown error'}`);\n}\n\nconst firstNonEmptyString = (...values) => {\n  for (const value of values) {\n    const normalized = String(value || '').trim();\n    if (normalized) {\n      return normalized;\n    }\n  }\n  return '';\n};\n\nconst toOptionalNumber = (...values) => {\n  for (const value of values) {\n    const numericValue = Number(value);\n    if (Number.isFinite(numericValue) && numericValue >= 0) {\n      return Number(numericValue.toFixed(3));\n    }\n  }\n  return null;\n};\n\nconst asObject = (value) => value && typeof value === 'object' && !Array.isArray(value) ? value : null;\n\nconst readDurationFromSegments = (segments) => {\n  if (!Array.isArray(segments)) {\n    return null;\n  }\n  let maxEnd = null;\n  for (const segment of segments) {\n    if (!segment || typeof segment !== 'object') {\n      continue;\n    }\n    const endValue = toOptionalNumber(segment.end, segment.end_time, segment.stop, segment.stop_time);\n    if (endValue !== null) {\n      maxEnd = maxEnd === null ? endValue : Math.max(maxEnd, endValue);\n    }\n  }\n  return maxEnd === null ? null : Number(maxEnd.toFixed(3));\n};\n\nconst deriveDurationSeconds = (payload) => {\n  const root = asObject(payload);\n  if (!root) {\n    return null;\n  }\n\n  const directDuration = toOptionalNumber(root.duration_seconds, root.duration, root.audio_duration, root.video_duration);\n  if (directDuration !== null) {\n    return directDuration;\n  }\n\n  for (const candidate of [\n    root.segments,\n    root.sentences,\n    root.result,\n    asObject(root.transcription_data)?.segments,\n    asObject(root.transcription_data)?.sentences,\n    asObject(root.transcription_data)?.result\n  ]) {\n    const derived = readDurationFromSegments(candidate);\n    if (derived !== null) {\n      return derived;\n    }\n  }\n\n  return null;\n};\n\nconst detectLanguage = (text, fallback = '') => {\n  const normalizedFallback = String(fallback || '').trim().toLowerCase();\n  if (normalizedFallback) {\n    return normalizedFallback;\n  }\n\n  const cjkCount = (String(text || '').match(/[\\u4e00-\\u9fff]/g) || []).length;\n  const latinCount = (String(text || '').match(/[A-Za-z]/g) || []).length;\n  if (cjkCount >= 20) {\n    return 'zh';\n  }\n  if (latinCount >= 20) {\n    return 'en';\n  }\n  return 'unknown';\n};\n\nconst taskData = taskStatus.data && typeof taskStatus.data === 'object' ? taskStatus.data : {};\nconst transcriptText = String(taskData.transcript || '').trim();\nif (!transcriptText) {\n  throw new Error(`Transcript API task ${context.upstream_task_id || 'unknown'} completed without transcript text`);\n}\n\nconst transcriptionData = asObject(taskData.transcription_data);\nconst transcriptionType = firstNonEmptyString(\n  taskData.transcription_type,\n  transcriptionData?.transcript_type,\n  context.transcription_type\n);\nconst useSpeakerRecognition = Boolean(taskData.use_speaker_recognition ?? context.use_speaker_recognition);\nconst serviceSummary = firstNonEmptyString(\n  taskData.summary,\n  taskData.llm_summary,\n  taskData.service_summary,\n  taskData.summary_text\n);\nconst transcriptServiceMeta = {\n  backend: 'VideoTranscriptAPI',\n  asr_provider: transcriptionType === 'funasr' || useSpeakerRecognition\n    ? 'FunASR'\n    : transcriptionType === 'capswriter'\n      ? 'CapsWriter'\n      : 'CapsWriter',\n  duration_seconds: deriveDurationSeconds(taskData),\n  language: detectLanguage(transcriptText, taskData.language || context.language),\n  transcript_quality: firstNonEmptyString(\n    taskData.transcript_quality,\n    taskData.quality,\n    taskData.quality_label,\n    context.transcript_quality\n  ) || 'unknown',\n  cache_hit: Boolean(\n    taskData.cache_hit === true\n    || taskData.from_cache === true\n    || context.submit_response?.data?.cache_hit === true\n  ),\n  service_summary_present: Boolean(serviceSummary)\n};\n\nconst originalItem = {\n  request: context.transcript_api?.request_body || {},\n  submit_response: context.submit_response || {},\n  task_status: taskStatus,\n  transcript_exports: context.transcript_exports || {},\n  transcript_service_meta: transcriptServiceMeta\n};\nif (serviceSummary) {\n  originalItem.transcript_service_summary = serviceSummary;\n}\n\nreturn {\n  json: {\n    ...context,\n    poll_attempt: nextAttempt,\n    poll_state: 'completed',\n    upstream_summary: serviceSummary || String(context.upstream_summary || '').trim(),\n    canonical_url: String(context.canonical_url || context.transcript_source_url || '').trim(),\n    original_id: String(context.original_id || `video-transcript:${context.upstream_view_token || 'unknown'}`).trim(),\n    title: String(taskData.video_title || context.title || 'untitled transcript item').trim() || 'untitled transcript item',\n    author: String(taskData.author || context.author || '').trim(),\n    published_at: context.published_at || new Date().toISOString(),\n    transcript_text: transcriptText,\n    transcript_status: String(taskStatus.message || '').trim(),\n    transcript_service_meta: transcriptServiceMeta,\n    original_item: originalItem\n  }\n};"
      },
      "id": "5c39fd5d-20db-4214-92a0-9a9ebd55d4d2",
      "name": "Resolve Transcript Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.poll_state}}",
              "operation": "equal",
              "value2": "pending"
            }
          ]
        }
      },
      "id": "186281cc-6bde-43e0-a5d7-8dbab298f6b2",
      "name": "Needs Another Poll",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2340,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const delayMs = Math.max(1000, Number($json.transcript_api?.poll_interval_ms || 3000));\nawait new Promise((resolve) => setTimeout(resolve, delayMs));\nreturn {\n  json: {\n    ...$json\n  }\n};"
      },
      "id": "c29ab9b8-89d1-428f-9d02-d5f911fd82a0",
      "name": "Sleep Before Next Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const transcriptText = String($json.transcript_text || $json.calibrated_transcript || '').trim();\nif (!transcriptText) {\n  throw new Error('Resolved transcript payload is missing transcript_text');\n}\n\nconst obsidianInboxDir = String($json.obsidian_inbox_dir || $env.OBSIDIAN_INBOX_DIR || '00_Inbox/AI_Information_Processor').trim() || '00_Inbox/AI_Information_Processor';\nconst requestedTags = Array.isArray($json.extra_tags) ? $json.extra_tags : [];\nconst extraTags = [...new Set([\n  'transcript',\n  ...requestedTags.map((tag) => String(tag).trim())\n].filter(Boolean))];\nconst transcriptServiceMeta = $json.transcript_service_meta && typeof $json.transcript_service_meta === 'object' && !Array.isArray($json.transcript_service_meta)\n  ? { ...$json.transcript_service_meta }\n  : {};\nconst upstreamSummary = String($json.upstream_summary || '').trim();\nconst originalItem = $json.original_item && typeof $json.original_item === 'object' && !Array.isArray($json.original_item)\n  ? { ...$json.original_item }\n  : {};\nif (Object.keys(transcriptServiceMeta).length) {\n  originalItem.transcript_service_meta = transcriptServiceMeta;\n}\nif (upstreamSummary) {\n  originalItem.upstream_summary = upstreamSummary;\n}\nconst finalOriginalItem = Object.keys(originalItem).length ? originalItem : ($json.original_item ?? $json);\n\nreturn {\n  json: {\n    source_type: String($json.source_type || 'transcript').trim() || 'transcript',\n    source_name: String($json.source_name || 'video-transcript-api').trim() || 'video-transcript-api',\n    canonical_url: String($json.canonical_url || $json.transcript_source_url || '').trim(),\n    original_id: String($json.original_id || '').trim(),\n    title: String($json.title || 'untitled').trim() || 'untitled',\n    author: String($json.author || '').trim(),\n    published_at: $json.published_at || new Date().toISOString(),\n    media_type: String($json.media_type || 'video').trim() || 'video',\n    raw_html: '',\n    raw_text: transcriptText,\n    obsidian_inbox_dir: obsidianInboxDir,\n    extra_tags: extraTags,\n    upstream_task_id: String($json.upstream_task_id || '').trim(),\n    upstream_view_token: String($json.upstream_view_token || '').trim(),\n    upstream_summary: upstreamSummary,\n    transcript_service_meta: transcriptServiceMeta,\n    original_item: finalOriginalItem\n  }\n};"
      },
      "id": "fd48bc59-b434-4c1d-9f47-5456f1cb983f",
      "name": "Transcript Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return { json: { ...$json } };"
      },
      "id": "45984f85-a527-476f-a718-73241e9521e7",
      "name": "Return Adapter Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        380
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Transcript Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Transcript API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Transcript Request": {
      "main": [
        [
          {
            "node": "Build Transcript API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript API Request": {
      "main": [
        [
          {
            "node": "Submit Transcript Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Transcript Task": {
      "main": [
        [
          {
            "node": "Build Transcript Poll Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript Poll Context": {
      "main": [
        [
          {
            "node": "Prepare Transcript Task Status Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transcript Task Status Request": {
      "main": [
        [
          {
            "node": "Fetch Transcript Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript Task Status": {
      "main": [
        [
          {
            "node": "Resolve Transcript Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Transcript Result": {
      "main": [
        [
          {
            "node": "Needs Another Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Another Poll": {
      "main": [
        [
          {
            "node": "Sleep Before Next Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcript Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep Before Next Poll": {
      "main": [
        [
          {
            "node": "Prepare Transcript Task Status Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Adapter": {
      "main": [
        [
          {
            "node": "Return Adapter Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b3eade1f-d435-468d-986e-919505566c15",
  "tags": []
}
