deploy/n8n/workflows/04_video_transcript_ingest.json
{
  "id": "acb525fca8ea4dc4",
  "name": "04 Video Transcript Ingest",
  "description": "Runnable ingress workflow: submit a URL to VideoTranscriptAPI, poll task completion over HTTP nodes, reuse task.data.transcript, then pass the result through 00 -> 01a -> 03 pre-LLM dedupe, conditionally 02 -> 04a, and return the shared mainline object without writing Vault.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a089c8af-8f77-4707-9840-0b6e470aa2e1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        180
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d1fd76f2-0a91-4289-a89a-d77839c8a3f1",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      transcript_source_url: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ',\n      source_name: 'Video Transcript API smoke',\n      source_type: 'transcript',\n      media_type: 'video',\n      use_speaker_recognition: false,\n      published_at: new Date().toISOString(),\n      obsidian_inbox_dir: '00_Inbox/AI_Information_Processor'\n    }\n  }\n];"
      },
      "id": "53c35a87-d018-4470-b16a-3c219a38cc52",
      "name": "Example Transcript Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const sourceUrl = String($json.transcript_source_url || $json.url || '').trim();\nif (!sourceUrl) {\n  throw new Error('transcript_source_url is required for 04_video_transcript_ingest');\n}\n\nconst baseUrl = String($env.VIDEO_TRANSCRIPT_BASE_URL || '').trim().replace(/\\/+$/, '');\nconst apiKey = String($env.VIDEO_TRANSCRIPT_API_KEY || '').trim();\nif (!baseUrl) {\n  throw new Error('VIDEO_TRANSCRIPT_BASE_URL is required for 04_video_transcript_ingest');\n}\nif (!apiKey) {\n  throw new Error('VIDEO_TRANSCRIPT_API_KEY is required for 04_video_transcript_ingest');\n}\n\nconst metadataOverride = {};\nfor (const [sourceKey, targetKey] of [\n  ['title', 'title'],\n  ['author', 'author'],\n  ['description', 'description']\n]) {\n  const value = String($json[sourceKey] || '').trim();\n  if (value) {\n    metadataOverride[targetKey] = value;\n  }\n}\n\nconst requestBody = {\n  url: sourceUrl,\n  use_speaker_recognition: Boolean($json.use_speaker_recognition),\n};\n\nconst downloadUrl = String($json.download_url || '').trim();\nif (downloadUrl) {\n  requestBody.download_url = downloadUrl;\n}\n\nconst wechatWebhook = String($json.wechat_webhook || '').trim();\nif (wechatWebhook) {\n  requestBody.wechat_webhook = wechatWebhook;\n}\n\nif (Object.keys(metadataOverride).length) {\n  requestBody.metadata_override = metadataOverride;\n}\n\nreturn {\n  json: {\n    ...$json,\n    transcript_source_url: sourceUrl,\n    transcript_api: {\n      base_url: baseUrl,\n      api_key: apiKey,\n      submit_url: `${baseUrl}/api/transcribe`,\n      request_body: requestBody,\n      poll_interval_ms: Math.max(1000, Number($json.poll_interval_ms || 3000)),\n      max_polls: Math.max(1, Number($json.max_polls || 40))\n    }\n  }\n};"
      },
      "id": "8d427074-e6b9-450a-8798-d0b6cc608fcf",
      "name": "Build Transcript API Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.transcript_api.submit_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.transcript_api.api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.transcript_api.request_body) }}",
        "options": {}
      },
      "id": "0ff8c82d-dcc2-4b3b-a4e7-4ed53baef645",
      "name": "Submit Transcript Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const requestItem = $('Build Transcript API Request').item.json || {};\nconst submitResponse = $json || {};\nconst transcriptApi = requestItem.transcript_api || {};\nconst baseUrl = String(transcriptApi.base_url || '').replace(/\\/+$/, '');\nconst apiKey = String(transcriptApi.api_key || '').trim();\nconst taskId = String(submitResponse?.data?.task_id || '').trim();\nconst viewToken = String(submitResponse?.data?.view_token || '').trim();\n\nif (!baseUrl || !apiKey) {\n  throw new Error('Transcript API connection info is missing after submission');\n}\nif (!taskId || !viewToken) {\n  throw new Error(`Transcript API submit response missing task_id/view_token: ${JSON.stringify(submitResponse)}`);\n}\n\nreturn {\n  json: {\n    ...requestItem,\n    submit_response: submitResponse,\n    upstream_task_id: taskId,\n    upstream_view_token: viewToken,\n    poll_attempt: 0,\n    poll_state: 'pending',\n    task_status_url: `${baseUrl}/api/task/${encodeURIComponent(taskId)}`,\n    transcript_exports: {\n      calibrated: `${baseUrl}/view/${viewToken}?raw=calibrated`,\n      transcript: `${baseUrl}/view/${viewToken}?raw=transcript`,\n      summary: `${baseUrl}/view/${viewToken}?raw=summary`\n    }\n  }\n};"
      },
      "id": "98a3ca8f-4245-41f0-8b02-7ec6b988db53",
      "name": "Build Transcript Poll Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "if (!String($json.task_status_url || '').trim()) {\n  throw new Error('task_status_url is required before polling Transcript API task status');\n}\n\nreturn {\n  json: {\n    ...$json\n  }\n};"
      },
      "id": "544565b4-0ac3-4b25-a17a-99b174f51098",
      "name": "Prepare Transcript Task Status Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.task_status_url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $json.transcript_api.api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "9f980fee-f771-49b6-ad44-8c56a33194e8",
      "name": "Fetch Transcript Task Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const context = $('Prepare Transcript Task Status Request').item.json || {};\nconst taskStatus = $json || {};\nconst maxPolls = Math.max(1, Number(context.transcript_api?.max_polls || 40));\nconst nextAttempt = Number(context.poll_attempt || 0) + 1;\nconst responseCode = Number(taskStatus.code || 0);\n\nif (!Number.isFinite(responseCode)) {\n  throw new Error(`Transcript API task status returned a non-numeric code: ${JSON.stringify(taskStatus)}`);\n}\n\nif (responseCode === 202) {\n  if (nextAttempt >= maxPolls) {\n    throw new Error(`Transcript API task ${context.upstream_task_id || 'unknown'} did not finish within ${maxPolls} polls`);\n  }\n\n  return {\n    json: {\n      ...context,\n      poll_attempt: nextAttempt,\n      poll_state: 'pending',\n      transcript_status: String(taskStatus.message || '').trim()\n    }\n  };\n}\n\nif (responseCode >= 500) {\n  throw new Error(`Transcript API task ${context.upstream_task_id || 'unknown'} failed: ${taskStatus.message || 'unknown error'}`);\n}\n\nconst taskData = taskStatus.data && typeof taskStatus.data === 'object' ? taskStatus.data : {};\nconst transcriptText = String(taskData.transcript || '').trim();\nif (!transcriptText) {\n  throw new Error(`Transcript API task ${context.upstream_task_id || 'unknown'} completed without transcript text`);\n}\n\nreturn {\n  json: {\n    ...context,\n    poll_attempt: nextAttempt,\n    poll_state: 'completed',\n    upstream_summary: String(context.upstream_summary || '').trim(),\n    canonical_url: String(context.canonical_url || context.transcript_source_url || '').trim(),\n    original_id: String(context.original_id || `video-transcript:${context.upstream_view_token || 'unknown'}`).trim(),\n    title: String(taskData.video_title || context.title || 'untitled transcript item').trim() || 'untitled transcript item',\n    author: String(taskData.author || context.author || '').trim(),\n    published_at: context.published_at || new Date().toISOString(),\n    transcript_text: transcriptText,\n    transcript_status: String(taskStatus.message || '').trim(),\n    original_item: {\n      request: context.transcript_api?.request_body || {},\n      submit_response: context.submit_response || {},\n      task_status: taskStatus\n    }\n  }\n};"
      },
      "id": "5c39fd5d-20db-4214-92a0-9a9ebd55d4d2",
      "name": "Resolve Transcript Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.poll_state}}",
              "operation": "equal",
              "value2": "pending"
            }
          ]
        }
      },
      "id": "186281cc-6bde-43e0-a5d7-8dbab298f6b2",
      "name": "Needs Another Poll",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2340,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const delayMs = Math.max(1000, Number($json.transcript_api?.poll_interval_ms || 3000));\nawait new Promise((resolve) => setTimeout(resolve, delayMs));\nreturn {\n  json: {\n    ...$json\n  }\n};"
      },
      "id": "c29ab9b8-89d1-428f-9d02-d5f911fd82a0",
      "name": "Sleep Before Next Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const transcriptText = String($json.transcript_text || $json.calibrated_transcript || '').trim();\nif (!transcriptText) {\n  throw new Error('Resolved transcript payload is missing transcript_text');\n}\n\nconst obsidianInboxDir = String($json.obsidian_inbox_dir || $env.OBSIDIAN_INBOX_DIR || '00_Inbox/AI_Information_Processor').trim() || '00_Inbox/AI_Information_Processor';\n\nreturn {\n  json: {\n    source_type: String($json.source_type || 'transcript').trim() || 'transcript',\n    source_name: String($json.source_name || 'video-transcript-api').trim() || 'video-transcript-api',\n    canonical_url: String($json.canonical_url || $json.transcript_source_url || '').trim(),\n    original_id: String($json.original_id || '').trim(),\n    title: String($json.title || 'untitled').trim() || 'untitled',\n    author: String($json.author || '').trim(),\n    published_at: $json.published_at || new Date().toISOString(),\n    media_type: String($json.media_type || 'video').trim() || 'video',\n    raw_html: '',\n    raw_text: transcriptText,\n    obsidian_inbox_dir: obsidianInboxDir,\n    extra_tags: ['transcript'],\n    upstream_task_id: String($json.upstream_task_id || '').trim(),\n    upstream_view_token: String($json.upstream_view_token || '').trim(),\n    upstream_summary: String($json.upstream_summary || '').trim(),\n    original_item: $json.original_item ?? $json\n  }\n};"
      },
      "id": "fd48bc59-b434-4c1d-9f47-5456f1cb983f",
      "name": "Transcript Adapter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        380
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "d4f093a8e2f74e39",
          "mode": "list",
          "cachedResultName": "00 Common Normalize Text Object"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "64d6739e-3d26-4dde-b9c9-5917a4ba5078",
      "name": "00 Common Normalize Text Object",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2860,
        280
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "c1f91d1d6f5a4bb1",
          "mode": "list",
          "cachedResultName": "01a Rule Prefilter"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e3ab758e-845a-4748-bc00-cedb374d2ec8",
      "name": "01a Rule Prefilter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3120,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.should_continue_to_qdrant || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "6ae6c4e6-418c-4ba8-a62f-b2e4ba3bdd1c",
      "name": "Should Continue To Qdrant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3380,
        280
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "a793499a65e344bc",
          "mode": "list",
          "cachedResultName": "03 Qdrant Gate"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "df6066ab-e77b-4f27-8b0d-1280a1b30f5f",
      "name": "03 Qdrant Gate",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3640,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.should_continue_to_llm || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "060b68f4-8fb0-42ff-844c-2349d8b4ed85",
      "name": "Should Continue To LLM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3900,
        280
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "828e50ae98c24f31",
          "mode": "list",
          "cachedResultName": "02 Enrich With LLM"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "9bd0f58b-3c2d-4672-af66-84d3c9d8fd29",
      "name": "02 Enrich With LLM",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3640,
        460
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "e7847c3145f4432d",
          "mode": "list",
          "cachedResultName": "04a Action Policy"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "448d2841-9ff4-4adb-95a0-8b75729ba8c1",
      "name": "04a Action Policy",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3900,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return { json: { ...$json } };"
      },
      "id": "45984f85-a527-476f-a718-73241e9521e7",
      "name": "Return Mainline Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        280
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Transcript Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Transcript API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Transcript Request": {
      "main": [
        [
          {
            "node": "Build Transcript API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript API Request": {
      "main": [
        [
          {
            "node": "Submit Transcript Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Transcript Task": {
      "main": [
        [
          {
            "node": "Build Transcript Poll Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transcript Poll Context": {
      "main": [
        [
          {
            "node": "Prepare Transcript Task Status Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transcript Task Status Request": {
      "main": [
        [
          {
            "node": "Fetch Transcript Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Transcript Task Status": {
      "main": [
        [
          {
            "node": "Resolve Transcript Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Transcript Result": {
      "main": [
        [
          {
            "node": "Needs Another Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Another Poll": {
      "main": [
        [
          {
            "node": "Sleep Before Next Poll",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcript Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep Before Next Poll": {
      "main": [
        [
          {
            "node": "Prepare Transcript Task Status Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Adapter": {
      "main": [
        [
          {
            "node": "00 Common Normalize Text Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00 Common Normalize Text Object": {
      "main": [
        [
          {
            "node": "01a Rule Prefilter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01a Rule Prefilter": {
      "main": [
        [
          {
            "node": "Should Continue To Qdrant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Continue To Qdrant?": {
      "main": [
        [
          {
            "node": "03 Qdrant Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Mainline Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 Qdrant Gate": {
      "main": [
        [
          {
            "node": "Should Continue To LLM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Continue To LLM?": {
      "main": [
        [
          {
            "node": "02 Enrich With LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Mainline Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 Enrich With LLM": {
      "main": [
        [
          {
            "node": "04a Action Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04a Action Policy": {
      "main": [
        [
          {
            "node": "Return Mainline Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "79be7b1e-19b4-437e-adb7-409c90f1b8a5",
  "tags": []
}
