deploy/n8n/workflows/04a_action_policy.json
{
  "id": "e7847c3145f4432d",
  "name": "04a Action Policy",
  "description": "Runnable sub-workflow: combine structured LLM scoring with the coarse dedupe action and emit deterministic write, notify, and deferred-index decisions.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a64bd70b-76af-4f0b-8c95-f333ce19ecda",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "06681dab-621f-449d-b5b6-9d9fcaa9e1c4",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c4f86c6bfe17f0f3d5c21d7839ed4f3d8fbf35bc7f7f5ec34f7a1',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      title: 'Example enriched item after LLM scoring',\n      content_text: 'This example item already has structured scoring and matched-payload context, and now needs a deterministic action policy.',\n      score: 0.82,\n      score_scale: 100,\n      category: 'AI Infra',\n      tags: ['inbox', 'ai-information-processor'],\n      dedupe_action: 'diff_push',\n      matched_score: 0.89,\n      ai_score: {\n        keep_score: 82,\n        notify_score: 64,\n        reference_score: 88,\n        action_score: 45,\n        confidence: 0.76,\n        decision_hint: 'keep_reference'\n      },\n      status: 'enriched'\n    }\n  }\n];"
      },
      "id": "e060a56f-4faa-4eaf-9012-2d46317908e1",
      "name": "Example Enriched Candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const aiScore = $json.ai_score && typeof $json.ai_score === 'object' ? $json.ai_score : null;\nif (!aiScore) {\n  throw new Error('04a_action_policy requires ai_score from 02_enrich_with_llm');\n}\n\nconst toNumber = (value, fallback = 0) => {\n  const numericValue = Number(value);\n  return Number.isFinite(numericValue) ? numericValue : fallback;\n};\n\nconst keepScore = Math.round(toNumber(aiScore.keep_score, Math.round(toNumber($json.score, 0) * 100)));\nconst notifyScore = Math.round(toNumber(aiScore.notify_score, keepScore));\nconst referenceScore = Math.round(toNumber(aiScore.reference_score, keepScore));\nconst actionScore = Math.round(toNumber(aiScore.action_score, 0));\nconst confidence = toNumber(aiScore.confidence, 0);\nconst decisionHint = String(aiScore.decision_hint || 'review').trim() || 'review';\nconst dedupeAction = String($json.dedupe_action || 'full_push').trim() || 'full_push';\n\nlet shouldWriteToVault = false;\nif (['keep_full', 'keep_reference', 'review'].includes(decisionHint)) {\n  shouldWriteToVault = true;\n}\nif (decisionHint === 'skip') {\n  shouldWriteToVault = false;\n}\nif (!shouldWriteToVault && (keepScore >= 60 || referenceScore >= 70 || actionScore >= 65)) {\n  shouldWriteToVault = true;\n}\n\nconst shouldNotify = shouldWriteToVault && notifyScore >= 75 && confidence >= 0.65;\nconst shouldUpsertQdrant = shouldWriteToVault;\nconst notificationMode = shouldNotify\n  ? (dedupeAction === 'diff_push' ? 'incremental' : 'full')\n  : 'silent';\nconst normalizedTags = Array.isArray($json.tags)\n  ? $json.tags.map((tag) => String(tag).trim().toLowerCase()).filter(Boolean)\n  : [];\nif (decisionHint === 'review' || confidence < 0.5) {\n  normalizedTags.push('needs-review');\n}\n\nreturn {\n  json: {\n    ...$json,\n    tags: [...new Set(normalizedTags)],\n    should_write_to_vault: shouldWriteToVault,\n    should_notify: shouldNotify,\n    should_upsert_qdrant: shouldUpsertQdrant,\n    notification_mode: notificationMode,\n    status: shouldWriteToVault ? 'enriched' : 'deduped',\n    qdrant_operation: shouldUpsertQdrant ? 'pending' : 'skipped',\n    qdrant_upsert_response: null\n  }\n};"
      },
      "id": "2723bb58-0dc5-4db6-9972-5f27a9fee3a8",
      "name": "Apply Action Policy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Enriched Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Apply Action Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Enriched Candidate": {
      "main": [
        [
          {
            "node": "Apply Action Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e2de166b-6c3c-4444-81d0-bce5cef4f850",
  "tags": []
}
