deploy/n8n/workflows/05_common_vault_writer.json
{
  "id": "5d53f72296534f1c",
  "name": "05 Common Vault Writer",
  "description": "Runnable sub-workflow: accept a policy-processed NormalizedTextObject, handle skip/write internally, generate deterministic Markdown, and return a post-write object for deferred Qdrant commit.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "a4b7188d-b982-4ebf-bdf0-7e00fc198c3a",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        180
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3b2401ca-7c43-4ae1-a663-c697f2113ebd",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: '6d6e2f96ab2c4f86c6bfe17f0f3d5c21d7839ed4f3d8fbf35bc7f7f5ec34f7a1',\n      source_type: 'rss',\n      source_name: 'OpenAI YouTube',\n      source_host: 'youtube.com',\n      original_id: 'yt:abc123',\n      canonical_url: 'https://example.com/post',\n      title: 'Example gate result',\n      author: 'OpenAI',\n      published_at: '2026-04-17T09:00:00.000Z',\n      ingested_at: '2026-04-17T09:05:00.000Z',\n      media_type: 'text',\n      content_text: 'Normalized plain text content for the shared vault writer smoke item.',\n      content_html: '<p>Normalized plain text content for the shared vault writer smoke item.</p>',\n      content_hash: 'sha256:example',\n      score: 0.82,\n      score_scale: 100,\n      category: 'AI Infra',\n      summary: 'A concise summary that should be written into a shared Obsidian note.',\n      reason: 'This proves the vault writer can run as a reusable sub-workflow.',\n      ai_score: {\n        keep_score: 82,\n        notify_score: 64,\n        reference_score: 88,\n        action_score: 45,\n        confidence: 0.76,\n        decision_hint: 'keep_reference'\n      },\n      score_dimensions: {\n        personal_relevance: 22,\n        information_density: 18,\n        novelty: 16,\n        actionability: 10,\n        long_term_value: 15,\n        source_quality: 4,\n        penalty: -3\n      },\n      ai_meta: {\n        model_profile: 'scoring_default',\n        provider: 'deepseek',\n        model: 'deepseek-chat',\n        prompt_version: 'scoring_v1',\n        rubric_version: 'personal_info_processor_v1',\n        input_chars: 64,\n        scored_at: '2026-04-17T09:05:05.000Z'\n      },\n      tags: ['inbox', 'ai-information-processor', 'openai'],\n      dedupe_action: 'full_push',\n      notification_mode: 'full',\n      should_write_to_vault: true,\n      status: 'enriched',\n      enriched_at: '2026-04-17T09:05:05.000Z',\n      obsidianInboxDir: '00_Inbox/AI_Information_Processor',\n      workflow_label: 'ai-information-processor-mainline'\n    }\n  }\n];"
      },
      "id": "8a527e7d-f0f3-47d8-8364-6cceb5a465d9",
      "name": "Example Gate Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const slugify = (value = '') => String(value)\n  .normalize('NFKD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-zA-Z0-9\\u4e00-\\u9fa5]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .toLowerCase();\n\nconst shouldWriteToVault = Boolean($json.should_write_to_vault);\nconst existingVaultPath = String($json.vault_path || '').trim();\nconst existingWriteStatus = String($json.vault_write_status || $json.vault_write || '').trim();\nconst canonicalObsidianInboxDir = String($json.obsidianInboxDir || '').trim();\nconst legacyObsidianInboxDir = String($json.obsidian_inbox_dir || '').trim();\nif (\n  canonicalObsidianInboxDir &&\n  legacyObsidianInboxDir &&\n  canonicalObsidianInboxDir !== legacyObsidianInboxDir\n) {\n  throw new Error('05_common_vault_writer received conflicting obsidianInboxDir and obsidian_inbox_dir; normalize through 00_common_normalize_text_object before writing');\n}\nconst obsidianInboxDir = canonicalObsidianInboxDir\n  || legacyObsidianInboxDir\n  || String($env.OBSIDIAN_INBOX_DIR || '00_Inbox/AI_Information_Processor').trim()\n  || '00_Inbox/AI_Information_Processor';\nconst workflowLabel = String($json.workflow_label || $json.workflow_name || $json.workflow || 'ai-information-processor-mainline').trim() || 'ai-information-processor-mainline';\n\nlet fileBaseName = '';\nlet relativeFilePath = existingVaultPath;\nconst itemId = String($json.item_id || '').trim();\nconst title = String($json.title || '').trim();\nif (itemId && title) {\n  const dateForFile = new Date($json.published_at || Date.now());\n  const safeDate = Number.isNaN(dateForFile.getTime()) ? new Date() : dateForFile;\n  const yyyy = safeDate.getUTCFullYear();\n  const mm = String(safeDate.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(safeDate.getUTCDate()).padStart(2, '0');\n  const datePrefix = `${yyyy}-${mm}-${dd}`;\n  const sourceType = slugify($json.source_type || 'item') || 'item';\n  const itemIdShort = itemId.slice(0, 10) || 'unknown';\n  const titleSlug = slugify(title).slice(0, 80) || 'untitled';\n  fileBaseName = `${datePrefix}_${sourceType}_${itemIdShort}_${titleSlug}`;\n  relativeFilePath = `${obsidianInboxDir}/${fileBaseName}.md`;\n}\n\nif (shouldWriteToVault && !relativeFilePath) {\n  throw new Error('05_common_vault_writer requires item_id/title/published_at to build a deterministic vault path');\n}\n\nconst vaultWriteStatus = shouldWriteToVault ? 'pending' : (existingWriteStatus || 'skipped');\n\nreturn {\n  json: {\n    ...$json,\n    obsidianInboxDir,\n    workflow_label: workflowLabel,\n    fileBaseName,\n    relativeFilePath,\n    vault_path: relativeFilePath,\n    vault_write_status: vaultWriteStatus,\n    vault_write: vaultWriteStatus\n  }\n};"
      },
      "id": "b9c75ba9-b7b6-4e80-b4a2-0e3aa380360d",
      "name": "Prepare Vault Write Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.should_write_to_vault || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "ce67ce84-a65d-4d2e-b991-8ba7e16b791d",
      "name": "Should Write To Vault?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const yamlEscape = (value = \u0027\u0027) =\u003e String(value)\n  .replace(/\\\\/g, \u0027\\\\\\\\\u0027)\n  .replace(/\"/g, \u0027\\\\\"\u0027);\n\nconst yamlBlock = (key, value = \u0027\u0027) =\u003e {\n  const normalized = String(value || \u0027\u0027).replace(/\\r\\n/g, \u0027\\n\u0027).trim();\n  if (!normalized) {\n    return \u0027\u0027;\n  }\n  const indented = normalized\n    .split(\u0027\\n\u0027)\n    .map((line) =\u003e `  ${line}`)\n    .join(\u0027\\n\u0027);\n  return `${key}: |-\\n${indented}\\n`;\n};\n\nconst yamlScalar = (value) =\u003e {\n  if (typeof value === \u0027number\u0027) {\n    return Number.isInteger(value) ? String(value) : String(Number(value));\n  }\n  if (typeof value === \u0027boolean\u0027) {\n    return value ? \u0027true\u0027 : \u0027false\u0027;\n  }\n  return `\"${yamlEscape(value)}\"`;\n};\n\nconst yamlMapBlock = (key, value) =\u003e {\n  if (!value || typeof value !== \u0027object\u0027 || Array.isArray(value)) {\n    return \u0027\u0027;\n  }\n  const entries = Object.entries(value)\n    .filter(([, entryValue]) =\u003e entryValue !== undefined \u0026\u0026 entryValue !== null \u0026\u0026 !(typeof entryValue === \u0027string\u0027 \u0026\u0026 !entryValue.trim()))\n    .map(([entryKey, entryValue]) =\u003e `  ${entryKey}: ${yamlScalar(entryValue)}`)\n    .join(\u0027\\n\u0027);\n  return entries ? `${key}:\\n${entries}\\n` : \u0027\u0027;\n};\n\nconst normalizeMultiline = (value = \u0027\u0027) =\u003e String(value || \u0027\u0027)\n  .replace(/\\r\\n/g, \u0027\\n\u0027)\n  .replace(/\\u0000/g, \u0027\u0027)\n  .trim();\n\nconst normalizeSingleLine = (value = \u0027\u0027) =\u003e normalizeMultiline(value)\n  .replace(/\\s+/g, \u0027 \u0027)\n  .trim();\n\nconst truncateText = (value = \u0027\u0027, maxChars = 140, suffix = \u0027...\u0027) =\u003e {\n  const normalized = normalizeSingleLine(value);\n  if (!normalized) {\n    return \u0027\u0027;\n  }\n  if (normalized.length \u003c= maxChars) {\n    return normalized;\n  }\n  const sliceLength = Math.max(0, maxChars - suffix.length);\n  return `${normalized.slice(0, sliceLength).trim()}${suffix}`;\n};\n\nconst extractQuickTake = (value = \u0027\u0027) =\u003e {\n  const normalized = normalizeSingleLine(value);\n  if (!normalized) {\n    return \u0027\u0027;\n  }\n  const sentenceMatch = normalized.match(/^.{1,140}?[。！？.!?](?=\\s|$)/);\n  if (sentenceMatch?.[0]) {\n    return sentenceMatch[0].trim();\n  }\n  return truncateText(normalized, 140);\n};\n\nconst toIsoDate = (value) =\u003e {\n  const parsed = new Date(value || Date.now());\n  if (Number.isNaN(parsed.getTime())) {\n    return \u0027\u0027;\n  }\n  return parsed.toISOString().slice(0, 10);\n};\n\nconst toSafeNumber = (value, fallback = 0) =\u003e {\n  const numericValue = Number(value);\n  return Number.isFinite(numericValue) ? numericValue : fallback;\n};\n\nconst toIntDisplay = (value, fallback = \u0027n/a\u0027) =\u003e {\n  const numericValue = Math.round(Number(value));\n  return Number.isFinite(numericValue) ? String(numericValue) : fallback;\n};\n\nconst cloneJson = (value) =\u003e {\n  if (value === undefined) {\n    return undefined;\n  }\n  if (value === null) {\n    return null;\n  }\n  return JSON.parse(JSON.stringify(value));\n};\n\nconst fileBaseName = String($json.fileBaseName || \u0027\u0027).trim();\nconst relativeFilePath = String($json.relativeFilePath || \u0027\u0027).trim();\nif (!fileBaseName || !relativeFilePath) {\n  throw new Error(\u002705_common_vault_writer is missing fileBaseName/relativeFilePath before Markdown generation\u0027);\n}\n\nconst lastSlashIndex = relativeFilePath.lastIndexOf(\u0027/\u0027);\nconst relativeDir = lastSlashIndex \u003e= 0 ? relativeFilePath.slice(0, lastSlashIndex) : \u0027\u0027;\nconst mediaType = String($json.media_type || \u0027\u0027).trim().toLowerCase();\nconst sourceType = String($json.source_type || \u0027\u0027).trim().toLowerCase();\nconst rawKind = [\u0027audio\u0027, \u0027video\u0027].includes(mediaType) || [\u0027podcast\u0027, \u0027transcript\u0027, \u0027audio\u0027].includes(sourceType)\n  ? \u0027transcript\u0027\n  : \u0027raw\u0027;\nconst rawHeading = rawKind === \u0027transcript\u0027 ? \u0027原始转写\u0027 : \u0027原始文本\u0027;\nconst rawFileName = `${fileBaseName}__${rawKind}.md`;\nconst auditFileName = `${fileBaseName}__audit.json`;\nconst rawRelativePath = `${relativeDir}/_raw/${rawFileName}`;\nconst auditRelativePath = `${relativeDir}/_audit/${auditFileName}`;\nconst rawRelativeLink = `_raw/${rawFileName}`;\nconst auditRelativeLink = `_audit/${auditFileName}`;\nconst rawParentLink = `../${fileBaseName}.md`;\n\nconst canonicalUrl = String($json.canonical_url || \u0027\u0027).trim();\nconst workflowLabel = String($json.workflow_label || \u0027ai-information-processor-mainline\u0027).trim() || \u0027ai-information-processor-mainline\u0027;\nconst summary = normalizeMultiline($json.summary || \u0027\u0027);\nconst reason = normalizeMultiline($json.reason || \u0027\u0027);\nconst contentText = normalizeMultiline($json.content_text || \u0027\u0027);\nconst upstreamSummary = normalizeMultiline($json.upstream_summary || \u0027\u0027);\nconst quickTake = extractQuickTake(summary) || extractQuickTake(reason) || truncateText(contentText, 140) || \u0027暂无。\u0027;\nconst showSummarySection = Boolean(summary) \u0026\u0026 normalizeSingleLine(summary) !== normalizeSingleLine(quickTake);\nconst dedupeAction = String($json.dedupe_action || \u0027full_push\u0027).trim() || \u0027full_push\u0027;\nconst notificationMode = String($json.notification_mode || \u0027\u0027).trim();\nconst notificationDisplay = notificationMode || \u0027silent\u0027;\nconst matchedPayload = $json.matched_payload \u0026\u0026 typeof $json.matched_payload === \u0027object\u0027 ? $json.matched_payload : null;\nconst matchedScore = toSafeNumber($json.matched_score, NaN);\nconst matchedTitle = matchedPayload ? normalizeSingleLine(matchedPayload.title || \u0027\u0027) : \u0027\u0027;\nconst matchedItemId = matchedPayload ? normalizeSingleLine(matchedPayload.item_id || \u0027\u0027) : \u0027\u0027;\nconst matchedCanonicalUrl = matchedPayload ? normalizeSingleLine(matchedPayload.canonical_url || \u0027\u0027) : \u0027\u0027;\nconst tags = Array.isArray($json.tags) \u0026\u0026 $json.tags.length\n  ? $json.tags.filter(Boolean)\n  : [\u0027inbox\u0027, \u0027ai-information-processor\u0027];\nconst normalizedTags = [...new Set([...tags, `dedupe-${dedupeAction}`].filter(Boolean))];\nconst tagLines = normalizedTags.map((tag) =\u003e `  - ${tag}`).join(\u0027\\n\u0027);\nconst aiScore = $json.ai_score \u0026\u0026 typeof $json.ai_score === \u0027object\u0027 ? $json.ai_score : null;\nconst keepScoreText = toIntDisplay(aiScore?.keep_score, toIntDisplay(toSafeNumber($json.score, 0) * 100));\nconst referenceScoreText = toIntDisplay(aiScore?.reference_score);\nconst actionScoreText = toIntDisplay(aiScore?.action_score);\nconst notifyScoreText = toIntDisplay(aiScore?.notify_score);\nconst decisionHint = normalizeSingleLine(aiScore?.decision_hint || \u0027\u0027);\nconst decisionDisplay = decisionHint || normalizeSingleLine($json.status || \u0027raw\u0027) || \u0027raw\u0027;\nconst sourceLine = [\n  mediaType === \u0027audio\u0027 ? \u0027播客\u0027 : mediaType === \u0027video\u0027 ? \u0027视频\u0027 : mediaType === \u0027text\u0027 ? \u0027文章\u0027 : normalizeSingleLine($json.media_type || \u0027\u0027),\n  normalizeSingleLine($json.author || $json.source_name || \u0027\u0027),\n  toIsoDate($json.published_at)\n].filter(Boolean).join(\u0027 · \u0027);\nconst auditLine = [\n  normalizeSingleLine($json.ai_meta?.rubric_version || \u0027\u0027),\n  normalizeSingleLine($json.ai_meta?.model || \u0027\u0027),\n  Number.isFinite(Number($json.ai_meta?.input_chars)) ? `input_chars ${Math.round(Number($json.ai_meta.input_chars))}` : \u0027\u0027\n].filter(Boolean).join(\u0027 · \u0027);\nconst relatedLines = matchedPayload ? [\n  matchedTitle ? `- 相似对象：${matchedTitle}` : \u0027\u0027,\n  Number.isFinite(matchedScore) \u0026\u0026 matchedScore \u003e 0 ? `- matched_score: ${matchedScore.toFixed(4)}` : \u0027\u0027,\n  matchedCanonicalUrl ? `- 原始链接：${matchedCanonicalUrl}` : \u0027\u0027,\n  \u0027- 关系：主题上存在重叠，详细判定见审计 sidecar。\u0027\n].filter(Boolean).join(\u0027\\n\u0027) : \u0027\u0027;\nconst sourceHostLine = $json.source_host ? `source_host: \\\"${yamlEscape($json.source_host)}\\\"\\n` : \u0027\u0027;\nconst originalIdLine = $json.original_id ? `original_id: \\\"${yamlEscape($json.original_id)}\\\"\\n` : \u0027\u0027;\nconst enrichedAtLine = $json.enriched_at ? `enriched_at: \\\"${yamlEscape($json.enriched_at)}\\\"\\n` : \u0027\u0027;\nconst notificationModeLine = notificationMode ? `notification_mode: \\\"${yamlEscape(notificationMode)}\\\"\\n` : \u0027\u0027;\nconst matchedScoreLine = Number.isFinite(matchedScore) \u0026\u0026 matchedScore \u003e 0 ? `matched_score: ${matchedScore}\\n` : \u0027\u0027;\nconst matchedItemIdLine = matchedItemId ? `matched_item_id: \\\"${yamlEscape(matchedItemId)}\\\"\\n` : \u0027\u0027;\nconst matchedCanonicalUrlLine = matchedCanonicalUrl ? `matched_canonical_url: \\\"${yamlEscape(matchedCanonicalUrl)}\\\"\\n` : \u0027\u0027;\nconst matchedSameItemLine = $json.matched_same_item ? \u0027matched_same_item: true\\n\u0027 : \u0027\u0027;\nconst scoreScale = Math.round(toSafeNumber($json.score_scale, 100));\nconst scoreScaleLine = Number.isFinite(scoreScale) ? `score_scale: ${scoreScale}\\n` : \u0027\u0027;\nconst summaryLine = yamlBlock(\u0027summary\u0027, summary);\nconst reasonLine = yamlBlock(\u0027reason\u0027, reason);\nconst aiScoreLine = yamlMapBlock(\u0027ai_score\u0027, $json.ai_score);\nconst scoreDimensionsLine = yamlMapBlock(\u0027score_dimensions\u0027, $json.score_dimensions);\nconst aiMetaLine = yamlMapBlock(\u0027ai_meta\u0027, $json.ai_meta);\nconst viewVersionLine = \u0027view_version: \\\"layered_v1\\\"\\n\u0027;\nconst rawVaultPathLine = `raw_vault_path: \\\"${yamlEscape(rawRelativePath)}\\\"\\n`;\nconst auditVaultPathLine = `audit_vault_path: \\\"${yamlEscape(auditRelativePath)}\\\"\\n`;\nconst sourceNameDisplay = normalizeSingleLine($json.source_name || \u0027unknown-source\u0027);\nconst originalMaterialLines = [\n  `- 原始材料：[${rawFileName}](${rawRelativeLink})`,\n  `- LLM 审计：[${auditFileName}](${auditRelativeLink})`,\n  canonicalUrl ? `- 原始链接：${canonicalUrl}` : \u0027\u0027\n].filter(Boolean).join(\u0027\\n\u0027);\nconst markdown = `---\\ntitle: \\\"${yamlEscape($json.title)}\\\"\\nitem_id: \\\"${yamlEscape($json.item_id)}\\\"\\nsource_type: \\\"${yamlEscape($json.source_type)}\\\"\\nsource_name: \\\"${yamlEscape($json.source_name)}\\\"\\n${sourceHostLine}${originalIdLine}canonical_url: \\\"${yamlEscape(canonicalUrl)}\\\"\\npublished_at: \\\"${yamlEscape($json.published_at)}\\\"\\ningested_at: \\\"${yamlEscape($json.ingested_at)}\\\"\\n${enrichedAtLine}media_type: \\\"${yamlEscape($json.media_type)}\\\"\\ncontent_hash: \\\"${yamlEscape($json.content_hash)}\\\"\\nworkflow: \\\"${yamlEscape(workflowLabel)}\\\"\\n${viewVersionLine}${rawVaultPathLine}${auditVaultPathLine}score: ${toSafeNumber($json.score, 0)}\\n${scoreScaleLine}category: \\\"${yamlEscape($json.category || \u0027pending\u0027)}\\\"\\ndedupe_action: \\\"${yamlEscape(dedupeAction)}\\\"\\nstatus: \\\"${yamlEscape($json.status || \u0027raw\u0027)}\\\"\\n${notificationModeLine}${matchedScoreLine}${matchedItemIdLine}${matchedCanonicalUrlLine}${matchedSameItemLine}${$json.author ? `author: \\\"${yamlEscape($json.author)}\\\"\\n` : \u0027\u0027}${summaryLine}${reasonLine}${aiScoreLine}${scoreDimensionsLine}${aiMetaLine}tags:\\n${tagLines}\\n---\\n\\n# ${$json.title}\\n\\n\u003e ${sourceLine || sourceNameDisplay}\\n\u003e Keep ${keepScoreText} / Reference ${referenceScoreText} / Action ${actionScoreText} / Notify ${notifyScoreText}\\n\u003e 状态：${decisionDisplay} · 通知：${notificationDisplay}${auditLine ? `\\n\u003e 审计：${auditLine}` : \u0027\u0027}\\n\\n## 一句话判断\\n\\n${quickTake}\\n\\n${reason ? `## 为什么值得保留\\n\\n${reason}\\n\\n` : \u0027\u0027}${showSummarySection ? `## 内容摘要\\n\\n${summary}\\n\\n` : \u0027\u0027}${relatedLines ? `## 关联对象\\n\\n${relatedLines}\\n\\n` : \u0027\u0027}## 原始材料\\n\\n${originalMaterialLines}\\n`;\n\nconst rawMarkdown = `---\\ntitle: \\\"${yamlEscape($json.title)}\\\"\\nitem_id: \\\"${yamlEscape($json.item_id)}\\\"\\nparent_note: \\\"${yamlEscape(relativeFilePath)}\\\"\\nsource_type: \\\"${yamlEscape($json.source_type)}\\\"\\nsource_name: \\\"${yamlEscape($json.source_name)}\\\"\\ncanonical_url: \\\"${yamlEscape(canonicalUrl)}\\\"\\nmedia_type: \\\"${yamlEscape($json.media_type)}\\\"\\nraw_kind: \\\"${yamlEscape(rawKind)}\\\"\\ncontent_hash: \\\"${yamlEscape($json.content_hash)}\\\"\\n---\\n\\n# ${rawHeading}\\n\\n- 主笔记：[../${fileBaseName}.md](${rawParentLink})\\n${canonicalUrl ? `- 原始链接：${canonicalUrl}\\n` : \u0027\u0027}- 字符数：${contentText.length}\\n\\n${contentText || \u0027No text content extracted from this item.\u0027}\\n`;\n\nconst compactMatchedPayload = matchedPayload ? {\n  item_id: matchedItemId || undefined,\n  title: matchedTitle || undefined,\n  canonical_url: matchedCanonicalUrl || undefined,\n  score: matchedPayload.score ?? undefined,\n  category: normalizeSingleLine(matchedPayload.category || \u0027\u0027) || undefined,\n  summary: truncateText(matchedPayload.summary || \u0027\u0027, 600),\n  tags: Array.isArray(matchedPayload.tags) ? matchedPayload.tags : [],\n  content_hash: normalizeSingleLine(matchedPayload.content_hash || \u0027\u0027) || undefined\n} : null;\n\nconst auditPayload = {\n  version: 1,\n  generated_at: new Date().toISOString(),\n  item_id: normalizeSingleLine($json.item_id || \u0027\u0027),\n  note: {\n    main_vault_path: relativeFilePath,\n    raw_vault_path: rawRelativePath,\n    audit_vault_path: auditRelativePath\n  },\n  source: {\n    source_type: normalizeSingleLine($json.source_type || \u0027\u0027),\n    source_name: normalizeSingleLine($json.source_name || \u0027\u0027),\n    source_host: normalizeSingleLine($json.source_host || \u0027\u0027),\n    original_id: normalizeSingleLine($json.original_id || \u0027\u0027),\n    canonical_url: canonicalUrl,\n    title: normalizeSingleLine($json.title || \u0027\u0027),\n    author: normalizeSingleLine($json.author || \u0027\u0027),\n    published_at: normalizeSingleLine($json.published_at || \u0027\u0027),\n    ingested_at: normalizeSingleLine($json.ingested_at || \u0027\u0027),\n    media_type: normalizeSingleLine($json.media_type || \u0027\u0027),\n    content_hash: normalizeSingleLine($json.content_hash || \u0027\u0027),\n    tags: normalizedTags\n  },\n  scoring: {\n    score: toSafeNumber($json.score, 0),\n    score_scale: scoreScale,\n    category: normalizeSingleLine($json.category || \u0027pending\u0027) || \u0027pending\u0027,\n    summary,\n    reason,\n    ai_score: cloneJson($json.ai_score ?? null),\n    score_dimensions: cloneJson($json.score_dimensions ?? null),\n    ai_meta: cloneJson($json.ai_meta ?? null),\n    status: normalizeSingleLine($json.status || \u0027\u0027),\n    decision_hint: decisionHint || null,\n    notification_mode: notificationDisplay\n  },\n  dedupe: {\n    dedupe_action: dedupeAction,\n    matched_score: Number.isFinite(matchedScore) \u0026\u0026 matchedScore \u003e 0 ? Number(matchedScore.toFixed(8)) : null,\n    matched_same_item: Boolean($json.matched_same_item),\n    matched_payload: compactMatchedPayload\n  },\n  workflow: {\n    workflow_label: workflowLabel,\n    should_write_to_vault: Boolean($json.should_write_to_vault),\n    should_upsert_qdrant: Boolean($json.should_upsert_qdrant),\n    qdrant_operation: normalizeSingleLine($json.qdrant_operation || \u0027\u0027) || \u0027pending\u0027\n  },\n  input_view: {\n    title: normalizeSingleLine($json.title || \u0027\u0027),\n    source_name: sourceNameDisplay,\n    source_type: normalizeSingleLine($json.source_type || \u0027\u0027),\n    author: normalizeSingleLine($json.author || \u0027\u0027),\n    canonical_url: canonicalUrl,\n    published_at: normalizeSingleLine($json.published_at || \u0027\u0027),\n    dedupe_action: dedupeAction,\n    upstream_summary: upstreamSummary || \u0027\u0027,\n    nearest_match: compactMatchedPayload ? {\n      item_id: compactMatchedPayload.item_id || \u0027\u0027,\n      title: compactMatchedPayload.title || \u0027\u0027,\n      matched_score: Number.isFinite(matchedScore) \u0026\u0026 matchedScore \u003e 0 ? Number(matchedScore.toFixed(8)) : null,\n      category: compactMatchedPayload.category || \u0027\u0027,\n      summary: compactMatchedPayload.summary || \u0027\u0027\n    } : null,\n    content_text_chars: contentText.length,\n    content_text_preview: truncateText(contentText, 1500)\n  }\n};\n\nreturn {\n  json: {\n    ...$json,\n    vault_path: relativeFilePath,\n    raw_vault_path: rawRelativePath,\n    audit_vault_path: auditRelativePath,\n    vault_write_status: \u0027pending\u0027,\n    vault_write: \u0027pending\u0027\n  },\n  binary: {\n    mainNote: {\n      data: Buffer.from(markdown, \u0027utf8\u0027).toString(\u0027base64\u0027),\n      mimeType: \u0027text/markdown\u0027,\n      fileName: `${fileBaseName}.md`,\n      fileExtension: \u0027md\u0027\n    },\n    rawNote: {\n      data: Buffer.from(rawMarkdown, \u0027utf8\u0027).toString(\u0027base64\u0027),\n      mimeType: \u0027text/markdown\u0027,\n      fileName: rawFileName,\n      fileExtension: \u0027md\u0027\n    },\n    auditNote: {\n      data: Buffer.from(JSON.stringify(auditPayload, null, 2), \u0027utf8\u0027).toString(\u0027base64\u0027),\n      mimeType: \u0027application/json\u0027,\n      fileName: auditFileName,\n      fileExtension: \u0027json\u0027\n    }\n  }\n};"
      },
      "id": "5fd04268-bda8-4f55-ab39-f4677708b1ee",
      "name": "Build Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        180
      ]
    },
    {
      "parameters": {
        "fileName": "={{'/vault/' + $json.relativeFilePath}}",
        "dataPropertyName": "mainNote",
        "options": {}
      },
      "id": "9ccb6d4f-f77c-45e6-b6be-0db44240f919",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1560,
        180
      ]
    },
    {
      "parameters": {
        "fileName": "={{'/vault/' + $json.raw_vault_path}}",
        "dataPropertyName": "rawNote",
        "options": {}
      },
      "id": "e88a47f1-9f08-4bf5-ae42-f4c36bc7e73a",
      "name": "Write Raw Sidecar",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1820,
        180
      ]
    },
    {
      "parameters": {
        "fileName": "={{'/vault/' + $json.audit_vault_path}}",
        "dataPropertyName": "auditNote",
        "options": {}
      },
      "id": "13f49797-27e6-4ff2-9109-2d3a7552b516",
      "name": "Write Audit Sidecar",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2080,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const vaultPath = String($json.relativeFilePath || $json.vault_path || '').trim();\nconst shouldUpsert = Boolean($json.should_upsert_qdrant);\nreturn {\n  json: {\n    ...$json,\n    vault_path: vaultPath,\n    vault_write_status: 'written',\n    vault_write: 'written',\n    qdrant_operation: shouldUpsert ? 'pending' : 'skipped',\n    qdrant_upsert_response: null\n  }\n};"
      },
      "id": "058fae12-5fd6-4e02-b0b1-4501577ff4e6",
      "name": "Finalize Written Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const status = String($json.vault_write_status || $json.vault_write || '').trim() || 'skipped';\nconst vaultPath = String($json.relativeFilePath || $json.vault_path || '').trim();\nreturn {\n  json: {\n    ...$json,\n    vault_path: vaultPath,\n    vault_write_status: status,\n    vault_write: status,\n    qdrant_operation: 'skipped',\n    qdrant_upsert_response: null\n  }\n};"
      },
      "id": "7527fe17-2da7-4a13-900d-451d5e15a69c",
      "name": "Finalize Skipped Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        380
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "ef1a9d76-a634-4ef9-af25-aa4773ec9bda",
      "name": "Merge Vault Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2600,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return {\n  json: {\n    ...$json,\n    vault_path: String($json.vault_path || $json.relativeFilePath || '').trim(),\n    vault_write_status: String($json.vault_write_status || $json.vault_write || 'skipped').trim() || 'skipped',\n    vault_write: String($json.vault_write || $json.vault_write_status || 'skipped').trim() || 'skipped',\n    qdrant_operation: String($json.qdrant_operation || 'skipped').trim() || 'skipped',\n    qdrant_upsert_response: $json.qdrant_upsert_response ?? null\n  }\n};"
      },
      "id": "14fa83d2-1465-4f4f-a68b-c95dc2d44f6d",
      "name": "Return Vault Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        280
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Gate Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prepare Vault Write Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Gate Result": {
      "main": [
        [
          {
            "node": "Prepare Vault Write Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vault Write Context": {
      "main": [
        [
          {
            "node": "Should Write To Vault?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Write To Vault?": {
      "main": [
        [
          {
            "node": "Build Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Skipped Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Write Raw Sidecar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Raw Sidecar": {
      "main": [
        [
          {
            "node": "Write Audit Sidecar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audit Sidecar": {
      "main": [
        [
          {
            "node": "Finalize Written Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Written Result": {
      "main": [
        [
          {
            "node": "Merge Vault Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Skipped Result": {
      "main": [
        [
          {
            "node": "Merge Vault Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Vault Result": {
      "main": [
        [
          {
            "node": "Return Vault Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0a04e057-ecb0-46d9-8d9f-2e326573010b",
  "tags": []
}
