deploy/n8n/workflows/09_feishu_notify.json
{
  "id": "9f2a6b8c0d3e4f51",
  "name": "09 Feishu Notify",
  "description": "Callable post-write notification branch: after a Vault write, push high-value summaries to Feishu as Card JSON 2.0 group-bot message cards when should_notify=true and FEISHU_WEBHOOK_URL is configured. It never exposes the webhook URL in downstream JSON.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1c63a8df-6f0d-4c7d-8a98-ffb33d36f1a5",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        180
      ]
    },
    {
      "parameters": {},
      "id": "a48fe829-d0d2-45a7-8df3-b8d23fa97b3e",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: 'example-feishu-notify',\n      source_type: 'rss',\n      source_name: 'Example Feed',\n      source_display_name: 'Example Feed',\n      title: 'Example high-value item',\n      published_at: new Date().toISOString(),\n      canonical_url: 'https://example.com/high-value-item',\n      summary: '\\u8fd9\\u662f\\u4e00\\u6761\\u7528\\u4e8e\\u9a8c\\u8bc1\\u98de\\u4e66\\u5373\\u65f6\\u6458\\u8981\\u901a\\u77e5\\u683c\\u5f0f\\u7684\\u793a\\u4f8b\\u6458\\u8981\\u3002',\n      reason: 'notify_score \\u548c confidence \\u8fbe\\u5230\\u9608\\u503c\\uff0c\\u56e0\\u6b64\\u5e94\\u5728\\u5199\\u5165 Obsidian \\u540e\\u63a8\\u9001\\u98de\\u4e66\\u3002',\n      vault_path: '00_Inbox/Signal_To_Obsidian/example.md',\n      vault_write_status: 'written',\n      vault_write: 'written',\n      dedupe_action: 'full_push',\n      should_notify: false,\n      notification_mode: 'full',\n      ai_score: {\n        keep_score: 86,\n        notify_score: 88,\n        reference_score: 82,\n        action_score: 61,\n        confidence: 0.86,\n        decision_hint: 'keep_full'\n      }\n    }\n  }\n];"
      },
      "id": "c609c2c6-2468-4d98-a798-5ab2cd9b10d4",
      "name": "Example Notify Candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const safeString = (value) => {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  return String(value).trim();\n};\n\nconst truncate = (value, maxLength = 500) => {\n  const text = safeString(value).replace(/\\s+/g, ' ');\n  if (text.length <= maxLength) {\n    return text;\n  }\n  return text.slice(0, Math.max(0, maxLength - 3)).trim() + '...';\n};\n\nconst sanitizeLarkMd = (value, maxLength = 1200) => truncate(value, maxLength)\n  .replace(/<at\\b/gi, '&lt;at')\n  .replace(/<\\/at>/gi, '&lt;/at&gt;')\n  .replace(/([*_~])/g, '\\\\$1');\n\nconst firstNonEmpty = (...values) => {\n  for (const value of values) {\n    const text = safeString(value);\n    if (text) {\n      return text;\n    }\n  }\n  return '';\n};\n\nconst toIntText = (value) => {\n  const numericValue = Number(value);\n  return Number.isFinite(numericValue) ? String(Math.round(numericValue)) : '-';\n};\n\nconst isHttpUrl = (value) => /^https?:\\/\\//i.test(safeString(value));\n\nconst normalizeStringList = (value, maxItems = 3, maxLength = 180) => {\n  const rawItems = Array.isArray(value)\n    ? value\n    : typeof value === 'string'\n      ? value.split(/[\\n,]+/)\n      : [];\n\n  return rawItems\n    .map((entry) => truncate(entry, maxLength))\n    .filter(Boolean)\n    .slice(0, maxItems);\n};\n\nconst normalizeKeyPoints = (value) => {\n  const rawItems = Array.isArray(value) ? value : [];\n  const normalized = [];\n\n  for (const rawItem of rawItems) {\n    if (normalized.length >= 4) {\n      break;\n    }\n\n    if (typeof rawItem === 'string') {\n      const text = truncate(rawItem, 220);\n      if (text) {\n        normalized.push({ heading: '', bullets: [text] });\n      }\n      continue;\n    }\n\n    if (!rawItem || typeof rawItem !== 'object') {\n      continue;\n    }\n\n    const heading = truncate(\n      firstNonEmpty(rawItem.heading, rawItem.title, rawItem.label, rawItem.point),\n      70\n    );\n    const bullets = normalizeStringList(\n      Array.isArray(rawItem.bullets)\n        ? rawItem.bullets\n        : Array.isArray(rawItem.points)\n          ? rawItem.points\n          : firstNonEmpty(rawItem.bullets, rawItem.summary, rawItem.text),\n      3,\n      180\n    );\n\n    if (heading || bullets.length) {\n      normalized.push({ heading, bullets: bullets.length ? bullets : [heading] });\n    }\n  }\n\n  return normalized;\n};\n\nconst renderKeyPointSections = (keyPoints) => keyPoints\n  .map((point) => {\n    const headingLine = point.heading ? '**' + sanitizeLarkMd(point.heading, 80) + '**' : '';\n    const bulletLines = point.bullets\n      .map((bullet) => '- ' + sanitizeLarkMd(bullet, 220))\n      .join('\\n');\n    return [headingLine, bulletLines].filter(Boolean).join('\\n');\n  })\n  .filter(Boolean)\n  .join('\\n\\n');\n\nconst section = (label, content) => {\n  const text = safeString(content);\n  return text ? '**' + label + '**\\n' + text : '';\n};\n\nconst webhookConfigured = Boolean(safeString($env.FEISHU_WEBHOOK_URL));\nconst shouldNotify = Boolean($json.should_notify);\nconst vaultWriteStatus = safeString($json.vault_write_status || $json.vault_write || '');\nconst notificationMode = safeString($json.notification_mode || 'silent') || 'silent';\nconst aiScore = $json.ai_score && typeof $json.ai_score === 'object' ? $json.ai_score : {};\nconst itemId = safeString($json.item_id || $json.id || '');\nconst sourceName = safeString($json.source_display_name || $json.source_name || $json.author || '');\nconst sourceType = safeString($json.source_type || $json.media_type || '');\nconst sourceLine = [sourceType, sourceName].filter(Boolean).join(' / ');\nconst title = truncate($json.title || 'Untitled', 140);\nconst quickTake = truncate(firstNonEmpty($json.note_quick_take, $json.quick_take), 320);\nconst summary = truncate(firstNonEmpty($json.summary, $json.upstream_summary, $json.note_quick_take), 850);\nconst whyUseful = truncate(firstNonEmpty($json.note_why_useful, $json.why_useful, $json.reason), 700);\nconst canonicalUrl = safeString($json.canonical_url || '');\nconst vaultPath = safeString($json.vault_path || $json.relativeFilePath || '');\nconst dedupeAction = safeString($json.dedupe_action || '');\nconst publishedAt = safeString($json.published_at || '');\nconst keepScore = toIntText(aiScore.keep_score ?? Number($json.score || 0) * 100);\nconst notifyScore = toIntText(aiScore.notify_score);\nconst referenceScore = toIntText(aiScore.reference_score);\nconst actionScore = toIntText(aiScore.action_score);\nconst keyPoints = normalizeKeyPoints($json.note_key_points || $json.key_points || $json.presentation?.key_points);\nconst keyPointSections = renderKeyPointSections(keyPoints);\n\nlet skippedReason = '';\nif (!webhookConfigured) {\n  skippedReason = 'missing_feishu_webhook_url';\n} else if (!shouldNotify) {\n  skippedReason = 'should_notify_false';\n} else if (vaultWriteStatus !== 'written') {\n  skippedReason = 'vault_not_written:' + (vaultWriteStatus || 'unknown');\n}\n\nconst shouldDispatch = !skippedReason;\nconst scoreLine = 'Keep ' + keepScore + ' / Notify ' + notifyScore + ' / Reference ' + referenceScore + ' / Action ' + actionScore;\nconst previewLines = [\n  '\\u3010AI \\u4fe1\\u606f\\u6458\\u8981\\u3011' + title,\n  sourceLine ? '\\u6765\\u6e90\\uff1a' + sourceLine : '',\n  publishedAt ? '\\u65f6\\u95f4\\uff1a' + publishedAt : '',\n  dedupeAction ? '\\u53bb\\u91cd\\uff1a' + dedupeAction + ' / \\u901a\\u77e5\\uff1a' + notificationMode : '\\u901a\\u77e5\\uff1a' + notificationMode,\n  '\\u8bc4\\u5206\\uff1a' + scoreLine,\n  quickTake ? '\\u4e00\\u53e5\\u8bdd\\u5224\\u65ad\\uff1a' + quickTake : '',\n  summary ? '\\u6458\\u8981\\uff1a' + summary : '',\n  keyPoints.length ? '\\u5173\\u952e\\u89c2\\u70b9\\uff1a' + String(keyPoints.length) + '\\u7ec4' : '',\n  whyUseful ? '\\u4e3a\\u4ec0\\u4e48\\u503c\\u5f97\\u770b\\uff1a' + whyUseful : '',\n  vaultPath ? 'Obsidian\\uff1a' + vaultPath : '',\n  canonicalUrl ? '\\u539f\\u6587\\uff1a' + canonicalUrl : ''\n].filter(Boolean);\nconst messagePreview = previewLines.join('\\n');\n\nconst mainMarkdown = [\n  '**' + sanitizeLarkMd(title, 160) + '**',\n  sourceLine ? '**\\u6765\\u6e90**\\uff1a' + sanitizeLarkMd(sourceLine, 180) : '',\n  publishedAt ? '**\\u65f6\\u95f4**\\uff1a' + sanitizeLarkMd(publishedAt, 80) : '',\n  '**\\u8bc4\\u5206**\\uff1a' + sanitizeLarkMd(scoreLine, 120),\n  dedupeAction ? '**\\u53bb\\u91cd / \\u901a\\u77e5**\\uff1a' + sanitizeLarkMd(dedupeAction + ' / ' + notificationMode, 120) : '**\\u901a\\u77e5**\\uff1a' + sanitizeLarkMd(notificationMode, 80),\n  section('\\u4e00\\u53e5\\u8bdd\\u5224\\u65ad', sanitizeLarkMd(quickTake, 360)),\n  section('\\u6458\\u8981', sanitizeLarkMd(summary, 950)),\n  section('\\u5173\\u952e\\u89c2\\u70b9', keyPointSections),\n  section('\\u4e3a\\u4ec0\\u4e48\\u503c\\u5f97\\u770b', sanitizeLarkMd(whyUseful, 780)),\n  vaultPath ? '**Obsidian**\\uff1a' + sanitizeLarkMd(vaultPath, 260) : ''\n].filter(Boolean).join('\\n\\n');\n\nconst elements = [\n  {\n    tag: 'markdown',\n    element_id: 'summary_markdown',\n    content: mainMarkdown,\n    text_align: 'left'\n  }\n];\n\nif (isHttpUrl(canonicalUrl)) {\n  elements.push({\n    tag: 'button',\n    element_id: 'open_source_button',\n    text: {\n      tag: 'plain_text',\n      content: '\\u67e5\\u770b\\u539f\\u6587'\n    },\n    type: 'primary_filled',\n    width: 'default',\n    size: 'medium',\n    behaviors: [\n      {\n        type: 'open_url',\n        default_url: canonicalUrl,\n        pc_url: canonicalUrl,\n        ios_url: canonicalUrl,\n        android_url: canonicalUrl\n      }\n    ]\n  });\n}\n\nreturn {\n  json: {\n    ...$json,\n    feishu_notify: {\n      should_dispatch: shouldDispatch,\n      skipped_reason: skippedReason,\n      status: shouldDispatch ? 'pending' : 'skipped',\n      webhook_configured: webhookConfigured,\n      notification_mode: notificationMode,\n      message_format: 'interactive_card_v2',\n      requested_at: new Date().toISOString(),\n      message_preview: truncate(messagePreview, 900),\n      request_body: {\n        msg_type: 'interactive',\n        card: {\n          schema: '2.0',\n          config: {\n            update_multi: true,\n            wide_screen_mode: true,\n            summary: {\n              content: truncate(messagePreview, 120)\n            }\n          },\n          header: {\n            template: 'blue',\n            title: {\n              tag: 'plain_text',\n              content: 'AI \\u4fe1\\u606f\\u6458\\u8981'\n            },\n            padding: '12px 12px 12px 12px'\n          },\n          body: {\n            direction: 'vertical',\n            padding: '12px 12px 12px 12px',\n            elements\n          }\n        }\n      }\n    }\n  }\n};"
      },
      "id": "2c1da19b-9988-4262-b1c1-9356a73dbf03",
      "name": "Build Feishu Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.feishu_notify.should_dispatch || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "9d87737d-a3c4-4f92-a5fe-25f5153d566b",
      "name": "Should Dispatch Feishu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FEISHU_WEBHOOK_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.feishu_notify.request_body) }}",
        "options": {}
      },
      "id": "2a0b33d5-3587-4648-b123-44ba0a0378d1",
      "name": "Send Feishu Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const original = $('Build Feishu Message').item.json || {};\nconst { feishu_notify: originalNotify = {}, ...rest } = original;\nconst response = $json && typeof $json === 'object' ? $json : {};\nconst error = typeof response.error === 'string'\n  ? response.error.trim()\n  : response.error && typeof response.error.message === 'string'\n    ? response.error.message.trim()\n    : '';\nconst responseCode = response.StatusCode ?? response.code;\nconst numericResponseCode = Number(responseCode);\nconst hasNonZeroResponseCode = responseCode !== undefined && Number.isFinite(numericResponseCode) && numericResponseCode !== 0;\nconst failed = Boolean(error) || hasNonZeroResponseCode;\n\nreturn {\n  json: {\n    ...rest,\n    feishu_notify: {\n      should_dispatch: Boolean(originalNotify.should_dispatch),\n      skipped_reason: '',\n      status: failed ? 'failed' : 'sent',\n      webhook_configured: Boolean(originalNotify.webhook_configured),\n      notification_mode: String(originalNotify.notification_mode || 'silent'),\n      message_format: String(originalNotify.message_format || 'interactive_card_v2'),\n      requested_at: originalNotify.requested_at || '',\n      sent_at: new Date().toISOString(),\n      message_preview: String(originalNotify.message_preview || ''),\n      error: failed ? (error || 'feishu webhook returned non-zero code ' + responseCode) : '',\n      response: failed ? null : response\n    }\n  }\n};"
      },
      "id": "3e59277e-8d3b-4a9d-ae6c-f1d91ef17e4a",
      "name": "Finalize Feishu Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const { feishu_notify: originalNotify = {}, ...rest } = $json || {};\nreturn {\n  json: {\n    ...rest,\n    feishu_notify: {\n      should_dispatch: false,\n      skipped_reason: String(originalNotify.skipped_reason || 'not_requested'),\n      status: 'skipped',\n      webhook_configured: Boolean(originalNotify.webhook_configured),\n      notification_mode: String(originalNotify.notification_mode || 'silent'),\n      message_format: String(originalNotify.message_format || 'interactive_card_v2'),\n      requested_at: originalNotify.requested_at || '',\n      sent_at: '',\n      message_preview: String(originalNotify.message_preview || ''),\n      error: '',\n      response: null\n    }\n  }\n};"
      },
      "id": "488132c2-12df-4f0f-acdb-5c2a115eac3d",
      "name": "Finalize Feishu Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "ee286aec-c24c-4530-a722-e24a85182114",
      "name": "Merge Feishu Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1820,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const notify = $json.feishu_notify && typeof $json.feishu_notify === 'object'\n  ? $json.feishu_notify\n  : {};\nreturn {\n  json: {\n    ...$json,\n    feishu_notify: {\n      should_dispatch: Boolean(notify.should_dispatch),\n      skipped_reason: String(notify.skipped_reason || ''),\n      status: String(notify.status || 'skipped'),\n      webhook_configured: Boolean(notify.webhook_configured),\n      notification_mode: String(notify.notification_mode || 'silent'),\n      message_format: String(notify.message_format || 'interactive_card_v2'),\n      requested_at: String(notify.requested_at || ''),\n      sent_at: String(notify.sent_at || ''),\n      message_preview: String(notify.message_preview || ''),\n      error: String(notify.error || ''),\n      response: notify.response ?? null\n    }\n  }\n};"
      },
      "id": "c223449a-536b-480b-b266-fe23b7cb3f0a",
      "name": "Return Feishu Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Notify Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Notify Candidate": {
      "main": [
        [
          {
            "node": "Build Feishu Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Feishu Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feishu Message": {
      "main": [
        [
          {
            "node": "Should Dispatch Feishu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Dispatch Feishu?": {
      "main": [
        [
          {
            "node": "Send Feishu Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Feishu Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Feishu Webhook": {
      "main": [
        [
          {
            "node": "Finalize Feishu Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Feishu Dispatch": {
      "main": [
        [
          {
            "node": "Merge Feishu Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Feishu Skipped": {
      "main": [
        [
          {
            "node": "Merge Feishu Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Feishu Result": {
      "main": [
        [
          {
            "node": "Return Feishu Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f2bc5f7d-a5b3-4829-ae42-7586fa8cf001",
  "tags": []
}
