deploy/n8n/workflows/09_feishu_notify.json
{
  "id": "9f2a6b8c0d3e4f51",
  "name": "09 Feishu Notify",
  "description": "Callable post-write notification branch: after a Vault write, push high-value summaries to Feishu as group-bot message cards when should_notify=true and FEISHU_WEBHOOK_URL is configured. It never exposes the webhook URL in downstream JSON.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1c63a8df-6f0d-4c7d-8a98-ffb33d36f1a5",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        180
      ]
    },
    {
      "parameters": {},
      "id": "a48fe829-d0d2-45a7-8df3-b8d23fa97b3e",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [\n  {\n    json: {\n      item_id: 'example-feishu-notify',\n      source_type: 'rss',\n      source_name: 'Example Feed',\n      source_display_name: 'Example Feed',\n      title: 'Example high-value item',\n      published_at: new Date().toISOString(),\n      canonical_url: 'https://example.com/high-value-item',\n      summary: '\\u8fd9\\u662f\\u4e00\\u6761\\u7528\\u4e8e\\u9a8c\\u8bc1\\u98de\\u4e66\\u5373\\u65f6\\u6458\\u8981\\u901a\\u77e5\\u683c\\u5f0f\\u7684\\u793a\\u4f8b\\u6458\\u8981\\u3002',\n      reason: 'notify_score \\u548c confidence \\u8fbe\\u5230\\u9608\\u503c\\uff0c\\u56e0\\u6b64\\u5e94\\u5728\\u5199\\u5165 Obsidian \\u540e\\u63a8\\u9001\\u98de\\u4e66\\u3002',\n      vault_path: '00_Inbox/Signal_To_Obsidian/example.md',\n      vault_write_status: 'written',\n      vault_write: 'written',\n      dedupe_action: 'full_push',\n      should_notify: false,\n      notification_mode: 'full',\n      ai_score: {\n        keep_score: 86,\n        notify_score: 88,\n        reference_score: 82,\n        action_score: 61,\n        confidence: 0.86,\n        decision_hint: 'keep_full'\n      }\n    }\n  }\n];"
      },
      "id": "c609c2c6-2468-4d98-a798-5ab2cd9b10d4",
      "name": "Example Notify Candidate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const safeString = (value) => {\n  if (value === undefined || value === null) {\n    return '';\n  }\n  return String(value).trim();\n};\n\nconst truncate = (value, maxLength = 500) => {\n  const text = safeString(value).replace(/\\s+/g, ' ');\n  if (text.length <= maxLength) {\n    return text;\n  }\n  return text.slice(0, Math.max(0, maxLength - 3)) + '...';\n};\n\nconst sanitizeLarkMd = (value) => truncate(value, 1200)\n  .replace(/<at\\b/gi, '&lt;at')\n  .replace(/<\\/at>/gi, '&lt;/at&gt;')\n  .replace(/([*_~])/g, '\\\\$1');\n\nconst toIntText = (value) => {\n  const numericValue = Number(value);\n  return Number.isFinite(numericValue) ? String(Math.round(numericValue)) : '-';\n};\n\nconst isHttpUrl = (value) => /^https?:\\/\\//i.test(safeString(value));\n\nconst webhookConfigured = Boolean(safeString($env.FEISHU_WEBHOOK_URL));\nconst shouldNotify = Boolean($json.should_notify);\nconst vaultWriteStatus = safeString($json.vault_write_status || $json.vault_write || '');\nconst notificationMode = safeString($json.notification_mode || 'silent') || 'silent';\nconst aiScore = $json.ai_score && typeof $json.ai_score === 'object' ? $json.ai_score : {};\nconst itemId = safeString($json.item_id || $json.id || '');\nconst sourceName = safeString($json.source_display_name || $json.source_name || $json.author || '');\nconst sourceType = safeString($json.source_type || $json.media_type || '');\nconst sourceLine = [sourceType, sourceName].filter(Boolean).join(' / ');\nconst title = truncate($json.title || 'Untitled', 120);\nconst summary = truncate($json.summary || $json.note_quick_take || $json.upstream_summary || '', 700);\nconst reason = truncate($json.reason || $json.note_why_useful || '', 360);\nconst canonicalUrl = safeString($json.canonical_url || '');\nconst vaultPath = safeString($json.vault_path || $json.relativeFilePath || '');\nconst dedupeAction = safeString($json.dedupe_action || '');\nconst publishedAt = safeString($json.published_at || '');\nconst keepScore = toIntText(aiScore.keep_score ?? Number($json.score || 0) * 100);\nconst notifyScore = toIntText(aiScore.notify_score);\nconst referenceScore = toIntText(aiScore.reference_score);\nconst actionScore = toIntText(aiScore.action_score);\n\nlet skippedReason = '';\nif (!webhookConfigured) {\n  skippedReason = 'missing_feishu_webhook_url';\n} else if (!shouldNotify) {\n  skippedReason = 'should_notify_false';\n} else if (vaultWriteStatus !== 'written') {\n  skippedReason = 'vault_not_written:' + (vaultWriteStatus || 'unknown');\n}\n\nconst shouldDispatch = !skippedReason;\nconst scoreLine = 'Keep ' + keepScore + ' / Notify ' + notifyScore + ' / Reference ' + referenceScore + ' / Action ' + actionScore;\nconst previewLines = [\n  '\\u3010AI \\u4fe1\\u606f\\u6458\\u8981\\u3011' + title,\n  sourceLine ? '\\u6765\\u6e90\\uff1a' + sourceLine : '',\n  publishedAt ? '\\u65f6\\u95f4\\uff1a' + publishedAt : '',\n  dedupeAction ? '\\u53bb\\u91cd\\uff1a' + dedupeAction + ' / \\u901a\\u77e5\\uff1a' + notificationMode : '\\u901a\\u77e5\\uff1a' + notificationMode,\n  '\\u8bc4\\u5206\\uff1a' + scoreLine,\n  summary ? '\\u6458\\u8981\\uff1a' + summary : '',\n  reason ? '\\u7406\\u7531\\uff1a' + reason : '',\n  vaultPath ? 'Obsidian\\uff1a' + vaultPath : '',\n  canonicalUrl ? '\\u539f\\u6587\\uff1a' + canonicalUrl : ''\n].filter(Boolean);\nconst messagePreview = previewLines.join('\\n');\n\nconst mainMarkdown = [\n  '**' + sanitizeLarkMd(title) + '**',\n  sourceLine ? '**\\u6765\\u6e90**\\uff1a' + sanitizeLarkMd(sourceLine) : '',\n  publishedAt ? '**\\u65f6\\u95f4**\\uff1a' + sanitizeLarkMd(publishedAt) : '',\n  '**\\u8bc4\\u5206**\\uff1a' + sanitizeLarkMd(scoreLine),\n  dedupeAction ? '**\\u53bb\\u91cd / \\u901a\\u77e5**\\uff1a' + sanitizeLarkMd(dedupeAction + ' / ' + notificationMode) : '**\\u901a\\u77e5**\\uff1a' + sanitizeLarkMd(notificationMode),\n  summary ? '**\\u6458\\u8981**\\n' + sanitizeLarkMd(summary) : '',\n  reason ? '**\\u7406\\u7531**\\n' + sanitizeLarkMd(reason) : '',\n  vaultPath ? '**Obsidian**\\uff1a' + sanitizeLarkMd(vaultPath) : ''\n].filter(Boolean).join('\\n\\n');\n\nconst elements = [\n  {\n    tag: 'div',\n    text: {\n      tag: 'lark_md',\n      content: mainMarkdown\n    }\n  }\n];\n\nconst actions = [];\nif (isHttpUrl(canonicalUrl)) {\n  actions.push({\n    tag: 'button',\n    text: {\n      tag: 'plain_text',\n      content: '\\u67e5\\u770b\\u539f\\u6587'\n    },\n    url: canonicalUrl,\n    type: 'primary',\n    value: {\n      button_id: 'open_source',\n      item_id: itemId\n    }\n  });\n}\n\nif (actions.length > 0) {\n  elements.push({\n    tag: 'action',\n    actions\n  });\n}\n\nreturn {\n  json: {\n    ...$json,\n    feishu_notify: {\n      should_dispatch: shouldDispatch,\n      skipped_reason: skippedReason,\n      status: shouldDispatch ? 'pending' : 'skipped',\n      webhook_configured: webhookConfigured,\n      notification_mode: notificationMode,\n      message_format: 'interactive_card',\n      requested_at: new Date().toISOString(),\n      message_preview: truncate(messagePreview, 700),\n      request_body: {\n        msg_type: 'interactive',\n        card: {\n          config: {\n            wide_screen_mode: true\n          },\n          header: {\n            template: 'blue',\n            title: {\n              tag: 'plain_text',\n              content: 'AI \\u4fe1\\u606f\\u6458\\u8981'\n            }\n          },\n          elements\n        }\n      }\n    }\n  }\n};"
      },
      "id": "2c1da19b-9988-4262-b1c1-9356a73dbf03",
      "name": "Build Feishu Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{String($json.feishu_notify.should_dispatch || false)}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "9d87737d-a3c4-4f92-a5fe-25f5153d566b",
      "name": "Should Dispatch Feishu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.FEISHU_WEBHOOK_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.feishu_notify.request_body) }}",
        "options": {}
      },
      "id": "2a0b33d5-3587-4648-b123-44ba0a0378d1",
      "name": "Send Feishu Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const original = $('Build Feishu Message').item.json || {};\nconst { feishu_notify: originalNotify = {}, ...rest } = original;\nconst response = $json && typeof $json === 'object' ? $json : {};\nconst error = typeof response.error === 'string'\n  ? response.error.trim()\n  : response.error && typeof response.error.message === 'string'\n    ? response.error.message.trim()\n    : '';\nconst responseCode = response.StatusCode ?? response.code;\nconst numericResponseCode = Number(responseCode);\nconst hasNonZeroResponseCode = responseCode !== undefined && Number.isFinite(numericResponseCode) && numericResponseCode !== 0;\nconst failed = Boolean(error) || hasNonZeroResponseCode;\n\nreturn {\n  json: {\n    ...rest,\n    feishu_notify: {\n      should_dispatch: Boolean(originalNotify.should_dispatch),\n      skipped_reason: '',\n      status: failed ? 'failed' : 'sent',\n      webhook_configured: Boolean(originalNotify.webhook_configured),\n      notification_mode: String(originalNotify.notification_mode || 'silent'),\n      message_format: String(originalNotify.message_format || 'interactive_card'),\n      requested_at: originalNotify.requested_at || '',\n      sent_at: new Date().toISOString(),\n      message_preview: String(originalNotify.message_preview || ''),\n      error: failed ? (error || 'feishu webhook returned non-zero code ' + responseCode) : '',\n      response: failed ? null : response\n    }\n  }\n};"
      },
      "id": "3e59277e-8d3b-4a9d-ae6c-f1d91ef17e4a",
      "name": "Finalize Feishu Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const { feishu_notify: originalNotify = {}, ...rest } = $json || {};\nreturn {\n  json: {\n    ...rest,\n    feishu_notify: {\n      should_dispatch: false,\n      skipped_reason: String(originalNotify.skipped_reason || 'not_requested'),\n      status: 'skipped',\n      webhook_configured: Boolean(originalNotify.webhook_configured),\n      notification_mode: String(originalNotify.notification_mode || 'silent'),\n      message_format: String(originalNotify.message_format || 'interactive_card'),\n      requested_at: originalNotify.requested_at || '',\n      sent_at: '',\n      message_preview: String(originalNotify.message_preview || ''),\n      error: '',\n      response: null\n    }\n  }\n};"
      },
      "id": "488132c2-12df-4f0f-acdb-5c2a115eac3d",
      "name": "Finalize Feishu Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "ee286aec-c24c-4530-a722-e24a85182114",
      "name": "Merge Feishu Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1820,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const notify = $json.feishu_notify && typeof $json.feishu_notify === 'object'\n  ? $json.feishu_notify\n  : {};\nreturn {\n  json: {\n    ...$json,\n    feishu_notify: {\n      should_dispatch: Boolean(notify.should_dispatch),\n      skipped_reason: String(notify.skipped_reason || ''),\n      status: String(notify.status || 'skipped'),\n      webhook_configured: Boolean(notify.webhook_configured),\n      notification_mode: String(notify.notification_mode || 'silent'),\n      message_format: String(notify.message_format || 'interactive_card'),\n      requested_at: String(notify.requested_at || ''),\n      sent_at: String(notify.sent_at || ''),\n      message_preview: String(notify.message_preview || ''),\n      error: String(notify.error || ''),\n      response: notify.response ?? null\n    }\n  }\n};"
      },
      "id": "c223449a-536b-480b-b266-fe23b7cb3f0a",
      "name": "Return Feishu Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Notify Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Notify Candidate": {
      "main": [
        [
          {
            "node": "Build Feishu Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Feishu Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Feishu Message": {
      "main": [
        [
          {
            "node": "Should Dispatch Feishu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Dispatch Feishu?": {
      "main": [
        [
          {
            "node": "Send Feishu Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Feishu Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Feishu Webhook": {
      "main": [
        [
          {
            "node": "Finalize Feishu Dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Feishu Dispatch": {
      "main": [
        [
          {
            "node": "Merge Feishu Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Feishu Skipped": {
      "main": [
        [
          {
            "node": "Merge Feishu Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Feishu Result": {
      "main": [
        [
          {
            "node": "Return Feishu Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f2bc5f7d-a5b3-4829-ae42-7586fa8cf001",
  "tags": []
}
