deploy/n8n/workflows/90_local_verify_transcript_mainline.json
{
  "id": "918c7f6da45023eb",
  "name": "90 Local Verify Transcript Mainline",
  "description": "Local-only webhook entrypoint that runs 04 -> 00 -> 02 -> 03 inside the live main instance without starting a second n8n process against the Windows bind-mounted SQLite database.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aip/local/verify-transcript-mainline",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "5c28e84f-7f12-4809-a8ad-dc3b3ae371cd",
      "name": "local-verify-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const body = $json.body && typeof $json.body === 'object' && !Array.isArray($json.body) ? $json.body : {};\nconst payload = Object.keys(body).length ? body : $json;\nconst transcriptSourceUrl = String(payload.transcript_source_url || payload.url || '').trim();\n\nif (!transcriptSourceUrl) {\n  throw new Error('transcript_source_url is required for 90_local_verify_transcript_mainline');\n}\n\nreturn {\n  json: {\n    ...payload,\n    transcript_source_url: transcriptSourceUrl,\n    source_name: String(payload.source_name || 'Local Transcript Verify').trim() || 'Local Transcript Verify',\n    source_type: String(payload.source_type || 'transcript').trim() || 'transcript',\n    media_type: String(payload.media_type || 'video').trim() || 'video',\n    published_at: payload.published_at || new Date().toISOString(),\n    obsidian_inbox_dir: String(payload.obsidian_inbox_dir || $env.OBSIDIAN_INBOX_DIR || '00_Inbox/AI_Information_Processor').trim() || '00_Inbox/AI_Information_Processor',\n    original_request: {\n      headers: $json.headers ?? {},\n      params: $json.params ?? {},\n      query: $json.query ?? {}\n    }\n  }\n};"
      },
      "id": "bba4cb2b-9aac-489c-b400-1c60f946b6ed",
      "name": "Normalize Verify Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "acb525fca8ea4dc4",
          "mode": "list",
          "cachedResultName": "04 Video Transcript Ingest"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "208526df-49f4-4ab9-a1be-eed8d0e53c28",
      "name": "04 Video Transcript Ingest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput",
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const metadata = $input.item.json && typeof $input.item.json === 'object' ? $input.item.json : {};\n\nif (typeof metadata.error === 'string' && metadata.error.trim()) {\n  return {\n    json: {\n      ok: false,\n      stage: '04_video_transcript_ingest',\n      error: metadata.error.trim(),\n      error_metadata: $input.item.metadata ?? null,\n      debug_input: $('Normalize Verify Request').item.json ?? {}\n    }\n  };\n}\n\nreturn {\n  json: {\n    ok: true,\n    ...metadata\n  }\n};"
      },
      "id": "40c84630-f5ba-4395-ab1a-5d04d2f24765",
      "name": "Return Verify Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "local-verify-webhook": {
      "main": [
        [
          {
            "node": "Normalize Verify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Verify Request": {
      "main": [
        [
          {
            "node": "04 Video Transcript Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 Video Transcript Ingest": {
      "main": [
        [
          {
            "node": "Return Verify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a8b8eada-db70-4519-95e9-721e53da657f",
  "tags": []
}
